@model Portfolio

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "  Редактирование: "+Model.Title;
}



<h2>@Model.Title</h2>


    <form asp-action="EditPortfolio" asp-controller="Portfolio" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="PortfolioID" />

        <label asp-for="Title"></label>
        <input type="text" asp-for="Title">

        <label asp-for="Link"></label>
        <input type="text" asp-for="Link">

        <label asp-for="Category"></label>
        @*<select asp-for="Category" asp-items="ViewBag.Category"></select>*@
        <select name="Category">
            <option value="@Model.Category">@Model.Category</option>
            <option value="Интернет-магазин">Интернет-магазин</option>
            <option value="Сайт визитка">Сайт визитка</option>
            <option value="Landing page">Landing page</option>
            <option value="Информационный">Информационный</option>
            <option value="Копоративный">Копоративный</option>
        </select>
        @*<input type="text" asp-for="Category">*@

        <label asp-for="Price"></label>
        <input type="text" asp-for="Price">

        <label asp-for="DevelopmentTime"></label>
        <input type="text" asp-for="DevelopmentTime">

        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>
      
        <img href="" />
        <label>Компьютер</label>
        <input type="file" name="desktop" id="file" class="input-file"><br>
        <label>Планшет</label>
        <input type="file" name="tablet" id="file" class="input-file"><br>
        <label>Сотовый</label>
        <input type="file" name="mobile" id="file" class="input-file"><br>
        <label>Превьюшка</label>
        <input type="file" name="preview" id="file" class="input-file"><br>

        <label asp-for="Image"></label>
            <input type="text" asp-for="Image" value=".jpg">

        <label asp-for="Review"></label>
        <textarea asp-for="Review"></textarea>

        <label asp-for="Meta"></label>
        <input type="text" asp-for="Meta">

        <label asp-for="Published"></label>
        <input type="checkbox" asp-for="Published">

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </form>

<form asp-action="EditPortfolio">
    <input type="hidden" asp-for="PortfolioID" />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    </div>
</form>

<div>
    <a asp-controller="Portfolio" asp-action="AllAdmin">Назад</a>
</div>