@model Portfolio

@{
    Layout = "_LayoutAdmin";
}



<h2>@Model.Title</h2>

<form asp-action="EditPortfolio">

    <input type="hidden" asp-for="PortfolioID" />

    <label asp-for="Title"></label>
    <input type="text" asp-for="Title">

    <label asp-for="Link"></label>
    <input type="text" asp-for="Link">

    <label asp-for="Category"></label>
    <select asp-for="Category" asp-items="ViewBag.Category"></select>

    <label asp-for="Price"></label>
    <input type="text" asp-for="Price">

    <label asp-for="DevelopmentTime"></label>
    <input type="text" asp-for="DevelopmentTime">

    <label asp-for="Description"></label>
    <textarea asp-for="Description"></textarea>

    <label asp-for="Image"></label>
    <input type="text" asp-for="Image">

    <label asp-for="Review"></label>
    <textarea asp-for="Review"></textarea>

    <label asp-for="Meta"></label>
    <input type="text" asp-for="Meta">

    <label asp-for="Published"></label>
    <input type="checkbox" asp-for="Published">

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</form>

<div>
    <a asp-controller="Blog" asp-action="AllPortfolioAdmin">Back</a>
</div>