@model Portfolio

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "  Редактирование: " + Model.Title;
}

@Html.Partial("_AdminButtonNavPartialView")

<h2>@Model.Title</h2>


<form class="edit-post-portfolio" asp-action="EditPortfolio" asp-controller="Portfolio" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="PortfolioID" />

    <div class="portfolo-btn-group required">
        <div class="portfolio-title">
            <label asp-for="Title"></label>
            <input type="text" asp-for="Title" required>
        </div>

        <div class="portfilo-link">
            <label asp-for="Link"></label>
            <input type="text" asp-for="Link" required>
        </div>
        <div class="portfolio-category">
            <label asp-for="Category"></label>
            @*<select asp-for="Category" asp-items="ViewBag.Category"></select>*@
            <select name="Category" required>
                <option value="@Model.Category">@Model.Category</option>
                <option value="Интернет-магазин">Интернет-магазин</option>
                <option value="Визитка">Визитка</option>
                <option value="Landing">Landing</option>
                <option value="Информационный">Информационный</option>
                <option value="Копоративный">Копоративный</option>
                <option value="Эксклюзивный">Эксклюзивный</option>
            </select>
            @*<input type="text" asp-for="Category">*@
        </div>

    </div>
    <div class="portfolo-btn-group no-required">
        <div class="porfolio-price">
            <label asp-for="Price"></label>
            <input type="text" asp-for="Price">
        </div>
        <div class="portfolio-time">
            <label asp-for="DevelopmentTime"></label>
            <input type="text" asp-for="DevelopmentTime">
        </div>
    </div>


    <div class="portfolio-description-wrap">
        <div class="portfolio-short-description">
            <label asp-for="ShortDescription"></label>
            <textarea asp-for="ShortDescription"></textarea>
        </div>
        <div class="portfolio-review">
            <label asp-for="Review"></label>
            <textarea asp-for="Review"></textarea>
        </div>
    </div>

<hr />
    <div class="portfolio-images">

        <div class="img-preview">
            <span>preview</span>
            <div class="containers">
                <div class="image-wrapper">
                    <img class="image" src="~/Files/Portfolio/Image/Preview/@Model.Image" alt="preview" />
                </div>
            </div>
            <div class="btn file-upload">
                <input type="file" name="preview" class="file-input">Выбирите файл
            </div>
        </div>

        <div class="img-desktop">
            <span>desktop</span>
            <div class="containers">
                <div class="image-wrapper">
                    <img class="image" src="~/Files/Portfolio/Image/Desktop/@Model.Image" alt="desktop" />
                </div>
            </div>
            <div class="btn file-upload">
                <input type="file" name="desktop" class="file-input">Выбирите файл
            </div>
        </div>

        <div class="img-tablet">
            <span>tablet</span>
            <div class="containers">
                <div class="image-wrapper">
                    <img class="image" src="~/Files/Portfolio/Image/Tablet/@Model.Image" alt="tablet" />
                </div>
            </div>
            <div class="btn file-upload">
                <input type="file" name="tablet" class="file-input">Выбирите файл
            </div>
        </div>

        <div class="img-mobile">
            <span>mobile</span>
            <div class="containers">
                <div class="image-wrapper">
                    <img class="image"  src="~/Files/Portfolio/Image/Mobile/@Model.Image" alt="mobile" />
                </div>
            </div>
            <div class="btn file-upload">
                <input type="file" name="mobile" class="file-input">Выбирите файл
            </div>
        </div>

    </div>

    @*<div class="portfolio-image-name">
        <label asp-for="Image"></label>
        <input type="text" asp-for="Image" value=".jpg">
    </div>*@

    <div class="portfolio-description">
        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>
    </div>



    @*<label asp-for="Meta"></label>
       <input type="text" asp-for="Meta">*@

    <label asp-for="Published"></label>
    <input type="checkbox" asp-for="Published">

    <label asp-for="SortingWeight"></label>
    <input type="number" asp-for="SortingWeight">

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</form>

<div class="btn-control-portfolio">    
        <a asp-controller="Portfolio" asp-action="AllAdmin">Назад</a>  

    <form asp-action="DeletePortfolio" class="btn-portfolio-delete">
        <input type="hidden" asp-for="PortfolioID" />
        @*<label class="btn-close" for="modal-window" aria-hidden="true">×</label>*@
        <input type="submit" value="X" class="btn-close" title="Удалить"/>
    </form>

</div>

