@*кнопки удаления,просмотра и пр*@
<div class="content-navigation">
    <div class="admin-button-group">
        <div class="btn btn-add">Сохранить</div>
        <div class="btn dtn-del">Удалить</div>
        <div class="btn btn-see">Посмотреть</div>
    </div>
</div>
