<div class="form-wrapper">
<div class="container">
    <div class="h2">Оставить заявку</div>
    <div class="small">
        Пишите нам на почту <a href="mailto:info@olxaweb.ru" class="mail">info@olxaweb.ru</a> или заполните форму ниже:
    </div class="small">
    <div class="brief-wrap">        
        <a href="#" class="btn btn-more save-brief"><i class="fa fa-file-text"></i> скачать бриф</a>
        <p>
            Скачать бриф на разработку сайта <br/> и заполнить самостоятельно
        </p>
    </div>
    <form method="post" asp-action="NewOrder" asp-controller="Order" role="form">
       
          <input type="text" name="name" placeholder="Ваше имя" />
        @*<input type="text" name="tel" placeholder="Телефон" />*@
        <input type="email" name="email" placeholder="Email" />
        <textarea name="comment" style="height:150px" placeholder="Комментарий"></textarea>
        <p class="left">
            Если у вас есть готовый бриф или ТЗ можете приложить их к письму
        </p>

        <div class="btn-form-group">
            <div class="append">
                <input type="file" name="file" id="file" class="input-file">
                <label for="file" class="js-labelFile">
                    <i class="icon fa fa-check"></i>
                    <span class="js-fileName">Прикрепить</span>
                </label>
            </div>
            @*<div class="file-upload">
                <label for="custom-file-upload" class="append">
                                <span class="append-file-name js-value">Прикрепить</span>
                                <input type="file" name="attachment-file" value="1" id="custom-file-upload" />
                            </label>
                            </div>*@
            <button type="submit" class="btn btn-long btn-ghost-more">Отправить!</button>
        </div>
    </form>
</div>
</div>