@*Портфолио для меленьких экранов*@
<div class="portfolio-galery-wrap">
    <div class="portfolio-galery-row">

        <div class="view view-second">
            <img src="http://afisha.newsler.ru/data/events/5350/8733c39c1b8b4a49c89d68f47f692e32.jpg" />
            <div class="mask"></div>
            <div class="content">
                <h2>Hover Style #2</h2>
                <p>Some description</p>
                <a href="#" class="info" asp-controller="Portfolio" asp-action="WebSite" asp-route-PortfolioID="@site.PortfolioID">Read More</a>
            </div>
        </div>

        <div class="view view-second">
            <img src="http://inoplanetyanin.ru/wp-content/uploads/2016/05/8f548db94068c6ca1711aaf1c8e48704.gif" />
            <div class="mask"></div>
            <div class="content">
                <h2>Hover Style #2</h2>
                <p>Some description</p>
                <a class="info">Read More</a>
            </div>
        </div>

        <div class="view view-second">
            <img src="http://inoplanetyanin.ru/wp-content/uploads/2016/05/8f548db94068c6ca1711aaf1c8e48704.gif" />
            <div class="mask"></div>
            <div class="content">
                <h2>Hover Style #2</h2>
                <p>Some description</p>
                <a href="#" class="info">Read More</a>
            </div>
        </div>
        <div class="view view-second">
            <img src="http://thewallpaper.co/wp-content/uploads/2016/10/Wallpapers-HD-Forest-hd-desktop-wallpapers-amazing-windows-1920x1080.jpg" />
            <div class="mask"></div>
            <div class="content">
                <h2>Hover Style #2</h2>
                <p>Some description</p>
                <a href="#" class="info">Read More</a>
            </div>
        </div>

        <div class="view view-second">
            <img src="http://www.hotimsk.by/wp-content/uploads/2017/02/relevant102.jpg" />
            <div class="mask"></div>
            <div class="content">
                <h2>Hover Style #2</h2>
                <p>Some description</p>
                <a href="#" class="info">Read More</a>
            </div>
        </div>
        
    </div>
</div>

