<!DOCTYPE html>



<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OlxaWebCore</title>
    <environment names="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link rel="stylesheet" href="~/css/styles.css" />


    </environment>

    <environment names="Staging,Production">
        <!--подключить минимизированные стили,перед запуском-->
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @*@Html.ApplicationInsightsJavaScript(TelemetryConfiguration)*@




</head>
<body>



    <div class="wrapper">
        <header>
            <div class="header">

                <div class="nav-toggle"><span></span></div> <!--для мобильных-->
                @*<div class="toolbar container">
                        <a asp-action="Register" asp-controller="Account">Зарегистрируйся</a>
                        <a asp-action="Login" asp-controller="Account"class="btn">Вход</a>
                    </div>*@

            </div>

            <div class="navigation">
                <nav class="container">
                    <div class="logo">
                        <a asp-controller="Home" asp-action="Index"><img src="~/images/2017-06-05_22-10-40.png" width="100" height="30"></a>
                    </div>
                    <ul class="main-menu">
                        <li class="main-menu__item"><a asp-area="" asp-controller="Portfolio" asp-action="All" class="link">Портфолио</a></li>
                        <li class="main-menu__item">
                            <a asp-area="" asp-controller="Home" asp-action="Price" class="link">Создать Сайт</a>
                            <ul class="submenu">
                                <li class="submenu__item"><a asp-area="" asp-controller="Web_sites" asp-action="Promosite">Сайт-визитка</a></li>
                                <li class="submenu__item"><a asp-area="" asp-controller="Web_sites" asp-action="Landing">Лендинг</a></li>
                                <li class="submenu__item"><a asp-area="" asp-controller="Web_sites" asp-action="Corporate">Корпоративный</a></li>
                                <li class="submenu__item"><a asp-area="" asp-controller="Web_sites" asp-action="Shop">Интернет магазин</a></li>
                                <li class="submenu__item"><a asp-area="" asp-controller="Web_sites" asp-action="Information">Информационный</a></li>
                            </ul>
                        </li>
                        <li class="main-menu__item"><a asp-controller="Service" asp-action="AllService" class="link">Услуги / Цены</a></li>
                        <li class="main-menu__item">
                            <a asp-area="" asp-controller="Home" asp-action="About" class="link">О нас</a>
                            <ul class="submenu">
                                <li class="submenu__item"><a asp-controller="Home" asp-action="Contact">Контакты</a></li>
                                <li class="submenu__item"><a href="#">Этапы работы/сроки</a></li>
                                <li class="submenu__item"><a asp-area="" asp-controller="Blog" asp-action="AllPosts" asp-route-category="">Блог</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            @*<div class="container">
                    <div class="inner">
                        <div class="title">
                            <h1>Сайт визитка</h1>
                        </div>
                        <div class="breadcrumbs">
                            <a href="#">Цены</a> <span class="delimiter"><i class="fa fa-arrow-right"></i></span> <span>Сайт-визитка</span>
                        </div>
                    </div>
                </div>*@
        </header>
        @*<div class="navbar navbar-inverse navbar-fixed-top
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">OlxaWebCore</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                        </ul>
                                    @await Html.PartialAsync("_LoginPartial")

                    </div>
                </div>
            </div>*@
        <main>
            @RenderBody()
        </main>

        <footer>
            @*<div class="top-footer">
                    <div class="container">
                        <div class="tools">
                            <div class="tools-item">
                                <img src="" alt="Email">
                                <span><a href="mailto:nfo@olxaweb.ru">info@olxaweb.ru</a></span>
                            </div>
                            <div class="tools-item">
                                <i><img src="" alt="Телефон"></i>
                                <span><a href="#">555-555-55-55</a></span>
                            </div>
                            <div class="tools-item">
                                <i><img src="" alt="Чат"></i>
                                <span><a href="#">Живой чат</a></span>
                            </div>
                            <form action="" method="post">
                                <label for="email"></label>
                                <input type="email" class="form-control" id="email" placeholder="Ваш email" />
                                <button type="submit"></button>
                            </form>
                        </div>
                    </div>
                </div>*@ <!--top-footer-->
            <div class="bottom-footer">
                <div class="container">
                    <div class="footer-info">
                        <div class="info-item">
                            <img src="~/images/2017-06-05_22-10-40.png" width="100" height="30">
                            <p>
                                Мы занимаемся созданием веб сайтов на Asp .NET фреймворке.

                            </p>
                        </div>
                        <div class="info-item">
                            <h3> О Нас </h3>
                            <ul>

                                @*<li><a href="#">Помощь</a></li>*@

                                <li><a>Как мы работаем</a></li>
                                <li><a asp-controller="Home" asp-action="Contact">Контакты</a></li>
                                <li><a asp-controller="Service" asp-action="AllService">Услуги и цены</a></li>
                                <li><a asp-controller="Blog" asp-action="AllPosts">Блог</a></li>
                                <li><a asp-controller="Portfolio" asp-action="All">Портфолио</a></li>
                                @*<li><a asp-action="Register" asp-controller="Account">Зарегистрируйся</a>                                </li>
                                    <li><a asp-action="Login" asp-controller="Account">Вход</a></li>*@
                            </ul>
                        </div>
                        <div class="info-item">
                            <h3>Создание сайтов</h3>
                            <ul>
                                <li><a asp-controller="Web_sites" asp-action="Promosite">Сайт-визитка</a></li>
                                <li><a asp-controller="Web_sites" asp-action="Landing">Landing Page</a></li>
                                <li><a asp-controller="Web_sites" asp-action="Corporate">Корпоративный</a></li>
                                <li><a asp-controller="Web_sites" asp-action="Shop">Интернет-магазин</a></li>
                                <li><a asp-controller="Web_sites" asp-action="Information">Информационный</a></li>
                            </ul>
                        </div>
                       <div class="info-item">
                          @*  <h3>Продвижение и поддержка сайтов</h3>
    <ul>
            <li><a asp-area="" asp-controller="Blog" asp-action="AllPosts">Блог</a></li>
            <li><a href="#">Помощь</a></li>
            <li><a href="#">Связь с нами</a></li>
            <li><a href="#">Оплата</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>*@
    </div>
                    </div> <!--footer-info-->
                    <div class="copyright">
                        <div class="copy">
                            <p>
                                <a asp-action="OrderList" asp-controller="Order">OlxaWeb</a> 2016-2017
                            </p>
                        </div>
                    </div>
                </div> <!--container-->
            </div> <!--bottom-footer-->
        </footer>

        <div id="toTop">
            <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
        </div>
    </div> <!--wrapper-->
    <!-- Модальное окно -->
    @*<div class="modal">
            <input class="modal-open" id="modal-window" type="checkbox" hidden>
            <div class="modal-wrap" aria-hidden="true" role="dialog">
                <label class="modal-overlay" for="modal-window"></label>
                <div class="modal-dialog">
                    <div class="modal-header">
                        <h4>Контактная информация </h4>
                        <label class="btn-close" for="modal-window" aria-hidden="true">×</label>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="" id="shop_order" class="modal-form" role="form">
                            <section class="information">
                                <input type="text" placeholder="Имя" />
                                <input type="tel" placeholder="Телефон" />
                                <input type="email" placeholder="Email" />
                                <p>*выбирите наиболее предпочтительный вид связи</p>
                            </section>
                            <section class="comment">
                                <textarea name="comment" style="height:150px" placeholder="Комментарий"></textarea>
                                <div class="file">
                                    <p>
                                        Если у вас есть готовый бриф или ТЗ можете приложить их к письму
                                    </p>

                                    <div class="file_upload">
                                        <button type="button">Выбрать</button>
                                        <div>Файл не выбран</div>
                                        <input type="file">
                                    </div>
                                    <div class="capcha">
                                        тут капча
                                    </div>
                                </div>
                            </section>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <label class="btn " for="modal-window">Отправить!</label>
                    </div>
                </div>
            </div>
        </div>*@

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jqueri-ui/jquery-ui.min.js"></script>


        @*CDN.нет файла на сервере -фильтр в портфолио*@
        <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

        @*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
        <script src="~/js/scripts.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>

        @*<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>*@

        <script src="~/js/scripts.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)

    <script src="https://use.fontawesome.com/cb108ea3bb.js"></script>

    @*<script>
            //активная ссылка
            $(".link").click(function (e) {
                e.preventDefault();
                $("link").removeClass('active');
                $(this).addClass('active');
            })
        </script>*@

    <script>
        $(function () {                             // когда страница загружена
            $('.main-menu li a').each(function () {      // проходим по нужным нам ссылками
                var location = window.location.href // переменная с адресом страницы
                var link = this.href                // переменная с url ссылки
                var result = location.match(link);  // результат возвращает объект если совпадение найдено и null при обратном

                if (result != null) {                // если НЕ равно null
                    $(this).addClass('active');    // добавляем класс
                }
            });
        });
    </script>

</body>

</html>



