<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OlxaWebCore</title>

    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

</head>
<body>
    <div class="wrapper">

        <header>
            <div class="logo">
                <img src="img/logo.png" width="100" height="30" />
            </div>
            <div class="navigation">
                <div class="container">
                    <nav>
                        <ul class="main-menu">
                            <li class="main-menu__item"><a asp-controller="Portfolio" asp-action="All" asp-route-page="1" class="link">Портфолио</a></li>
                            <li class="main-menu__item">
                                <a href="#" class="link">Цены</a>
                                <ul class="submenu">
                                    <li class="submenu__item"><a href="#">Сайт-визитка</a></li>
                                    <li class="submenu__item"><a href="#">Лендинг</a></li>
                                    <li class="submenu__item"><a href="#">Корпоративный</a></li>
                                    <li class="submenu__item"><a href="#">Интернет магазин</a></li>
                                    <li class="submenu__item"><a href="#">Информационный</a></li>
                                </ul>
                            </li>
                            <li class="main-menu__item">
                                <a href="#" class="link">О нас</a>
                                <ul class="submenu">
                                    <li class="submenu__item"><a href="#">Контакты</a></li>
                                    <li class="submenu__item"><a href="#">Этапы работы/сроки</a></li>
                                    <li class="submenu__item"><a href="#">Блог</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!--<div class="breadcrams">

            </div>-->

        </header>

        <main>
             @RenderBody()
        </main>

        <footer>
            <div class="top-footer">
                <div class="container">
                    <div class="tools">

                        <div class="tools-item">
                            <img src="" alt="Email">
                            <span><a href="mailto:nfo@olxaweb.ru">info@olxaweb.ru</a></span>
                        </div>

                        <div class="tools-item">
                            <i><img src="" alt="Телефон"></i>
                            <span><a href="#">555-555-55-55</a></span>
                        </div>

                        <div class="tools-item">
                            <i><img src="" alt="Чат"></i>
                            <span><a href="#">Живой чат</a></span>
                        </div>

                        <form action="" method="post">
                            <label for="email"></label>
                            <input type="email" class="form-control" id="email" placeholder="Ваш email" />
                            <button type="submit"></button>
                        </form>
                    </div>

                </div> <!--container-->
            </div> <!--top-footer-->

            <div class="bottom-footer">
                <div class="container">
                    <div class="footer-info">
                        <div class="info-item">
                            <img src="img/logo.png" width="100" height="30" />
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s.
                            </p>
                        </div>
                        <div class="info-item">
                            <h3> О Нас </h3>
                            <ul>
                                <li><a href="#">OlxaWeb</a></li>
                                <li><a href="#">Оплата</a></li>
                                <li><a href="#">Контакты</a></li>
                            </ul>
                        </div>
                        <div class="info-item">
                            <h3>Создание сайтов</h3>
                            <ul>
                                <li><a href="#">Аренда</a></li>
                                <li><a href="#">Покупка</a></li>
                                <li><a href="#">Разработка</a></li>
                            </ul>
                        </div>
                        <div class="info-item">
                            <h3>Почитать</h3>
                            <ul>
                                <li><a href="#">Блог</a></li>
                                <li><a href="#">Помощь</a></li>
                                <li><a href="#">Связь с нами</a></li>
                            </ul>
                        </div>
                    </div> <!--footer-info-->

                    <div class="copyright">
                        <div class="copy">
                            <p>
                                &copy; OlxaWeb 2016-2017
                            </p>
                        </div>
                    </div>
                </div> <!--container-->
            </div> <!--bottom-footer-->

        </footer>


        <div id="toTop">
            <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
        </div>

    </div> <!--wrapper-->
    
       


    <environment names="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        @*<script src="~/js/site.min.js" asp-append-version="true"></script>*@         
    </environment>
       


        <!--прокрутка наверх-->
        <script>
            $(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() != 0) {
                        $('#toTop').fadeIn();
                    }
                    else {
                        $('#toTop').fadeOut();
                    }
                });
                $('#toTop').click(function () {
                    $('body,html').animate({ scrollTop: 0 }, 600);
                });
            });
        </script>

        <!--фиксируем меню-->
        <script>
            // element = $('.logo');
            //height = element.css('height');
            var h_hght = 100; // высота шапки
            var h_mrg = 0;    // отступ когда шапка уже не видна

            $(function () {

                var elem = $('.navigation');
                var top = $(this).scrollTop();

                if (top > h_hght) {
                    elem.css('top', h_mrg);
                }

                $(window).scroll(function () {
                    top = $(this).scrollTop();

                    if (top + h_mrg < h_hght) {
                        elem.css('top', (h_hght - top));
                    } else {
                        elem.css('top', h_mrg);
                    }
                });

            });
        </script>

        <!--/*активная ссылка*/-->
        <script>
            $(".link").click(function (e) {
                e.preventDefault();
                $("link").removeClass('active');
                $(this).addClass('active');
            })
        </script>

        <script src="~/lib/prefixfree.min.js"></script>

        <script src="https://use.fontawesome.com/cb108ea3bb.js"></script>

        @*@RenderSection("scripts", required: false)*@
</body>
</html>
