<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <environment names="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <script src="~/lib/tinymce/tinymce.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>

        <link rel="stylesheet" href="~/css/styles.css" />
    </environment>

    <environment names="Staging,Production">
        <!--подключить минимизированные стили,перед запуском-->
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>


    <div class="wrapper-admin">
        <div class="admin-header-wrap">
            <i class="fa fa-sun-o logo" aria-hidden="true"></i>
            <header class="header-admin" role="banner">
                <h1>@ViewData["Title"]</h1>
                <ul>
                    <li><a asp-action="index" asp-controller="home">Посмотреть</a></li>
                </ul>
            </header>
        </div>
        <main class="admin-control">
            <nav class="navigation-admin" role="navigation">
                <ul class="admim-nav">
                    <li><a asp-controller="Order" asp-action="OrderList">Заказы</a></li>
                    <li><a asp-controller="Service" asp-action="AllServiceAdmin">Услуги</a></li>
                    <li><a asp-controller="Portfolio" asp-action="AllAdmin">Портфолио</a></li>
                    <li><a asp-controller="Blog" asp-action="AllPostsAdmin">Блог</a></li>
                    <li><a asp-controller="Product" asp-action="AllProductsAdmin">Готовые решения</a></li>
                    <li><a href="~/lib/rich-filemanager/index.html">Файловый менеджер</a></li>
                </ul>
            </nav>
            <article class="admin-content">
                <section class="content">
                    <div class="panel-group">
                        @RenderSection("ControlPanel", false)
                    </div>
                    @RenderBody()
                </section>
            </article>
        </main>
    </div>


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jqueri-ui/jquery-ui.min.js"></script>
        <script src="~/lib/colResizable-1.6.min.js"></script> @*библиотека таблиц*@
        <script src="~/js/admin_scripts.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/js/admin_scripts.js" asp-append-version="true"></script>
    </environment>

    <script src="https://use.fontawesome.com/cb108ea3bb.js"></script>
</body>
</html>
