@{
    Layout = "_LayoutLibrary";
}

    <div class="wrapper">
        @Html.Partial("_HeaderPartialView")

        <main>
            @RenderBody()
        </main>

        @Html.Partial("_FooterPartialView")

        <div id="toTop">
            <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
        </div>
    </div> <!--wrapper-->

    @RenderSection("scripts", required: false)


