
@{
}
<div class="develop-tutle-wrap">
    <h3 class="develop-title">
        Данный раздел еще находится в разработке
    </h3>
    <div class="container-timing">
        <div class="compu">
            <span class="brow"></span>
            <div class="a">
                <span class="l1"></span>
                <span class="l2"></span>
                <span class="l3"></span>
                <span class="l4"></span>
                <span class="l5"></span>
                <span class="l6"></span>
                <span class="l7"></span>
            </div>
            <div class="b">
                <span class=d1></span>
                <span class=d2></span>
                <span class=d3></span>
                <span class=d4></span>
                <span class=d5></span>
            </div>
        </div>
    </div>
</div>