<div class="develop-wrapper">
    <section class="description-develop-wrap">
        <div class="description-inner-title">
            <h2>Схема сотрудничества</h2>
        </div>
        <div class="description-inner">
            <p>
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor,
                metus vel.
            </p>
        </div>
    </section>
    <section class="develop">
        <div class="step-develop-wrap">

            <div id="develop-tabs">
                <ul id="develop-accordion">
                    <li>
                        <a class="active" href="#tabs-1">
                            <div class="tag">
                                <div class="icon">
                                    <div class="block">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <span class="title">Как мы работаем</span>
                            </div>
                        </a>
                        <div class="addon fadein">
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </span>
                            <a class="para-a" href="#">Learn More</a>
                        </div>
                    </li>
                    <li>
                        <a href="#tabs-2">
                            <div class="tag">
                                <div class="icon">
                                    <div class="block">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <span class="title">Сбор информации</span>
                            </div>
                        </a>
                        <div class="addon">
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </span>
                            <a class="para-a" href="#">Learn More</a>
                        </div>
                    </li>
                    <li>
                        <a href="#tabs-3">
                            <div class="tag">
                                <div class="icon">
                                    <div class="block">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <span class="title">Проектирование</span>
                            </div>
                        </a>
                        <div class="addon">
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </span>
                            <a class="para-a" href="#">Learn More</a>
                        </div>
                    </li>
                    <li>
                        <a href="#tabs-4">
                            <div class="tag">
                                <div class="icon">
                                    <div class="block">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <span class="title">Дизайн</span>
                            </div>
                        </a>
                        <div class="addon">
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </span>
                            <a class="para-a" href="#">Learn More</a>
                        </div>
                    </li>
                    <li>
                        <a href="#tabs-5">
                            <div class="tag">
                                <div class="icon">
                                    <div class="block">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <span class="title">Верстка</span>
                            </div>
                        </a>
                        <div class="addon">
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </span>
                            <a class="para-a" href="#">Learn More</a>
                        </div>
                    </li>
                    <li>
                        <a href="#tabs-6">
                            <div class="tag">
                                <div class="icon">
                                    <div class="block">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <span class="title">Программирование</span>
                            </div>
                        </a>
                        <div class="addon">
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </span>
                            <a class="para-a" href="#">Learn More</a>
                        </div>
                    </li>
                    <li>
                        <a href="#tabs-7">
                            <div class="tag">
                                <div class="icon">
                                    <div class="block">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <span class="title">Тестирование</span>
                            </div>
                        </a>
                        <div class="addon">
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </span>
                            <a class="para-a" href="#">Learn More</a>
                        </div>
                    </li>
                    <li>
                        <a href="#tabs-8">
                            <div class="tag">
                                <div class="icon">
                                    <div class="block">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <span class="title">Сдача проекта</span>
                            </div>
                        </a>
                        <div class="addon">
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </span>
                            <a class="para-a" href="#">Learn More</a>
                        </div>
                    </li>
                    <li>
                        <a href="#tabs-9">
                            <div class="tag">
                                <div class="icon">
                                    <div class="block">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <span class="title">Поддержка</span>
                            </div>
                        </a>
                        <div class="addon">
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </span>
                            <a class="para-a" href="#">Learn More</a>
                        </div>
                    </li>
                </ul>
                <div class="browser">
                    <div class="top-bar">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                    <div id="tabs-1"></div>
                    <div id="tabs-2"></div>
                    <div id="tabs-3"></div>
                    <div id="tabs-4"></div>
                    <div id="tabs-5"></div>
                    <div id="tabs-6"></div>
                    <div id="tabs-7"></div>
                    <div id="tabs-8"></div>
                    <div id="tabs-9"></div>
                </div>
            </div>

        </div>
    </section>   
</div>


@*<div class="steps-develop-wrap">
    <h2>Схема сотрудничества</h2>
    <div class="container">
        <div class="tabs-develop" role="tab">
            <input id="tab-dl-1" type="radio" name="tab-dl" checked="checked"/>
            <input id="tab-dl-2" type="radio" name="tab-dl"/>
            <input id="tab-dl-3" type="radio" name="tab-dl"/>
            <input id="tab-dl-4" type="radio" name="tab-dl"/>
            <input id="tab-dl-5" type="radio" name="tab-dl"/>
            <input id="tab-dl-6" type="radio" name="tab-dl"/>
            <input id="tab-dl-7" type="radio" name="tab-dl"/>
            <input id="tab-dl-8" type="radio" name="tab-dl"/>
            <input id="tab-dl-9" type="radio" name="tab-dl"/>


            <div class="label-develop-wrap">
                <label for="tab-dl-1" id="tab-dl-l1">Как мы работаем</label>
                <label for="tab-dl-2" id="tab-dl-l2">Сбор информации</label>
                <label for="tab-dl-3" id="tab-dl-l3">Проектирование</label>
                <label for="tab-dl-4" id="tab-dl-l4">Дизайн</label>
                <label for="tab-dl-5" id="tab-dl-l5">Верстка</label>
                <label for="tab-dl-6" id="tab-dl-l6">Программирование</label>
                <label for="tab-dl-7" id="tab-dl-l7">Тестирование</label>
                <label for="tab-dl-8" id="tab-dl-l8">Сдача проекта</label>
                <label for="tab-dl-9" id="tab-dl-l9">Поддержка</label>
            </div>

            <div id="border-dl">
                <div id="line-dl"></div>
            </div>

            <div class="tabs-develop-cont">
                <div id="tab-dl-c1">
                    <h2>Как мы работаем</h2>
                    <p>
                        Чтобы заказать у нас сайт, Вам необходимо заполнить форму обратной связи. Несколько простых вопросов, которые находятся в брифе, помогут нам понять, чем занимается Ваша компания, и быстро предложить наиболее оптимальное решение.
                        Мы не заставим вас долго ждать.
                    </p>
                </div>
                <div id="tab-dl-c2">
                    <h2>Сбор информации</h2>
                    <p>
                        После получения заявки на создание сайта мы связываемся с Вами для:
                        <ul>
                            <li>-уточнения и обсуждения дополнительных вопросов</li>
                            <li>-Предложения наиболее оптимального решения</li>
                            <li>-получения от Вас исходных материалов (текстовых документов, графики)</li>
                            <li>-для выбора наиболее удобного способа и варианта оплаты</li>
                        </ul>
                        [На этом этапе оплачивается 50%]
                    </p>
                </div>
                <div id="tab-dl-c3">
                    <h2>Проектирование</h2>
                    <p>
                        После того как мы узнали о целях создания Вашего сайта и
                        личных предпочтениях, мы создаём первый вариант дизайна.

                        Если первый вариант дизайна Вам понравился, и Вы его
                        утверждаете, то он передаётся на следующий этап, если же нет, то учитывая Ваши замечания и пожелания подготавливаем второй вариант дизайна.
                    </p>
                </div>
                <div id="tab-dl-c4">
                    <h2>Дизайн</h2>
                    <p>По утверждённому макету верстаются html страницы </p>
                </div>
                <div id="tab-dl-c5">
                    <h2>Верстка</h2>
                    <p>
                        Ваш сайт публикуется на хостинге, где производится настройка
                        системы управления контентом, добавляются необходимые модули, подключается шаблон и производится размещение предоставленного контента. После чего передаётся на этап тестирования.
                    </p>

                </div>
                <div id="tab-dl-c6">
                    <h2>Программирование</h2>
                    <p>
                        <ul>
                            <li>-На этапе тестирования сайт проверяется на корректность работы функциональных модулей, правильность отображения страниц в различных браузерах и качество реализации бизнес-логики, исследуется юзабилити сайта и тд.</li>
                            <li>-В случае обнаружения ошибок они сразу же исправляются в приоритетном порядке.</li>
                            <li>-После успешного тестирования и получения оплаты Вам передаются все пароли для доступа к админке сайта и хостингу.</li>
                        </ul>
                        <span>[На этом этапе оплачивается 50%]</span>
                    </p>
                </div>
                <div id="tab-dl-c7">
                    <h2>Тестирование</h2>
                    <p>
                        <ul>
                            <li>-После выкладки сайта осуществляется консультационная и техническая поддержка. В случае обнаружения ошибки в работе сайта или возникновения вопроса вы всегда сможете обратиться к нам. Ошибки не выявленные на этапе тестирования исправляются бесплатно в приоритетном порядке</li>
                            <li>-Необходимые доработки по сайту оплачиваются отдельно из расчета действующей на момент обращения стоимости часа.</li>
                        </ul>
                    </p>
                </div>
                <div id="tab-dl-c8">
                    <h2>Сдача проекта</h2>
                    <p>
                        это 8
                    </p>
                </div>
                <div id="tab-dl-c9">
                    <h2>Поддержка</h2>
                    <p>
                        это 9
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>*@