<div class="container">
    <div class="wrapper-col">
        <div class="steps_wrap">
            <div class="box color flex-col">
                <a href="#prev" class="btn-pre btn"><img class="move-up" src="http://iconshow.me/media/images/ui/ios7-icons/png/48/arrow-up.png"></a><br />
                <div id="years" style="display: none;"><p>YEARS</p></div>
                <div class="title-wrap">
                    <ul id="milestones">
                        <li class="highlight"><a href="#">2005</a></li>
                        <li><a href="#">2006</a></li>
                        <li><a href="#">2007</a></li>
                        <li><a href="#">2008</a></li>
                        <li><a href="#">2009</a></li>
                        <li class="highlight"><a href="#">2010</a></li>
                    </ul>
                </div>

                <div class="content" style="display: none;">
                    <ul id="timeline" class="vertigo">
                        <li>
                            <p class="text-center">
                                2005 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </li>

                        <li>
                            <p>
                                2006 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </li>

                        <li>
                            <p>2007<br /><img src="http://placehold.it/350x150"></p>
                        </li>

                        <li>
                            <p><img src="http://placehold.it/400x200"></p>
                        </li>

                        <li>
                            <p>
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </li>

                        <li>
                            <p>
                                2010 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </li>
                    </ul>
                </div>

                <a href="#next" class="btn-next btn"><img class="move-down" src="http://iconshow.me/media/images/ui/ios7-icons/png/48/arrow-down.png"></a>
            </div>
        </div>
    </div> 
</div>
