@*<div class="container">*@
    <div class="steps-wrap">
        
        <header>
            <div id="steps">
                <div data-step="1" class="active">I</div>
                <div data-step="2">II</div>
                <div data-step="3">III</div>
                <div data-step="4">IV</div>
                <div data-step="5">V</div>
            </div>
        </header>

        <div class="article_container">
            <article class="active">
                <h2>Шаг 1: Заявка на создани сайта</h2>
                <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
            </article>
            <article class="active_p_1">
                <h2>STEP 2: EFFICIENTLY</h2>
                <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
            </article>
            <article class="active_p_2">
                <h2>STEP 3: COMPLETELY</h2>
                <p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
            </article>
            <article class="active_p_2">
                <h2>STEP 4: OBJECTIVELY</h2>
                <p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</p>
            </article>
            <article class="active_p_2">
                <h2>STEP 5: PROACTIVELY</h2>
                <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products.</p>
            </article>
        </div>
    </div>
    
@*</div>*@
