<div class="steps-wrap">
    <h2>Схема сотрудничества</h2>
    <div class="container">
        <div class="tabs" role="tab">
            <input id="tab_1" type="radio" name="tab" checked="checked" />
            <input id="tab_2" type="radio" name="tab" />
            <input id="tab_3" type="radio" name="tab" />
            <input id="tab_4" type="radio" name="tab" />
            <input id="tab_5" type="radio" name="tab" />


            <div class="label-wrap">
                <label for="tab_1" id="tab_l1"><p>Как мы работаем</p></label>
                <label for="tab_2" id="tab_l2"><p>Получение информации</p></label>
                <label for="tab_3" id="tab_l3"><p>Настройка сайта</p></label>
                <label for="tab_4" id="tab_l4"><p>Запуск сайта</p></label>
                <label for="tab_5" id="tab_l5"><p>Поддержка</p></label>
            </div>

            <div id="border">
                <div id="line"></div>
            </div>

            <div class="tabs_cont">
                <div id="tab_c1">
                    <h2>Как мы работаем</h2>
                    <p>
                        Чтобы заказать у нас сайт, Вам необходимо заполнить форму обратной связи. Несколько простых вопросов, которые находятся в брифе, помогут нам понять, чем занимается Ваша компания, и быстро предложить наиболее оптимальное решение.
                        Мы не заставим вас долго ждать.
                    </p>
                </div>
                <div id="tab_c2">
                    <h2>Получение информации</h2>
                    <p>
                        После получения заявки на создание сайта мы связываемся с Вами для:
                        <ul>
                            <li>-уточнения и обсуждения дополнительных вопросов</li>
                            <li>-Предложения наиболее оптимального решения</li>
                            <li>-получения от Вас исходных материалов (текстовых документов, графики)</li>
                            <li>-для выбора наиболее удобного способа и варианта оплаты</li>
                        </ul>
                        [На этом этапе оплачивается 50%]
                    </p>
                </div>
                <div id="tab_c3">
                    <h2>Настройка сайта</h2>
                        <p>
                            После того как мы узнали о целях создания Вашего сайта и
                            личных предпочтениях, мы создаём первый вариант дизайна.

                            Если первый вариант дизайна Вам понравился, и Вы его
                            утверждаете, то он передаётся на следующий этап, если же нет, то учитывая Ваши замечания и пожелания подготавливаем второй вариант дизайна.
                        </p>
                    </div>
                    <div id="tab_c4">
                        <h2>Запуск сайта</h2>
                        <p>По утверждённому макету верстаются html страницы </p>
                    </div>
                <div id="tab_c5">
                    <h2>Поддержка</h2>
                    <p>
                        Ваш сайт публикуется на хостинге, где производится настройка
                        системы управления контентом, добавляются необходимые модули, подключается шаблон и производится размещение предоставленного контента. После чего передаётся на этап тестирования.
                    </p>

                </div>
                @*<div id="tab_c6">
                    <p>
                        <ul>
                            <li>-На этапе тестирования сайт проверяется на корректность работы функциональных модулей, правильность отображения страниц в различных браузерах и качество реализации бизнес-логики, исследуется юзабилити сайта и тд.</li>
                            <li>-В случае обнаружения ошибок они сразу же исправляются в приоритетном порядке.</li>
                            <li>-После успешного тестирования и получения оплаты Вам передаются все пароли для доступа к админке сайта и хостингу.</li>
                        </ul>
                        <span>[На этом этапе оплачивается 50%]</span>
                    </p>
                </div>
                <div id="tab_c7">
                    <p>
                        <ul>
                            <li>-После выкладки сайта осуществляется консультационная и техническая поддержка. В случае обнаружения ошибки в работе сайта или возникновения вопроса вы всегда сможете обратиться к нам. Ошибки не выявленные на этапе тестирования исправляются бесплатно в приоритетном порядке</li>
                            <li>-Необходимые доработки по сайту оплачиваются отдельно из расчета действующей на момент обращения стоимости часа.</li>
                        </ul>
                    </p>
                </div>*@
            </div>
        </div>
    </div>
</div>