<div class="steps-create-wrap">
    <h2>Схема сотрудничества</h2>
    <div class="container">
        <div class="tabs-create" role="tab">
            <input id="tab-cr-1" type="radio" name="tab-cr" checked="checked" />
            <input id="tab-cr-2" type="radio" name="tab-cr" />
            <input id="tab-cr-3" type="radio" name="tab-cr" />
            <input id="tab-cr-4" type="radio" name="tab-cr" />
            <input id="tab-cr-5" type="radio" name="tab-cr" />
            <input id="tab-cr-6" type="radio" name="tab-cr" />            


            <div class="label-create-wrap">
                <label for="tab-cr-1" id="tab-cr-l1">Как мы работаем</label>
                <label for="tab-cr-2" id="tab-cr-l2">Сбор информации</label>
                <label for="tab-cr-3" id="tab-cr-l3">Дизайн</label>
                <label for="tab-cr-4" id="tab-cr-l4">Создание сайта</label>
                <label for="tab-cr-5" id="tab-cr-l5">Сдача проекта</label>
                <label for="tab-cr-6" id="tab-cr-l6">Поддержка</label>
               
            </div>

            <div id="border-cr">
                <div id="line-cr"></div>
            </div>

            <div class="tabs-cont-create">
                <div id="tab-cr-c1">
                    <h2>Как мы работаем</h2>
                    <p>
                        Чтобы заказать у нас сайт, Вам необходимо заполнить форму обратной связи. Несколько простых вопросов, которые находятся в брифе, помогут нам понять, чем занимается Ваша компания, и быстро предложить наиболее оптимальное решение.
                        Мы не заставим вас долго ждать.
                    </p>
                </div>
                <div id="tab-cr-c2">
                    <h2>Сбор информации</h2>
                    <p>
                        После получения заявки на создание сайта мы связываемся с Вами для:
                        <ul>
                            <li>-уточнения и обсуждения дополнительных вопросов</li>
                            <li>-Предложения наиболее оптимального решения</li>
                            <li>-получения от Вас исходных материалов (текстовых документов, графики)</li>
                            <li>-для выбора наиболее удобного способа и варианта оплаты</li>
                        </ul>
                        [На этом этапе оплачивается 50%]
                    </p>
                </div>
                <div id="tab-cr-c3">
                    <h2>Дизайн</h2>
                    <p>
                        После того как мы узнали о целях создания Вашего сайта и
                        личных предпочтениях, мы создаём первый вариант дизайна.

                        Если первый вариант дизайна Вам понравился, и Вы его
                        утверждаете, то он передаётся на следующий этап, если же нет, то учитывая Ваши замечания и пожелания подготавливаем второй вариант дизайна.
                    </p>
                </div>
                <div id="tab-cr-c4">
                    <h2>Создание сайта</h2>
                    <p>По утверждённому макету верстаются html страницы </p>
                </div>
                <div id="tab-cr-c5">
                    <h2>Сдача проекта</h2>
                    <p>
                        Ваш сайт публикуется на хостинге, где производится настройка
                        системы управления контентом, добавляются необходимые модули, подключается шаблон и производится размещение предоставленного контента. После чего передаётся на этап тестирования.
                    </p>

                </div>
                <div id="tab-cr-c6">
                    <h2>Поддержка</h2>
                    <p>
                        <ul>
                            <li>-На этапе тестирования сайт проверяется на корректность работы функциональных модулей, правильность отображения страниц в различных браузерах и качество реализации бизнес-логики, исследуется юзабилити сайта и тд.</li>
                            <li>-В случае обнаружения ошибок они сразу же исправляются в приоритетном порядке.</li>
                            <li>-После успешного тестирования и получения оплаты Вам передаются все пароли для доступа к админке сайта и хостингу.</li>
                        </ul>
                        <span>[На этом этапе оплачивается 50%]</span>
                    </p>
                </div>                
            </div>
        </div>
    </div>
</div>