
<div class="container">
    <div class="steps-wrap">
        <h2>Этапы создания сайта</h2>
        <ol class="css-accordion user-journey">
            <li class="accordion-item stage-1">
                <input type="radio" name="accordion-control" id="stage-1-control" checked>
                <label for="stage-1-control">Как мы работаем</label>
                <div class="item-content-container">
                    <div class="item-content">
                        <p>
                            Чтобы заказать у нас сайт, Вам необходимо заполнить форму обратной связи. Несколько простых вопросов, которые находятся в брифе, помогут нам понять, чем занимается Ваша компания, и быстро предложить наиболее оптимальное решение.
                            Мы не заставим вас долго ждать.
                        </p>
                    </div>
                </div>
            </li>
            <li class="accordion-item stage-2">
                <input type="radio" name="accordion-control" id="stage-2-control">
                <label for="stage-2-control">Сбор информации</label>
                <div class="item-content-container">
                    <div class="item-content">
                        <p>
                            После получения заявки на создание сайта мы связываемся с Вами для:
                            <ul>
                                <li>-уточнения и обсуждения дополнительных вопросов</li>
                                <li>-Предложения наиболее оптимального решения</li>
                                <li>-получения от Вас исходных материалов (текстовых документов, графики)</li>
                                <li>-для выбора наиболее удобного способа и варианта оплаты</li>
                            </ul>
                            [На этом этапе оплачивается 50%]
                        </p>

                    </div>
                </div>
            </li>
            <li class="accordion-item stage-3">
                <input type="radio" name="accordion-control" id="stage-3-control">
                <label for="stage-3-control">Дизайн</label>
                <div class="item-content-container">
                    <div class="item-content">
                        <p>
                            После того как мы узнали о целях создания Вашего сайта и личных предпочтениях, мы создаём первый вариант дизайна.

                            Если первый вариант дизайна Вам понравился, и Вы его утверждаете, то он передаётся на следующий этап, если же нет, то учитывая Ваши замечания и пожелания подготавливаем второй вариант дизайна.
                        </p>
                    </div>
                </div>
            </li>
            <li class="accordion-item stage-4">
                <input type="radio" name="accordion-control" id="stage-4-control">
                <label for="stage-4-control">Верстка</label>
                <div class="item-content-container">
                    <div class="item-content">
                        <p>По утверждённому макету верстаются html страницы </p>
                    </div>
                </div>
            </li>
            <li class="accordion-item stage-5">
                <input type="radio" name="accordion-control" id="stage-5-control">
                <label for="stage-5-control">Настройка системы управления контентом</label>
                <div class="item-content-container">
                    <div class="item-content">
                        <p>Ваш сайт публикуется на хостинге, где производится настройка системы управления контентом, добавляются необходимые модули, подключается шаблон и производится размещение предоставленного контента. После чего передаётся на этап тестирования.</p>
                    </div>
                </div>
            </li>
            <li class="accordion-item stage-6">
                <input type="radio" name="accordion-control" id="stage-6-control">
                <label for="stage-6-control">Тестирование</label>
                <div class="item-content-container">
                    <div class="item-content">
                        <p>
                            <ul>
                                <li>-На этапе тестирования сайт проверяется на корректность работы функциональных модулей, правильность отображения страниц в различных браузерах и качество реализации бизнес-логики, исследуется юзабилити сайта и тд.</li>
                                <li>-В случае обнаружения ошибок они сразу же исправляются в приоритетном порядке.</li>
                                <li>-После успешного тестирования и получения оплаты Вам передаются все пароли для доступа к админке сайта и хостингу.</li>
                            </ul>
                            <span>[На этом этапе оплачивается 50%]</span>
                        </p>
                    </div>
                </div>
            </li>
            <li class="accordion-item stage-7">
                <input type="radio" name="accordion-control" id="stage-7-control">
                <label for="stage-7-control">Поддержка</label>
                <div class="item-content-container">
                    <div class="item-content">
                        <p>
                            <ul>
                                <li>-После выкладки сайта осуществляется консультационная и техническая поддержка. В случае обнаружения ошибки в работе сайта или возникновения вопроса вы всегда сможете обратиться к нам. Ошибки не выявленные на этапе тестирования исправляются бесплатно в приоритетном порядке</li>
                                <li>-Необходимые доработки по сайту оплачиваются отдельно из расчета действующей на момент обращения стоимости часа.</li>
                            </ul>


                        </p>
                    </div>
                </div>
            </li>
        </ol>

    </div>
</div>
