
<div class="steps-wrap">
    <h2>Схема сотрудничества</h2>
    <div class="container">
        <div class="tabs" role="tab">
            <input id="tab_1" type="radio" name="tab" checked="checked" />
            <input id="tab_2" type="radio" name="tab" />
            <input id="tab_3" type="radio" name="tab" />
            <input id="tab_4" type="radio" name="tab" />
            <input id="tab_5" type="radio" name="tab" />
            <input id="tab_6" type="radio" name="tab" />
            <input id="tab_7" type="radio" name="tab" />


            <div class="label-wrap">
                <label for="tab_1" id="tab_l1"><p>Как мы работаем</p></label>
                <label for="tab_2" id="tab_l2"><p>Сбор информации</p></label>
                <label for="tab_3" id="tab_l3"><p>Дизайн</p></label>
                <label for="tab_4" id="tab_l4"><p>Верстка</p></label>
                <label for="tab_5" id="tab_l5"><p>Настройка системы управления контентом</p></label>
                <label for="tab_6" id="tab_l6"><p>Тестирование</p></label>
                <label for="tab_7" id="tab_l7"><p>Поддержка</p></label>
            </div>

            <div id="border">
                <div id="line"></div>
            </div>

            <div class="tabs_cont">
                <div id="tab_c1">
                    <p>
                        Чтобы заказать у нас сайт, Вам необходимо заполнить форму обратной связи. Несколько простых вопросов, которые находятся в брифе, помогут нам понять, чем занимается Ваша компания, и быстро предложить наиболее оптимальное решение.
                        Мы не заставим вас долго ждать.
                    </p>
                </div>
                <div id="tab_c2">
                    <p>
                        После получения заявки на создание сайта мы связываемся с Вами для:
                        <ul>
                            <li>-уточнения и обсуждения дополнительных вопросов</li>
                            <li>-Предложения наиболее оптимального решения</li>
                            <li>-получения от Вас исходных материалов (текстовых документов, графики)</li>
                            <li>-для выбора наиболее удобного способа и варианта оплаты</li>
                        </ul>
                        [На этом этапе оплачивается 50%]
                    </p>
                </div>
                <div id="tab_c3">
                    <p>
                        После того как мы узнали о целях создания Вашего сайта и
                        личных предпочтениях, мы создаём первый вариант дизайна.

                        Если первый вариант дизайна Вам понравился, и Вы его
                        утверждаете, то он передаётся на следующий этап, если же нет, то учитывая Ваши замечания и пожелания подготавливаем второй вариант дизайна.
                    </p>
                </div>
                <div id="tab_c4">
                    <p>По утверждённому макету верстаются html страницы </p>
                </div>
                <div id="tab_c5">
                    <p>
                        Ваш сайт публикуется на хостинге, где производится настройка
                        системы управления контентом, добавляются необходимые модули, подключается шаблон и производится размещение предоставленного контента. После чего передаётся на этап тестирования.
                    </p>

                </div>
                <div id="tab_c6">
                    <p>
                        <ul>
                            <li>-На этапе тестирования сайт проверяется на корректность работы функциональных модулей, правильность отображения страниц в различных браузерах и качество реализации бизнес-логики, исследуется юзабилити сайта и тд.</li>
                            <li>-В случае обнаружения ошибок они сразу же исправляются в приоритетном порядке.</li>
                            <li>-После успешного тестирования и получения оплаты Вам передаются все пароли для доступа к админке сайта и хостингу.</li>
                        </ul>
                        <span>[На этом этапе оплачивается 50%]</span>
                    </p>
                </div>
                <div id="tab_c7">
                    <p>
                        <ul>
                            <li>-После выкладки сайта осуществляется консультационная и техническая поддержка. В случае обнаружения ошибки в работе сайта или возникновения вопроса вы всегда сможете обратиться к нам. Ошибки не выявленные на этапе тестирования исправляются бесплатно в приоритетном порядке</li>
                            <li>-Необходимые доработки по сайту оплачиваются отдельно из расчета действующей на момент обращения стоимости часа.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



@*<div class="container">
        <div class="steps-wrap">
            <h2>Этапы создания сайта</h2>
            <ol class="css-accordion user-journey">
                <li class="accordion-item stage-1">
                    <input type="radio" name="accordion-control" id="stage-1-control" checked>
                    <label for="stage-1-control">Как мы работаем</label>
                    <div class="item-content-container">
                        <div class="item-content">
                            <p>
                                Чтобы заказать у нас сайт, Вам необходимо заполнить форму обратной связи. Несколько простых вопросов, которые находятся в брифе, помогут нам понять, чем занимается Ваша компания, и быстро предложить наиболее оптимальное решение.
                                Мы не заставим вас долго ждать.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="accordion-item stage-2">
                    <input type="radio" name="accordion-control" id="stage-2-control">
                    <label for="stage-2-control">Сбор информации</label>
                    <div class="item-content-container">
                        <div class="item-content">
                            <p>
                                После получения заявки на создание сайта мы связываемся с Вами для:
                                <ul>
                                    <li>-уточнения и обсуждения дополнительных вопросов</li>
                                    <li>-Предложения наиболее оптимального решения</li>
                                    <li>-получения от Вас исходных материалов (текстовых документов, графики)</li>
                                    <li>-для выбора наиболее удобного способа и варианта оплаты</li>
                                </ul>
                                [На этом этапе оплачивается 50%]
                            </p>

                        </div>
                    </div>
                </li>
                <li class="accordion-item stage-3">
                    <input type="radio" name="accordion-control" id="stage-3-control">
                    <label for="stage-3-control">Дизайн</label>
                    <div class="item-content-container">
                        <div class="item-content">
                            <p>
                                После того как мы узнали о целях создания Вашего сайта и личных предпочтениях, мы создаём первый вариант дизайна.

                                Если первый вариант дизайна Вам понравился, и Вы его утверждаете, то он передаётся на следующий этап, если же нет, то учитывая Ваши замечания и пожелания подготавливаем второй вариант дизайна.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="accordion-item stage-4">
                    <input type="radio" name="accordion-control" id="stage-4-control">
                    <label for="stage-4-control">Верстка</label>
                    <div class="item-content-container">
                        <div class="item-content">
                            <p>По утверждённому макету верстаются html страницы </p>
                        </div>
                    </div>
                </li>
                <li class="accordion-item stage-5">
                    <input type="radio" name="accordion-control" id="stage-5-control">
                    <label for="stage-5-control">Настройка системы управления контентом</label>
                    <div class="item-content-container">
                        <div class="item-content">
                            <p>Ваш сайт публикуется на хостинге, где производится настройка системы управления контентом, добавляются необходимые модули, подключается шаблон и производится размещение предоставленного контента. После чего передаётся на этап тестирования.</p>
                        </div>
                    </div>
                </li>
                <li class="accordion-item stage-6">
                    <input type="radio" name="accordion-control" id="stage-6-control">
                    <label for="stage-6-control">Тестирование</label>
                    <div class="item-content-container">
                        <div class="item-content">
                            <p>
                                <ul>
                                    <li>-На этапе тестирования сайт проверяется на корректность работы функциональных модулей, правильность отображения страниц в различных браузерах и качество реализации бизнес-логики, исследуется юзабилити сайта и тд.</li>
                                    <li>-В случае обнаружения ошибок они сразу же исправляются в приоритетном порядке.</li>
                                    <li>-После успешного тестирования и получения оплаты Вам передаются все пароли для доступа к админке сайта и хостингу.</li>
                                </ul>
                                <span>[На этом этапе оплачивается 50%]</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="accordion-item stage-7">
                    <input type="radio" name="accordion-control" id="stage-7-control">
                    <label for="stage-7-control">Поддержка</label>
                    <div class="item-content-container">
                        <div class="item-content">
                            <p>
                                <ul>
                                    <li>-После выкладки сайта осуществляется консультационная и техническая поддержка. В случае обнаружения ошибки в работе сайта или возникновения вопроса вы всегда сможете обратиться к нам. Ошибки не выявленные на этапе тестирования исправляются бесплатно в приоритетном порядке</li>
                                    <li>-Необходимые доработки по сайту оплачиваются отдельно из расчета действующей на момент обращения стоимости часа.</li>
                                </ul>


                            </p>
                        </div>
                    </div>
                </li>
            </ol>

        </div>
    </div>*@
