
    <div class="container">
        <div class="steps-wrap">

            <ol class="css-accordion user-journey">
                <li class="accordion-item stage-1">
                    <input type="radio" name="accordion-control" id="stage-1-control" checked>
                    <label for="stage-1-control">Как мы работаем</label>
                    <div class="item-content-container">
                        <div class="item-content">
                            <p>Чтобы заказать у нас сайт, вам необходимо заполнить простую форму обратной связи. Несколько простых вопросов, которые находятся в брифе, помогут нам понять, чем занимается ваша компания, и быстро предложить наиболее оптимальное решение.
Мы не заставим вас долго ждать. Вся «бумажная» работа делается в течение двух часов. Мы также не задаем лишних вопросов. На большинство из них ответы дает наш опыт работы с большим количеством бизнесов из различных отраслей.
Весь опыт специалистов  будет вложен в ваш проект. Доверяйте нам и результат не заставит себя ждать.</p>
                        </div>
                    </div>
                </li>
                <li class="accordion-item stage-2">
                    <input type="radio" name="accordion-control" id="stage-2-control">
                    <label for="stage-2-control">Начало работы</label>
                    <div class="item-content-container">
                        <div class="item-content">
                            <p>Сразу после получения заявки  ваши предпочтения по будущему сайту и специфические требования к ресурсу
На основании заполненного брифа мы подготовим коммерческое предложение, а также выставим счет на предоплату работ по созданию сайта в размере 50% от стоимости проекта. Мы не заставим вас долго ждать. Все эти процедуры делаются в течение одного рабочего дня
Вы оплачиваете счет и высылаете нам исходные материалы: графику, текстовые документы, пожелания по оформлению будущего сайта. Мы начинаем работать!</p>

                        </div>
                    </div>
                </li>
                <li class="accordion-item stage-3">
                    <input type="radio" name="accordion-control" id="stage-3-control">
                    <label for="stage-3-control">Сбор информации</label>
                    <div class="item-content-container">
                        <div class="item-content">
                            <p>
Когда все запрашиваемые материалы по проекту предоставлены, проект запускается в производство</p>
                        </div>
                    </div>
                </li>
                <li class="accordion-item stage-4">
                    <input type="radio" name="accordion-control" id="stage-4-control">
                    <label for="stage-4-control">Разработка сайта</label>
                    <div class="item-content-container">
                        <div class="item-content">
                            <p>Some exciting content about our general practices, etc.</p>
                        </div>
                    </div>
                </li>
                <li class="accordion-item stage-5">
                    <input type="radio" name="accordion-control" id="stage-5-control">
                    <label for="stage-5-control">Сдача проекта</label>
                    <div class="item-content-container">
                        <div class="item-content">
                            <p>Some exciting content about our general practices, etc.</p>
                        </div>
                    </div>
                </li>
                <li class="accordion-item stage-6">
                    <input type="radio" name="accordion-control" id="stage-6-control">
                    <label for="stage-6-control">Поддержка</label>
                    <div class="item-content-container">
                        <div class="item-content">
                            <p>Some exciting content about our general practices, etc.</p>
                        </div>
                    </div>
                </li>
            </ol>

        </div>
    </div>
