<div class="steps-template-wrap">
    <h2>Схема сотрудничества</h2>
    <div class="container">
        <div class="tabs-template" role="tab">
            <input id="tab-tmp-1" type="radio" name="tab-tmp" checked="checked" />
            <input id="tab-tmp-2" type="radio" name="tab-tmp" />
            <input id="tab-tmp-3" type="radio" name="tab-tmp" />
            <input id="tab-tmp-4" type="radio" name="tab-tmp" />
            <input id="tab-tmp-5" type="radio" name="tab-tmp" />


            <div class="label-template-wrap">
                <label for="tab-tmp-1" id="tab-tmp-l1">Как мы работаем</label>
                <label for="tab-tmp-2" id="tab-tmp-l2">Получение информации</label>
                <label for="tab-tmp-3" id="tab-tmp-l3">Настройка сайта</label>
                <label for="tab-tmp-4" id="tab-tmp-l4">Запуск сайта</label>
                <label for="tab-tmp-5" id="tab-tmp-l5">Поддержка</label>
            </div>

            <div id="border-tmp">
                <div id="line-tmp"></div>
            </div>

            <div class="tabs-cont-template">
                <div id="tab-tmp-c1">
                    <h2>Как мы работаем</h2>
                    <p>
                        Чтобы заказать у нас сайт, Вам необходимо заполнить форму обратной связи. Несколько простых вопросов, которые находятся в брифе, помогут нам понять, чем занимается Ваша компания, и быстро предложить наиболее оптимальное решение.
                        Мы не заставим вас долго ждать.
                    </p>
                </div>
                <div id="tab-tmp-c2">
                    <h2>Получение информации</h2>
                    <p>
                        После получения заявки на создание сайта мы связываемся с Вами для:
                        <ul>
                            <li>-уточнения и обсуждения дополнительных вопросов</li>
                            <li>-Предложения наиболее оптимального решения</li>
                            <li>-получения от Вас исходных материалов (текстовых документов, графики)</li>
                            <li>-для выбора наиболее удобного способа и варианта оплаты</li>
                        </ul>
                        [На этом этапе оплачивается 50%]
                    </p>
                </div>
                <div id="tab-tmp-c3">
                    <h2>Настройка сайта</h2>
                    <p>
                        После того как мы узнали о целях создания Вашего сайта и
                        личных предпочтениях, мы создаём первый вариант дизайна.

                        Если первый вариант дизайна Вам понравился, и Вы его
                        утверждаете, то он передаётся на следующий этап, если же нет, то учитывая Ваши замечания и пожелания подготавливаем второй вариант дизайна.
                    </p>
                </div>
                <div id="tab-tmp-c4">
                    <h2>Запуск сайта</h2>
                    <p>По утверждённому макету верстаются html страницы </p>
                </div>
                <div id="tab-tmp-c5">
                    <h2>Поддержка</h2>
                    <p>
                        Ваш сайт публикуется на хостинге, где производится настройка
                        системы управления контентом, добавляются необходимые модули, подключается шаблон и производится размещение предоставленного контента. После чего передаётся на этап тестирования.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>