@{
        ViewData["Title"] = "Создание корпоративного сайта";
    }

<div class="container">
    <div class="title-corporete">
        <h2>Корпоративный сайт</h2>
        <p class="title-p">
            Tincidunt integer eu augue augue nunc elit dolor,
            luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
            vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        </p>
    </div>

    <div class="plus-corporate-wrap">
        <div class="plus-corporate flex">
            <div class="plus-corporate-item medium-half large-third">
                <div class="item-wrap">

                </div>
            </div>

            <div class="plus-corporate-item medium-half large-third">
                <div class="item-wrap">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor,
                        luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>

            </div>

            <div class="plus-corporate-item medium-half large-third">
                <div class="item-wrap">
                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor,
                        luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>

            </div>

            <div class="plus-corporate-item medium-half large-third">
                <div class="item-wrap">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor,
                        luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>

            </div>

            <div class="plus-corporate-item medium-half large-third">
                <div class="item-wrap">
                    <i class="fa fa-cubes" aria-hidden="true"></i>
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor,
                        luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>

            </div>

            <div class="plus-corporate-item medium-half large-third">
                <div class="item-wrap">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i>
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor,
                        luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>

            </div>
        </div> @*plus-corporate flex*@
    </div>
</div>
@Html.Partial("_StepsPartialView")
@await Component.InvokeAsync("ExamplesSites", new { category = "Копоративный" })
@await Component.InvokeAsync("OrderForm")