@{
    ViewData["Title"] = "Создание корпоративного сайта";
    ViewBag.PortfolioExample = "Примеры корпоративных сайтов";
}

<div class="container">
    <div class="corporete-wrap">
        <div class="corporete-title">

            <div class="letter">
                <p>Creating a messy stack of papers using the magic of CSS transforms and generated content.</p>

                <p>Параграф</p> <p>Pen [CSS Stacked Paper Effect].</p>
                <h3>[Надо брать]</h3>
            </div>
            <div class="corporete-description">
                <h2>Корпоративный сайт</h2>
                <p class="title-p">
                    Tincidunt integer eu augue augue nunc elit dolor,
                    luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                    vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </p>
            </div>

        </div>

        @*<div class="plus-corporate-wrap">
            <div class="plus-corporate flex">
                <div class="plus-corporate-item medium-half large-third">
                    <div class="item-wrap">

                    </div>
                </div>

                <div class="plus-corporate-item medium-half large-third">
                    <div class="item-wrap">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor,
                            luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                            vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>

                </div>

                <div class="plus-corporate-item medium-half large-third">
                    <div class="item-wrap">
                        <i class="fa fa-bullhorn" aria-hidden="true"></i>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor,
                            luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                            vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>

                </div>

                <div class="plus-corporate-item medium-half large-third">
                    <div class="item-wrap">
                        <i class="fa fa-building-o" aria-hidden="true"></i>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor,
                            luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                            vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>

                </div>

                <div class="plus-corporate-item medium-half large-third">
                    <div class="item-wrap">
                        <i class="fa fa-cubes" aria-hidden="true"></i>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor,
                            luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                            vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>

                </div>

                <div class="plus-corporate-item medium-half large-third">
                    <div class="item-wrap">
                        <i class="fa fa-address-card-o" aria-hidden="true"></i>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor,
                            luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                            vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>

                </div>
            </div>*@ @*plus-corporate flex*@
        @*</div>*@
        @*--------------табы*@
        <section class="tabs-all" role="tab">
            @*<input id="tab__1" type="radio" name="tabs" checked="checked" />*@
            <input id="tab__2" type="radio" name="tabs" checked="checked" />
            <input id="tab__3" type="radio" name="tabs" />

            <div class="label-wrapper">
                @*<label for="tab__1" id="tab__l1">Готовые решения</label>*@
                <label for="tab__2" id="tab__l2">Создание сайта</label>
                <label for="tab__3" id="tab__l3">Разработка сайта</label>
            </div>

            <div class="tabs_content">
                @*<div id="tab__c1">Это первое</div>*@ @*tab__c1*@
                <div id="tab__c2">
                @Html.Partial("_StepsCreatePartialView")
                </div> @*tab__c2*@
                <div id="tab__c3">Это про третье</div> @*tab__c3*@
            </div>
        </section>
    </div>
</div>

@await Component.InvokeAsync("ExamplesSites", new { category = "Копоративный" })
@await Component.InvokeAsync("OrderForm")