@{
    ViewData["Title"] = "Разработка веб сайта на ASP.NET Core - OlxaWeb";
    ViewData["Description"] = "При разработке сайт проходит стадии написание ТЗ, разработка макета, дизайн, верстка, программирование, тестирование";
}

@*Тут заголовок по середине
    подзаголовок по середине
    описание про разработку сайтов*@
<div class="develop-wrapper">
    <section class="description-develop-wrap">
        <div class="description-inner-title">
            <h1>Схема сотрудничества</h1>
        </div>
        <div class="description-inner">
            <p>
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor,
                metus vel.
            </p>
        </div>
    </section>
    <section class="develop-desk">
        <div class="step-develop-wrap">

            <div id="develop-tabs">
                <ul id="develop-accordion">
                    <li>
                        <a class="active" href="#tabs-1">
                            <div class="tag">
                                <div class="icon">
                                    <div class="block">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <span class="title">Как мы работаем</span>
                            </div>
                        </a>
                        <div class="addon fadein">
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </span>
                            <a class="para-a" href="#">Learn More</a>
                        </div>
                    </li>
                    <li>
                        <a href="#tabs-2">
                            <div class="tag">
                                <div class="icon">
                                    <div class="block">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <span class="title">Сбор информации</span>
                            </div>
                        </a>
                        <div class="addon">
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </span>
                            <a class="para-a" href="#">Learn More</a>
                        </div>
                    </li>
                    <li>
                        <a href="#tabs-3">
                            <div class="tag">
                                <div class="icon">
                                    <div class="block">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <span class="title">Проектирование</span>
                            </div>
                        </a>
                        <div class="addon">
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </span>
                            <a class="para-a" href="#">Learn More</a>
                        </div>
                    </li>
                    <li>
                        <a href="#tabs-4">
                            <div class="tag">
                                <div class="icon">
                                    <div class="block">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <span class="title">Дизайн</span>
                            </div>
                        </a>
                        <div class="addon">
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </span>
                            <a class="para-a" href="#">Learn More</a>
                        </div>
                    </li>
                    <li>
                        <a href="#tabs-5">
                            <div class="tag">
                                <div class="icon">
                                    <div class="block">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <span class="title">Верстка</span>
                            </div>
                        </a>
                        <div class="addon">
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </span>
                            <a class="para-a" href="#">Learn More</a>
                        </div>
                    </li>
                    <li>
                        <a href="#tabs-6">
                            <div class="tag">
                                <div class="icon">
                                    <div class="block">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <span class="title">Программирование</span>
                            </div>
                        </a>
                        <div class="addon">
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </span>
                            <a class="para-a" href="#">Learn More</a>
                        </div>
                    </li>
                    <li>
                        <a href="#tabs-7">
                            <div class="tag">
                                <div class="icon">
                                    <div class="block">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <span class="title">Тестирование</span>
                            </div>
                        </a>
                        <div class="addon">
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </span>
                            <a class="para-a" href="#">Learn More</a>
                        </div>
                    </li>
                    <li>
                        <a href="#tabs-8">
                            <div class="tag">
                                <div class="icon">
                                    <div class="block">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <span class="title">Сдача проекта</span>
                            </div>
                        </a>
                        <div class="addon">
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </span>
                            <a class="para-a" href="#">Learn More</a>
                        </div>
                    </li>
                    <li>
                        <a href="#tabs-9">
                            <div class="tag">
                                <div class="icon">
                                    <div class="block">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                                <span class="title">Поддержка</span>
                            </div>
                        </a>
                        <div class="addon">
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </span>
                            <a class="para-a" href="#">Learn More</a>
                        </div>
                    </li>
                </ul>
                <div class="browser">
                    <div class="top-bar">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                    <div id="tabs-1"></div>
                    <div id="tabs-2"></div>
                    <div id="tabs-3"></div>
                    <div id="tabs-4"></div>
                    <div id="tabs-5"></div>
                    <div id="tabs-6"></div>
                    <div id="tabs-7"></div>
                    <div id="tabs-8"></div>
                    <div id="tabs-9"></div>
                </div>
            </div>

        </div>
    </section>

    @*аккордион для мобильных*@
    <section class="develop-mob">
        <div class="accordion">
            <ul>
                <li>
                    <input type="checkbox">
                    <i></i>
                    <h2 class="title_block">Как мы работаем</h2>
                    <div class="content">
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor,
                            luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                            vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2 class="title_block">Сбор информации</h2>
                    <div class="content">
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor,
                            luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                            vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2 class="title_block">Проектирование</h2>
                    <div class="content">
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor,
                            luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                            vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2 class="title_block">Дизайн</h2>
                    <div class="content">
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor,
                            luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                            vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2 class="title_block">Верстка</h2>
                    <div class="content">
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor,
                            luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                            vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2 class="title_block">Программирование</h2>
                    <div class="content">
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor,
                            luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                            vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2 class="title_block">Тестирование</h2>
                    <div class="content">
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor,
                            luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                            vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
