
@{
    ViewData["Title"] = "Создание информационного сайта";
}
<div class="container">
    <section class="tabs-all" role="tab">
        <input id="tab__1" type="radio" name="tabs" checked="checked" />
        <input id="tab__2" type="radio" name="tabs" />
        <input id="tab__3" type="radio" name="tabs" />

        <div class="label-wrapper">
            <label for="tab__1" id="tab__l1">Готовые решения</label>
            <label for="tab__2" id="tab__l2">Создание сайта</label>
            <label for="tab__3" id="tab__l3">Разработка сайта</label>
        </div>

        <div class="tabs_content">
            <div id="tab__c1">Это первое</div> @*tab__c1*@
            <div id="tab__c2">Это про второе</div> @*tab__c2*@
            <div id="tab__c3">Это про третье</div> @*tab__c3*@
        </div>
    </section>
</div>

@await Component.InvokeAsync("ExamplesSites", new { category = "Информационный" })
@await Component.InvokeAsync("OrderForm")