
@{
    Layout = "_LayoutLibrary";
    ViewData["Title"] = "Создание информационного сайта";
    ViewBag.PortfolioExample = "Примеры информационных сайтов";
}
<div class="information-wrapper">
    <section class="header">
        @Html.Partial("_HeaderPartialView")
    </section>

    <section class="information-title">
        <div class="presentation presentation-information">
            <div class="isometric-wrapper">
                <div class="floor isometric information">
                    <div class="slider appBar">
                        <div class="card"></div>
                    </div>
                    <div class="information-inner-wrap">
                        <div class="menu-information-wrap">
                            <div class="menu-information appBar"></div>
                            <div class="menu-information appBar small"></div>
                        </div>
                        <div class="content">
                            <div class="card"></div>
                            <div class="card"></div>
                            <div class="card"></div>
                        </div>
                    </div>

                    @*<div class="fab dialogOpener toasted"></div>*@
                    <div class="dialogContainer hidden" id="dialog">
                        <div class="dialog"></div>
                    </div>
                    <div class="drawerContainer hidden" id="drawer">
                        <div class="drawer">
                            <div class="header"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description description-information">
                <div class="description-inner-text-group">
                    <h1>Информационный</h1>
                    <p>
                        К этому виду можно отнести сайты, содержащие информацию по той или иной теме,
                        например: кулинарный, образовательный, развлекательный
                    </p>
                    <p class="ul-title">Наиболее используемые модули:</p>
                    <ul>
                        <li>Регистрация пользователей</li>
                        <li>Авторизация через социальные сети</li>
                        <li>Статьи и публикации</li>
                        <li>Комментарии</li>
                        <li>Голосования и опросы</li>
                    </ul>
                </div>
            </div>        </div>
       
    </section>
    <section class="information-tab">

        <section class="tabs-all" role="tab">
            @*<input id="tab__1" type="radio" name="tabs" checked="checked" />*@
            <input id="tab__2" type="radio" name="tabs" checked="checked" />
            <input id="tab__3" type="radio" name="tabs" />

            <div class="label-wrapper">
                @*<label for="tab__1" id="tab__l1">Готовые решения</label>*@
                <label for="tab__2" id="tab__l2">Создание сайта</label>
                <label for="tab__3" id="tab__l3">Разработка сайта</label>
            </div>

            <div class="tabs_content">
                @*<div id="tab__c1">Это первое</div>*@ @*tab__c1*@
                <div id="tab__c2">
                    <div class="tab-inner-content">
                        <div class="content-item">тут содержимое</div>
                        <div>@await Component.InvokeAsync("PriceTimeDemo")</div>
                    </div>
                </div> @*tab__c2*@
                <div id="tab__c3">
                    <div class="tab-inner-content">
                        <div class="content-item">тут содержимое</div>
                        <div>@await Component.InvokeAsync("PriceTimeDemo")</div>
                    </div>
                </div> @*tab__c3*@
            </div>
        </section>

    </section>

    @await Component.InvokeAsync("ExamplesSites", new { category = "Информационный" })
    @await Component.InvokeAsync("OrderForm")

    <section class="footer">
        @Html.Partial("_FooterPartialView")
    </section>
</div>
