
@{
    Layout = "_LayoutLibrary";
    ViewData["Title"] = "Создание информационного сайта";
    ViewBag.PortfolioExample = "Примеры информационных сайтов";
}
<div class="information-wrapper">
    <section class="header">
        @Html.Partial("_HeaderPartialView")
    </section>

    <section class="information-title">
        <div class="presentation presentation-information">
            <div class="isometric-wrapper">
                <div class="floor isometric information">
                    <div class="slider appBar">
                        <div class="card"></div>
                    </div>
                    <div class="information-inner-wrap">
                        <div class="menu-information-wrap">
                            <div class="menu-information appBar"></div>
                            <div class="menu-information appBar small"></div>
                        </div>
                        <div class="content">
                            <div class="card"></div>
                            <div class="card"></div>
                            <div class="card"></div>
                        </div>
                    </div>

                    @*<div class="fab dialogOpener toasted"></div>*@
                    <div class="dialogContainer hidden" id="dialog">
                        <div class="dialog"></div>
                    </div>
                    <div class="drawerContainer hidden" id="drawer">
                        <div class="drawer">
                            <div class="header"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description description-information">
                <div class="description-inner-text-group">
                    <h1>Информационный</h1>
                    <p>
                        К этому виду можно отнести сайты, содержащие информацию по той или иной теме,
                        например: кулинарный, образовательный, развлекательный
                    </p>
                    <p>Наиболее используемые модули:</p>
                    <ul>
                        <li>Регистрация пользователей</li>
                        <li>Авторизация через социальные сети</li>
                        <li>Статьи и публикации</li>
                        <li>Комментарии</li>
                        <li>Голосования и опросы</li>
                    </ul>
                    <p>и др.</p>
                </div>
            </div>
        </div>
        @* <div class="component">
                <ul class="align">

                    <li>
                        <figure class='book'>

                            <ul class='hardcover_front'>
                                <li>
                                    <img src="" alt="" width="100%" max-height="100%">

                                </li>
                                <li></li>
                            </ul>

                            <ul class='page'>
                                <li></li>
                                <li>
                                    <a class="learn" href="#">Узнать больше</a>
                                </li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>

                            <ul class='hardcover_back'>
                                <li></li>
                                <li></li>
                            </ul>
                            <ul class='book_spine'>
                                <li></li>
                                <li></li>
                            </ul>
                            <figcaption>
                                <h1>Название книги</h1>
                                <span>Автор</span>
                                <p>From mobile browsers to netbooks and tablets, users are visiting your sites from an increasing array of devices and browsers. </p>
                            </figcaption>
                        </figure>

                    </li>
                </ul>
            </div>*@
    </section>
    <section class="information-tab">

        <section class="tabs-all" role="tab">
            @*<input id="tab__1" type="radio" name="tabs" checked="checked" />*@
            <input id="tab__2" type="radio" name="tabs" checked="checked" />
            <input id="tab__3" type="radio" name="tabs" />

            <div class="label-wrapper">
                @*<label for="tab__1" id="tab__l1">Готовые решения</label>*@
                <label for="tab__2" id="tab__l2">Создание сайта</label>
                <label for="tab__3" id="tab__l3">Разработка сайта</label>
            </div>

            <div class="tabs_content">
                @*<div id="tab__c1">Это первое</div>*@ @*tab__c1*@
                <div id="tab__c2">
                    <div class="tab-inner-content">
                        <div class="content-item"></div>
                        <aside>@await Component.InvokeAsync("PriceTimeDemo")</aside>
                    </div>
                </div> @*tab__c2*@
                <div id="tab__c3">
                    <div class="tab-inner-content">
                        <div class="content-item"></div>
                        <aside>@await Component.InvokeAsync("PriceTimeDemo")</aside>
                    </div>
                </div> @*tab__c3*@
            </div>
        </section>

    </section>

    @await Component.InvokeAsync("ExamplesSites", new { category = "Информационный" })
    @await Component.InvokeAsync("OrderForm")

    <section class="footer">
        @Html.Partial("_FooterPartialView")
    </section>
</div>
