@{
    ViewData["Title"] = "Создание Landing page";
}

<section class="landing-description">
    
        <div class="container">
            <div class="description-wrap">               
                <div class="description-title">
                    <h1>landing</h1>
                    <p>
                        Лендинг - веб-страница, построенная определенным образом, основной задачей которой является сбор контактов целевой аудитории, обладает более высокой конверсией по сравнению с обычным сайтом. Для усиления эффекта используются побуждающие и призывающие к действию слоганы, акции, торговые преимущества, яркие и крупные кнопки, а также минималистичный плоский дизайн.
                    </p>
                </div>
            </div> 
        </div><!--container-->
  
</section>



<section class="landing-privilege">
    <div class="container">
        <div class="privilege-wrap">
            <h2>Преимущества Landing Page</h2>
            <div class="privilege-row">

                <div class="privilege-inner-wrap">
                    <div class="privilege-inner">
                        <div class="privilege-img">
                            <img src="~/images/landing/post_prev_01.jpg" alt="Ничего лишнего" />
                        </div>
                        <div class="privilege-title">
                            <h3>Ничего лишнего</h3>
                            <p>
                                Посетитель получает ЧЕТКУЮ структурированную ИНФОРМАЦИЮ, ДОСТАТОЧНУЮ для принятия решения о покупке.
                            </p>
                        </div>
                    </div>
                </div> <!--privilege-inner-wrap-->

                <div class="privilege-inner-wrap">
                    <div class="privilege-inner">
                        <div class="privilege-img">
                            <img src="~/images/landing/post_prev_01.jpg" alt="Побуждает к действию" />
                        </div>
                        <div class="privilege-title">
                            <h3>Побуждает к действию</h3>
                            <p>
                                Структура landing page направлена на совершение посетителем ЦЕЛЕВОГО ДЕЙСТВИЯ (заказ, звонок, заявка).
                            </p>
                        </div>
                    </div>
                </div> <!--privilege-inner-wrap-->
                <div class="privilege-inner-wrap">
                    <div class="privilege-inner">
                        <div class="privilege-img">
                            <img src="~/images/landing/post_prev_01.jpg" alt="Не капризный" />
                        </div>
                        <div class="privilege-title">
                            <h3>Не капризный</h3>
                            <p>
                                ИДЕАЛЬНЫЙ ПРОДАВЕЦ. Работает 24 часа в день, 7 дней в неделю. Без больничных и выходных. Точно по написанному скрипту продаж.
                            </p>
                        </div>
                    </div>
                </div> <!--privilege-row-->
            </div> <!--privilege-inner-wrap-->
            <div class="privilege-row">

                <div class="privilege-inner-wrap">
                    <div class="privilege-inner">
                        <div class="privilege-img">
                            <img src="~/images/landing/post_prev_01.jpg" alt="Не дорогой" />
                        </div>
                        <div class="privilege-title">
                            <h3>Не дорогой</h3>
                            <p>
                                СТОИМОСТЬ разработки landing page НИЖЕ, чем стоимость разработки обычного сайта.
                            </p>
                        </div>
                    </div>
                </div> <!--privilege-inner-wrap-->
                <div class="privilege-inner-wrap">
                    <div class="privilege-inner">
                        <div class="privilege-img">
                            <img src="~/images/landing/post_prev_01.jpg" alt="Эффективный" />
                        </div>
                        <div class="privilege-title">
                            <h3>Эффективный</h3>
                            <p>
                                ВЫСОКАЯ КОНВЕРСИЯ посетителей сайта в покупателей.
                            </p>
                        </div>
                    </div>
                </div> <!--privilege-inner-wrap-->
                <div class="privilege-inner-wrap">
                    <div class="privilege-inner">
                        <div class="privilege-img">
                            <img src="~/images/landing/post_prev_01.jpg" alt="Быстрый" />
                        </div>
                        <div class="privilege-title">
                            <h3>Быстрый</h3>
                            <p>
                                Более КОРОТКИЕ СРОКИ изготовления по сравнению со стандартной web-разработкой.
                            </p>
                        </div>
                    </div>
                </div> <!--privilege-inner-wrap-->
            </div> <!--privilege-row-->
        </div> <!--privilege-wrap-->
    </div> <!--container-->
</section>

<section class="landing-plus">
    <div class="container">
        <div class="plus-wrap">
            <h2>Преимущества создания Landing Page в OlxaWeb</h2>
            <div class="plus-row">
                <div class="plus-inner">
                    <div class="plus-img">
                        <img src="~/images/landing/post_prev_01.jpg" alt="Быстрая разработка" />
                    </div>
                    <div class="plus-title">
                        <h3>Низкая цена</h3>
                        <p>
                            Искусственно не завышаем цену
                        </p>
                    </div>
                </div>
                <div class="plus-inner">
                    <div class="plus-img">
                        <img src="~/images/landing/post_prev_01.jpg" alt="Доступная цена" />
                    </div>
                    <div class="plus-title">
                        <h3>Быстрая разработка</h3>
                        <p>
                            Сделаем Landing всего за 6 дней
                        </p>
                    </div>
                </div>
                <div class="plus-inner">
                    <div class="plus-img">
                        <img src="~/images/landing/post_prev_01.jpg" alt="Высокая конверсия" />
                    </div>
                    <div class="plus-title">
                        <h3>Расширяемость</h3>
                        <p>
                            Мы делаем на ASP.NET фрэймворке, что позволяет при необходимости добавлять функциональности(калькуляторы, формы, системы оплаты и т.д.)
                        </p>
                    </div>
                </div>
            </div>
        </div> <!--plus-->
    </div> <!--container-->
</section>



<section class="landing-steps">    
        @Html.Partial("_StepsPartialView")    
</section>

<section class="landing-tariff">
    <div class="container">
        <div class="tariff-wrap">
            <div class="tariff-row">

            </div>
        </div>
    </div> <!--container-->
</section>

<section class="landing-form">
    <div class="container">

    </div>

@await Component.InvokeAsync("ExamplesSites", new {category= "Landing page" })


@await Component.InvokeAsync("OrderForm")
</section>
