@{
    ViewData["Title"] = "";
}

<section class="landing-description">
    <div class="container">
        <div class="description-wrap">
            <div class="description-img">
                <img src="~/images/landing/post01.jpg" alt="Лендинг" />
            </div>
            <div class="description-title">
                <h1>Лендинг</h1>
                <p>
                    Tincidunt integer eu augue augue nunc elit dolor,
                    luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                    vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </p>
            </div>
        </div> <!--description-wrap-->
    </div> <!--container-->
</section>

<section class="landing-plus">
    <div class="container">
        <div class="plus-wrap">
            <h2>Преимущества лендингов</h2>
            <div class="plus-row">
                <div class="plus-inner">
                    <div class="plus-img">
                        <img src="~/images/landing/post_prev_01.jpg" alt="Быстрая разработка" />
                    </div>
                    <div class="plus-title">
                        <h3>Быстрая разработка</h3>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor,
                            luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                            vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>
                </div>
                <div class="plus-inner">
                    <div class="plus-img">
                        <img src="~/images/landing/post_prev_01.jpg" alt="Доступная цена" />
                    </div>
                    <div class="plus-title">
                        <h3>Доступная цена</h3>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor,
                            luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                            vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>
                </div>
                <div class="plus-inner">
                    <div class="plus-img">
                        <img src="~/images/landing/post_prev_01.jpg" alt="Высокая конверсия" />
                    </div>
                    <div class="plus-title">
                        <h3>Высокая конверсия</h3>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor,
                            luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                            vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>
                </div>
            </div>
        </div> <!--plus-->
    </div> <!--container-->
</section>

<section class="landing-privilege">
    <div class="container">
        <div class="privilege-wrap">
            <h2>Преимущества создания Landing Page в OlxaWeb</h2>
            <div class="privilege-row">

                <div class="privilege-inner-wrap">
                    <div class="privilege-inner">
                        <div class="privilege-img">
                            <img src="~/images/landing/post_prev_01.jpg" alt="Не завышаем цены" />
                        </div>
                        <div class="privilege-title">
                            <h3>Не завышаем цены</h3>
                            <p>
                                Tincidunt integer eu augue augue nunc elit dolor,
                                luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                                vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                            </p>
                        </div>
                    </div>
                </div> <!--privilege-inner-wrap-->

                <div class="privilege-inner-wrap">
                    <div class="privilege-inner">
                        <div class="privilege-img">
                            <img src="~/images/landing/post_prev_01.jpg" alt="Отвечаем за сроки" />
                        </div>
                        <div class="privilege-title">
                            <h3>Отвечаем за сроки</h3>
                            <p>
                                Tincidunt integer eu augue augue nunc elit dolor,
                                luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                                vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                            </p>
                        </div>
                    </div>
                </div> <!--privilege-inner-wrap-->
                <div class="privilege-inner-wrap">
                    <div class="privilege-inner">
                        <div class="privilege-img">
                            <img src="~/images/landing/post_prev_01.jpg" alt="Делаем на фреймворке" />
                        </div>
                        <div class="privilege-title">
                            <h3>Делаем на фреймворке</h3>
                            <p>
                                Tincidunt integer eu augue augue nunc elit dolor,
                                luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                                vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                            </p>
                        </div>
                    </div>
                </div> <!--privilege-row-->
            </div> <!--privilege-inner-wrap-->
            <div class="privilege-row">

                <div class="privilege-inner-wrap">
                    <div class="privilege-inner">
                        <div class="privilege-img">
                            <img src="~/images/landing/post_prev_01.jpg" alt="Возможность расширения" />
                        </div>
                        <div class="privilege-title">
                            <h3>Возможность расширения</h3>
                            <p>
                                Tincidunt integer eu augue augue nunc elit dolor,
                                luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                                vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                            </p>
                        </div>
                    </div>
                </div> <!--privilege-inner-wrap-->
                <div class="privilege-inner-wrap">
                    <div class="privilege-inner">
                        <div class="privilege-img">
                            <img src="~/images/landing/post_prev_01.jpg" alt="Несколько схем оплаты" />
                        </div>
                        <div class="privilege-title">
                            <h3>Несколько схем оплаты</h3>
                            <p>
                                Tincidunt integer eu augue augue nunc elit dolor,
                                luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                                vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                            </p>
                        </div>
                    </div>
                </div> <!--privilege-inner-wrap-->
                <div class="privilege-inner-wrap">
                    <div class="privilege-inner">
                        <div class="privilege-img">
                            <img src="~/images/landing/post_prev_01.jpg" alt="Бесплатный хостинг на один год" />
                        </div>
                        <div class="privilege-title">
                            <h3>Бесплатный хостинг на один год</h3>
                            <p>
                                Tincidunt integer eu augue augue nunc elit dolor,
                                luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                                vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                            </p>
                        </div>
                    </div>
                </div> <!--privilege-inner-wrap-->
            </div> <!--privilege-row-->
        </div> <!--privilege-wrap-->
    </div> <!--container-->
</section>

<section class="landing-steps">
    <div class="container">

    </div> <!--container-->
</section>

<section class="landing-tariff">
    <div class="container">
        <div class="tariff-wrap">
            <div class="tariff-row">

            </div>
        </div>
    </div> <!--container-->
</section>

<section class="landing-form">
    <div class="container">

    </div>
</section>

@await Component.InvokeAsync("OrderForm")