@{
    Layout = "_LayoutLibrary";
    ViewData["Title"] = "Создание промосайта(сайта визитки)";
    ViewBag.PortfolioExample = "Примеры сайтов визиток";
}


<div class="promo-site-wrapper">
    <section class="header">
        @Html.Partial("_HeaderPartialView")
    </section>
    <section class="content">

        <div class="presentation presentation-promo">
            <div class="isometric-wrapper">
                <div class="floor isometric visit">
                    <div class="appBar visit-menu">
                        <i class="material-icons md-light md-24" id="drawerOpener"></i>
                    </div>
                    <div class="content">
                        <div class="img-info-card-wrap">
                            <div class="card"></div>
                            <div class="card"></div>
                        </div>
                        <div class="card">
                            <div class="form-inner-card-wrapper">
                                <div class="inputs-wrapper">
                                    <div class="input"></div>
                                    <div class="input"></div>
                                </div>
                                <div class="buttons-form">
                                    <div class="button right">
                                        <p>отправить</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="description description-promo">
                <div class="description-inner">
                    <div class="description-inner-text-group">
                        <h1>Сайт визитка</h1>
                        <p>
                            Содержит всю необходимую информацию о вас или вашей фирме,
                            как правило состоит из одной или нескольких страниц.
                            Имеет форму обратной связи и схему проезда, но при необходимости базовый функционал
                            можно расширить, например, добавить калькулятор, галерею, новости и пр.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        @*  <div class="card-wrap">
                    <div class="card-container">
                        <div class="card">
                            <div class="face front">
                                <h1 class="logo">Сайт визитка</h1>
                            </div>
                            <div class="face back">
                                <h2 class="name">Сайт визитка</h2>
                                <h3>Крутяк.разработка.визиточка</h3>
                                <div class="info">
                                   <p>
                Веб сайт визитка - это оптимальная <span>рекламная площадка</span> для представителей малого и среднего бизнеса.
                Имея в наличии свой сайт, Вы можете проводить рекламные компании в Интернете.
            </p>
            <p>
                Стоимость сайта визитки, его цена на порядок ниже стоимости создания любого другого сайта,
                а его содержание и вовсе требует минимальных затрат. Создать сайт визитку недорого и быстро.
            </p>
            <p>
                Веб сайт визитка работает круглосуточно, ему не нужны больничные и отпуск – информация доступна
                посетителям <span>24 часа в сутки, 7 дней в неделю.</span>
            </p>
            <p>
                    <span class="property">E-mail: </span>
                    <a class="link" href="#" target="_blank">email</a>
                </p>
                <p>
                    <span class="property">Twitter: </span>
                    <a class="link" href="#" target="_blank">twiter</a>
                </p>
                <p>
                    <span class="property">Website: </span>
                    <a class="link" href="#" target="_blank">www.site.ru</a>
                </p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>*@
        @*<div class="promo-site-description">
                <h2>Сайт визитка</h2>
                <p>
                    Небольшой информационный сайт о компании, на котором Вы можете рассказать клиентам о ваших ценах, услугах, товарах,
                    акциях и многом другом. При желании на сайте можно разместить каталог продукции, схему проезда, отзывы клиентов,
                    новости компании, карту сайта, форму быстрой связи или форму предварительного заказа.
                </p>
                <p>
                    Веб сайт визитка - это оптимальная <span>рекламная площадка</span> для представителей малого и среднего бизнеса.
                    Имея в наличии свой сайт, Вы можете проводить рекламные компании в Интернете.
                </p>
                <p>
                    Стоимость сайта визитки, его цена на порядок ниже стоимости создания любого другого сайта,
                    а его содержание и вовсе требует минимальных затрат. Создать сайт визитку недорого и быстро.
                </p>
                <p>
                    Веб сайт визитка работает круглосуточно, ему не нужны больничные и отпуск – информация доступна
                    посетителям <span>24 часа в сутки, 7 дней в неделю.</span>
                </p>
                <p>
                    Сайт поддерживает положительный имидж компании.
                    Следовать «в ногу» со временем и прогрессом – хороший тон в деловом мире.
                </p>
            </div>*@
    </section>


    <section class="tabs-all" role="tab">
        <input id="tab__1" type="radio" name="tabs" checked="checked" />
        <input id="tab__2" type="radio" name="tabs" checked="checked" />
        <input id="tab__3" type="radio" name="tabs" />

        <div class="label-wrapper">
            <label for="tab__1" id="tab__l1">Готовые решения</label>
            <label for="tab__2" id="tab__l2">Создание сайта</label>
            <label for="tab__3" id="tab__l3">Разработка сайта</label>
        </div>

        <div class="tabs_content">
            <div id="tab__c1">
                <div class="tab-inner-content">
                    <div class="content-item">
                        <div class="service-sites-wrap">
                            <div class="base-service">
                                <h4>Базовая функциональность</h4>
                                <ul class="list">
                                    <li>Домен на 1 год</li>
                                    <li>Хостинг на 1 год</li>
                                    <li>Форма обратной связи</li>
                                    <li>Обратный звонок</li>
                                    <li>Админка</li>
                                    <li>
                                        Дизайн
                                        <span>Выбор из 3-х вариантов</span>
                                    </li>
                                    <li>
                                        Количество страниц
                                        <span>До 3-х страниц</span>
                                    </li>
                                    <li>Базовая SEO оптимизация</li>
                                </ul>
                            </div>

                            <div class="more-service">
                                <h4>Возможные настройки</h4>
                                <ul class="list">
                                    <li>Калькулятор</li>
                                    <li>Галерея</li>
                                    <li>Блок новостей</li>
                                    <li>Блок отзывов</li>
                                    <li>Блог</li>
                                </ul>
                            </div>                             
                        </div>
                    </div>
                    <div>@await Component.InvokeAsync("ProductCategory","Визитка")</div>
                </div>
            </div> @*tab__c1*@
            <div id="tab__c2">
                <div class="tab-inner-content">
                    <div class="content-item">
                        <div class="service-sites-wrap">
                            <div class="base-service">
                                <h4>Базовая функциональность</h4>
                                <ul class="list">
                                    <li>Домен на 1 год</li>
                                    <li>Хостинг на 1 год</li>
                                    <li>Форма обратной связи</li>
                                    <li>Обратный звонок</li>
                                    <li>Админка</li>
                                    <li>
                                        Дизайн
                                        <span>Адаптируется под заказчика в рамках стандартной сетки</span>
                                    </li>
                                    <li>Базовая SEO оптимизация</li>
                                </ul>
                            </div>
                            <div class="more-service">
                                <h4>Возможные настройки</h4>
                                <ul class="list">
                                    <li>Калькулятор</li>
                                    <li>Галерея</li>
                                    <li>Блок новостей</li>
                                    <li>Блок отзывов</li>
                                    <li>Блог</li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    <div>@await Component.InvokeAsync("PriceTimeDemo")</div>
                </div>

            </div> @*tab__c2*@
            <div id="tab__c3">
                <div class="tab-inner-content">
                    <div class="content-item">
                        <div class="service-sites-wrap">
                            <div class="base-service">
                                <h4>Базовая функциональность</h4>
                                <ul class="list">
                                    <li>Домен на 1 год</li>
                                    <li>Хостинг на 1 год</li>
                                    <li>Форма обратной связи</li>
                                    <li>Обратный звонок</li>
                                    <li>Админка</li>
                                    <li>
                                        Дизайн(настройка)
                                        <span>
                                            Адаптируется под заказчика в рамках стандартной сетки
                                            или разрабатывается с нуля
                                        </span>
                                    </li>
                                    <li>Базовая SEO оптимизация</li>
                                </ul>
                            </div>
                            <div class="more-service">
                                <h4>Возможные настройки</h4>
                                <ul class="list">
                                    <li>Калькулятор</li>
                                    <li>Галерея</li>
                                    <li>Блок новостей</li>
                                    <li>Блок отзывов</li>
                                    <li>Блог</li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    <div>@await Component.InvokeAsync("PriceTimeDemo")</div>
                </div>
            </div> @*tab__c3*@
        </div>
    </section>




    @*<section class="tariff">
            <h2>
                Сайт визитка это ваше лицо и лучше бы вы купили у нас визитку подорже
            </h2>
            <div class="tariff-wrap">
                <div class="promo-wrapper">
                    <div class="promo-economy">
                        <div class="header-promo-economy">
                            <div class="promo-icon">
                                <img src="img/promo-site/economy.png" alt="economy" />
                            </div>
                            <h3>Тариф Эконом</h3>
                            <p>Доступный, стабильный, надежный!</p>
                            <a href="#" class="btn btn-icon-right btn-primary">
                                3 000 р
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div> <!--header-->
                        <ul>
                            <li>
                                Описание
                                <strong>2</strong>
                            </li>
                            <li>
                                Описание
                                <strong>3</strong>
                            </li>
                            <li>
                                Описание
                                <strong>8</strong>
                            </li>
                        </ul>
                    </div> <!--promo-economy-->
                </div> <!--promo-wrapper-->
                <div class="promo-wrapper">
                    <div class="promo-standart">
                        <div class="header-promo-standart">
                            <div class="promo-icon">
                                <img src="img/promo-site/standart.png" alt="standart" />
                            </div>
                            <h3>Тариф Стандарт</h3>
                            <p>Лучшее предложение!</p>
                            <a href="#" class="btn btn-icon-right btn-more">
                                7 000 p
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div> <!--header-->
                        <ul>
                            <li>
                                Описание
                                <strong>2</strong>
                            </li>
                            <li>
                                Описание
                                <strong>3</strong>
                            </li>
                            <li>
                                Описание
                                <strong>8</strong>
                            </li>
                            <li>
                                Описание
                                <strong>2</strong>
                            </li>
                            <li>
                                Описание
                                <strong>2</strong>
                            </li>
                        </ul>
                    </div> <!--promo-standart-->
                </div> <!--promo-wrapper-->
                <div class="promo-wrapper">
                    <div class="promo-max">
                        <div class="header-promo-max">
                            <div class="promo-icon">
                                <img src="img/promo-site/max.png" alt="max" />
                            </div>
                            <h3>Тариф Максимум</h3>
                            <p>Для самых продвинутых</p>
                            <a href="#" class="btn btn-icon-right btn-primary">
                                13 000 р
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div> <!--header-->
                        <ul>
                            <li>
                                Описание
                                <strong>2</strong>
                            </li>
                            <li>
                                Описание
                                <strong>3</strong>
                            </li>
                            <li>
                                Описание
                                <strong>8</strong>
                            </li>
                            <li>
                                Описание
                                <strong>2</strong>
                            </li>
                            <li>
                                Описание
                                <strong>2</strong>
                            </li>
                            <li>
                                Описание
                                <strong>2</strong>
                            </li>
                            <li>
                                Описание
                                <strong>2</strong>
                            </li>
                        </ul>
                    </div> <!--promo-max-->
                </div> <!--promo-wrapper-->
            </div>
        </section>*@

    @Html.Partial("_StepsCreatePartialView")

    @await Component.InvokeAsync("ExamplesSites", new { category = "Визитка" })
    @await Component.InvokeAsync("OrderForm")

    <section class="footer">
        @Html.Partial("_FooterPartialView")
    </section>
</div>
