@{
    ViewData["Title"] = "";
}



<div class="container">
    <section class="content">
        <h2>Сайт визитка</h2>
        <p>
            Небольшой информационный сайт о компании, на котором Вы можете рассказать клиентам о ваших ценах, услугах, товарах,
            акциях и многом другом. При желании на сайте можно разместить каталог продукции, схему проезда, отзывы клиентов,
            новости компании, карту сайта, форму быстрой связи или форму предварительного заказа.
        </p>
        <p>
            Веб сайт визитка - это оптимальная <span>рекламная площадка</span> для представителей малого и среднего бизнеса.
            Имея в наличии свой сайт, Вы можете проводить рекламные компании в Интернете.
        </p>
        <p>
            Стоимость сайта визитки, его цена на порядок ниже стоимости создания любого другого сайта,
            а его содержание и вовсе требует минимальных затрат. Создать сайт визитку недорого и быстро.
        </p>
        <p>
            Веб сайт визитка работает круглосуточно, ему не нужны больничные и отпуск – информация доступна
            посетителям <span>24 часа в сутки, 7 дней в неделю.</span> 
        </p>
        <p>
            Сайт поддерживает положительный имидж компании.
            Следовать «в ногу» со временем и прогрессом – хороший тон в деловом мире.
        </p>



    </section>
    <section class="promo-site-slider">
        <div class="slider" role="slider">
            <div class="slide_viewer">
                <div class="slide_group">
                    <div class="slide">
                        <img src="http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/07/4k-wallpaper-10.jpg" />
                    </div>
                    <div class="slide">
                        <img src="http://www.wallpapersxl.com/wallpapers/1920x1080/awesome-natural-wallppaper/919832/awesome-natural-wallppaper-forest-beautiful-hd-919832.jpg" />
                    </div>
                    <div class="slide">
                        <img src="http://www.100hdwallpapers.com/wallpapers/1920x1080/mountain_reflections-hd_wallpapers.jpg" />
                    </div>
                    <div class="slide">
                        <img src="http://hdwallpapersets.com/wp-content/uploads/2016/01/Nature-HD-Wallpapers.jpg" />
                    </div>
                </div>
            </div>
        </div><!-- slider -->

        <div class="slide_buttons"></div>
        <div class="directional_nav">
            <div class="previous_btn" title="Previous">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </div>
            <div class="next_btn" title="Next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
        </div>
    </section>

    


    @*<section class="tariff">
            <h2>
                Сайт визитка это ваше лицо и лучше бы вы купили у нас визитку подорже
            </h2>
            <div class="tariff-wrap">
                <div class="promo-wrapper">
                    <div class="promo-economy">
                        <div class="header-promo-economy">
                            <div class="promo-icon">
                                <img src="img/promo-site/economy.png" alt="economy" />
                            </div>
                            <h3>Тариф Эконом</h3>
                            <p>Доступный, стабильный, надежный!</p>
                            <a href="#" class="btn btn-icon-right btn-primary">
                                3 000 р
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div> <!--header-->
                        <ul>
                            <li>
                                Описание
                                <strong>2</strong>
                            </li>
                            <li>
                                Описание
                                <strong>3</strong>
                            </li>
                            <li>
                                Описание
                                <strong>8</strong>
                            </li>
                        </ul>
                    </div> <!--promo-economy-->
                </div> <!--promo-wrapper-->
                <div class="promo-wrapper">
                    <div class="promo-standart">
                        <div class="header-promo-standart">
                            <div class="promo-icon">
                                <img src="img/promo-site/standart.png" alt="standart" />
                            </div>
                            <h3>Тариф Стандарт</h3>
                            <p>Лучшее предложение!</p>
                            <a href="#" class="btn btn-icon-right btn-more">
                                7 000 p
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div> <!--header-->
                        <ul>
                            <li>
                                Описание
                                <strong>2</strong>
                            </li>
                            <li>
                                Описание
                                <strong>3</strong>
                            </li>
                            <li>
                                Описание
                                <strong>8</strong>
                            </li>
                            <li>
                                Описание
                                <strong>2</strong>
                            </li>
                            <li>
                                Описание
                                <strong>2</strong>
                            </li>
                        </ul>
                    </div> <!--promo-standart-->
                </div> <!--promo-wrapper-->
                <div class="promo-wrapper">
                    <div class="promo-max">
                        <div class="header-promo-max">
                            <div class="promo-icon">
                                <img src="img/promo-site/max.png" alt="max" />
                            </div>
                            <h3>Тариф Максимум</h3>
                            <p>Для самых продвинутых</p>
                            <a href="#" class="btn btn-icon-right btn-primary">
                                13 000 р
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div> <!--header-->
                        <ul>
                            <li>
                                Описание
                                <strong>2</strong>
                            </li>
                            <li>
                                Описание
                                <strong>3</strong>
                            </li>
                            <li>
                                Описание
                                <strong>8</strong>
                            </li>
                            <li>
                                Описание
                                <strong>2</strong>
                            </li>
                            <li>
                                Описание
                                <strong>2</strong>
                            </li>
                            <li>
                                Описание
                                <strong>2</strong>
                            </li>
                            <li>
                                Описание
                                <strong>2</strong>
                            </li>
                        </ul>
                    </div> <!--promo-max-->
                </div> <!--promo-wrapper-->
            </div>
        </section>*@
</div> <!--container-->
@Html.Partial("_StepsPartial")
@await Component.InvokeAsync("OrderForm")
