@model Service

@{
    ViewData["Title"] = "Создание интернет-магазина";
}

<div class="container">
    <div class="wrapper-shop">
        <h1>Интернет магазин</h1>
        <section class="info-shop">
            <div class="shop-preview">
                <img src="~/images/shop/post01.jpg" alt="интернет магазин" />
            </div>
            <div class="shop-idea">
                <h2>Интернет магазин</h2>
                <p>
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </p>
                <div class="shop-demo">
                    <a href="#" class="btn">Демо сайта</a>
                    <a href="#" class="btn">Демо админки</a>
                </div>
                <div class="shop-order">
                    @*<div class="shop-price">
                            <label> <input type="radio" name="order" />Купить 25 000р</label>
                            <label> <input type="radio" name="order" />Арендовать от 2 000 р/мес</label>
                        </div>*@
                    @*<label class="btn" for="modal-window">Заказать</label>*@ <!--вызов мод.окна-->
                    <a class="btn btn-long btn-ghost-more" href="#form">Заказать</a>
                </div>
            </div>
        </section>
        <section class="description-shop"></section>
        <section class="step-work"></section>

        <div class="shop-description">
            <div class="contains">
                <h3>В стоимость входит</h3>
                <ul>
                    <li>Любой из 5 шаблонов на выбор</li>
                    <li>Установка CMS на хостинге</li>
                    <li>Настройка магазина</li>
                    <li>Хостинг и доменое имя на 1год</li>
                    <li>Почтовый ящик с Вашим доменом</li>

                </ul>
            </div>
            <div class="extra">
                <h3>Дополнительные услуги</h3>
                <ul>
                    <li>Базовое SEO</li>
                    <li>Доработка</li>
                    <li>И еще это</li>
                    <li>И вот</li>
                </ul>
            </div>
        </div>

    </div>
</div> <!--container-->
@Html.Partial("_StepsPartialView")
@await Component.InvokeAsync("OrderForm")


<!-- Nav Tabs -->

@*<div class="shop-description">
        <section class="tabs">
            <input id="tab_1" type="radio" name="tab" checked="checked" />
            <input id="tab_2" type="radio" name="tab" />
            <input id="tab_3" type="radio" name="tab" />

            <div class="label-wrap" role="tablist">
                <label for="tab_1" id="tab_l1" role="tab">Что входит в цену</label>
                <label for="tab_2" id="tab_l2" role="tab">Дополнительные услуги</label>
                <label for="tab_3" id="tab_l3" role="tab">Еще что-то</label>
            </div>

            <div class="tabs_cont">
                <div id="tab_c1" role="tabpanel">

                </div>
                <div id="tab_c2" role="tabpanel">222</div>
                <div id="tab_c3" role="tabpanel">3333</div>
            </div>
        </section>

    </div>*@ <!--shop-description-->
<!-- Модальное окно -->
@*<div class="modal">
    <input class="modal-open" id="modal-window" type="checkbox" hidden>
    <div class="modal-wrap" aria-hidden="true" role="dialog">
        <label class="modal-overlay" for="modal-window"></label>
        <div class="modal-dialog">
            <div class="modal-header">
                <h4>Контактная информация </h4>
                <label class="btn-close" for="modal-window" aria-hidden="true">×</label>
            </div>
            <div class="modal-body">
                <form method="post" action="" id="shop_order" class="modal-form" role="form">
                    <section class="information">
                        <input type="text" placeholder="Имя" />
                        <input type="tel" placeholder="Телефон" />
                        <input type="email" placeholder="Email" />*@
<!--<p>*выбирите наиболее предпочтительный вид связи</p>-->
@*</section>
                        <section class="comment">
                            <textarea name="comment" style="height:150px" placeholder="Комментарий"></textarea>
                            <div class="file">
                                <p>
                                    Если у вас есть готовый бриф или ТЗ можете приложить их к письму
                                </p>

                                <div class="file_upload">
                                    <button type="button">Выбрать</button>
                                    <div>Файл не выбран</div>
                                    <input type="file">
                                </div>
                                <div class="capcha">
                                    тут капча
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
                <div class="modal-footer">
                    <label class="btn " for="modal-window">Отправить!</label>
                </div>
            </div>
        </div>
    </div>*@

