<div class="container">
    <div class="wrapper-shop">
        <h1>Интернет магазин</h1>
        <section class="info-shop">
            <div class="shop-preview">
                <img src="img/post01.jpg" alt="интернет магазин" />
            </div>
            <div class="shop-idea">
                <div class="shop-demo">
                    <h2>Интернет магазин</h2>
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                    <a href="#" class="demo">Демо сайта</a>
                    <a href="#" class="demo">Демо админки</a>
                </div>
                <div class="shop-order">
                    <label> <input type="radio" name="order" />Купить 25 000р</label>
                    <label> <input type="radio" name="order" />Арендовать от 2 000 р/мес</label>
                    <button type="button">Заказать</button>
                </div>
            </div>
        </section>
        <section class="description-shop"></section>
        <section class="step-work"></section>
    </div>
</div>