@model  BlogListViewModel

@{   
    Layout = "_LayoutBlogRightSidebar";
    ViewData["Title"] = "Статьи о веб-разработке от Olxaweb";
    ViewData["Description"] = "Статьи о выборе будущего сайта, его создании или разработке и продвижении в сети интернет";
  //  ViewBag.DisplayCurrentCategory = Model.CurrentCategory;
}
@*<div class="blog-title">
    <h1>@(ViewBag.DisplayCurrentCategory == null ? "Блог OlxaWeb" : "Категория: " + ViewBag.DisplayCurrentCategory)</h1>
</div>*@
<div class="blog-wrapper">
    
    <section class="posts-wrap">       
        <div class="posts "> @*post flex*@
            @foreach (var p in Model.Posts)

            {
                @Html.Partial("_PostItem_PartialViews", p)
            }

        </div>
    </section>    
</div>




@section Pagination{
    <section class="pagination">
        <div page-model=@Model.PagingInfo page-action="AllPosts"
             page-classes-enabled="true"
             page-class=""
             page-class-normal=""
             page-class-selected=current
             page-url-category=@Model.CurrentCategory
             class="nav-links">
        </div>
    </section>
}

