@model  BlogListViewModel

@{Layout = "_LayoutBlogRightSidebar"; }

        <div class="post">
            @foreach (var p in Model.Posts)

            {
                @Html.Partial("_PostItem_PartialViews", p)
            }
                       
        </div>  
@section Pagination{
    <section class="pagination">
        <div page-model=@Model.PagingInfo page-action="AllPosts"
             page-classes-enabled="true"
             page-class=""
             page-class-normal=""
             page-class-selected=current
             page-url-category=@Model.CurrentCategory
             class="nav-links">
        </div>
    </section>
}                
        
      