@model OlxaWebCore.Models.DataModels.Post

@{
    ViewData["Title"] = "Редактирование поста: " + Model.Title;
    ViewData["Robots"] = "none";
    Layout = "_LayoutAdmin";
}



@*~/lib/fileman/index.html*@
@Html.Partial("_AdminButtonNavPartialView")

<form asp-action="EditPost" class="edit-post">


    @*<textarea id="editor1" name="editor1">&lt;p&gt;Initial value.&lt;/p&gt;</textarea>*@

    @*<script type="text/javascript">
        CKEDITOR.replace( 'editor1' );
        </script>*@

    <script>

        var roxyFileman = '/lib/fileman/index.html';
        $(function () {
            CKEDITOR.replace('editor1', {
                filebrowserBrowseUrl: roxyFileman,
                filebrowserImageBrowseUrl: roxyFileman + '?type=image',
                removeDialogTabs: 'link:upload;image:upload'
            });
        });
    </script>



    <input type="hidden" asp-for="PostID" />

    <div class="post-title">
        <label asp-for="Title"></label>
        <input type="text" asp-for="Title">
        <span asp-validation-for="Title" />
    </div>


    <div class="meta-description">

        <div class="short-description">
            <label asp-for="ShortDescription"></label>
            <textarea asp-for="ShortDescription"></textarea>
            @*<input type="text" asp-for="ShortDescription">*@
        </div>


        <div class="meta-catigory">
            <label asp-for="Category"></label>
            <input type="text" asp-for="Category">

            <label asp-for="Meta"></label>
            <input type="text" asp-for="Meta">

            <div class="img-preview">
                <span>preview</span>
                <div class="containers">
                    <div class="image-wrapper">
                        <img class="image" src="@Model.Picture" alt="preview" />
                    </div>
                </div>

                <input type="text" asp-for="Picture">
                @*<div class="btn file-upload">
                    <input type="file" name="preview" class="file-input">Выбирите файл
                </div>*@
            </div>
        </div>
    </div>

    <div class="post-description">
        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>

        @*<input type="text" asp-for="Description">*@
    </div>


    <label asp-for="Published"></label>
    <input type="checkbox" asp-for="Published">


    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</form>

<div class="btn-control-post">
    <div>
        <a asp-controller="Blog" asp-action="AllPostsAdmin">Вернуться</a>
    </div>

    <form asp-action="DeleteService" class="btn-post-delete">
        <input type="hidden" asp-for="PostID" />
        <input type="submit" value="X" class="btn-close" title="Удалить" />
    </form>
</div>


@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@


