@model OlxaWebCore.Models.DataModels.Post

@{
    ViewData["Title"] = "Редактирование поста: "+Model.Title;
    Layout = "_LayoutAdmin";
}




<form asp-action="EditPost">

    <input type="hidden" asp-for="PostID" />

    <label asp-for="Title" ></label>
    <input type="text" asp-for="Title"  >

    <label asp-for="Category"></label>
    <input type="text" asp-for="Category">

    <label asp-for="ShortDescription"></label>
    <input type="text" asp-for="ShortDescription">

    <label asp-for="Description"></label>
    <input type="text" asp-for="Description">
    
    <label asp-for="Meta"></label>
    <input type="text" asp-for="Meta">

    <label asp-for="Published"></label>
    <input type="checkbox" asp-for="Published">
 
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</form>

<div>
    <a asp-controller="Blog" asp-action="AllPostsAdmin">Вернуться</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@


