<div class="container">
    <div class="order-wrap">        
       
        <h3>
            Спасибо за обращение в OlxaWeb!
        </h3>        
        <p>
            Мы скоро свяжемся c вами.
        </p>
    </div>
    
</div>
