@model Order

<div class="order-wrapper">
    <div class="container">
        <div class="order-title-wrap">
            <section class="order-title">
                <h3>
                    <span>@Model.Name,</span> спасибо за обращение в OlxaWeb!
                </h3>
                <p>
                    Мы скоро свяжемся c вами.
                </p>
            </section>
        </div>
    </div>
</div>

