@model Order
<div class="container">
    <div class="order-wrap">
        <h3>
            Спасибо за заказ @Model.Name !
        </h3>
        <p>
            Мы скоро с вами свяжемся.
        </p>
    </div>
    <h3>
        Спасибо за заказ @Model.Name !
    </h3>
</div>
