<div class="container">
    <div class="order-wrap">
        <h3>
            Спасибо за заказ!
        </h3>
        <p>
            Мы скоро с вами свяжемся.
        </p>
    </div>
    
</div>
