@model Order

<div class="order-wrap">
    <div class="container">
        <section class="order-title">
            <h3>
              <span>@Model.Name,</span> спасибо за обращение в OlxaWeb!
            </h3>
            <p>
                Мы скоро свяжемся c вами.
            </p>
        </section>
    </div>
</div>

