@model Order

@{
    Layout = "_LayoutAdmin";
    
        ViewData["Title"] = "";
}

@Html.DisplayForModel()

<form asp-action="DeleteOrder" asp-controller="Order">
    <input type="submit" value="Delete" class="btn btn-default" />
</form>
