@{
    ViewData["Title"] = "Мы делаем сайты - OlxaWeb";
    ViewData["Description"] = "Веб-студия OlxaWeb предлагает разработку сайтов на фреймворке ASP.NET CORE, создание сайтов на CMS, а так же продажу уже готовых решений";
    ViewBag.SelectedMenu = "HomeAbout";
}
@section scripts{
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap,
            myPlacemark;

        function init() {
            myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 7,
                controls: ["zoomControl", "fullscreenControl"]
            });

            myPlacemark = new ymaps.Placemark([55.76, 37.64], {
                hintContent: 'Москва',
                balloonContent: 'Работаем по всей России, личные встречи в Москве'
            },
                {
                    preset: 'islands#greenDotIcon'
                });
            myMap.behaviors.disable(['scrollZoom']);
            myMap.geoObjects.add(myPlacemark);
        }
    </script>
}

<div class="about-wrap">
    @*<section class="about-wrapper">
        <div class="about-company-wrap">
            <div class="container">
                <div class="about-company">
                    <h1>OlxaWeb</h1>
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor,
                        luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>
            </div>
        </div>*@
    @*<div class="how-we-work" id="work">
            <div class="container">
                <h2>Этапы сотрудничества</h2>
                <p>
                    Tincidunt integer eu augue augue nunc elit dolor,
                    luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                    vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </p>
            </div>
        </div>*@
    @*<div class="about-team-wrap">
        <div class="container">
            <div class="about-team">
                <h2>Наша команда</h2>
                <div class="team-row">
                    <div class="team-inner-wrap">
                        <div class="team-inner">
                            <div class="team-image">
                                <img src="~/images/team-foto.jpg" alt="team"/> @*фото-квадратное*@
    @*<div class="social-bar">
                                                <a href="#" class="skype">
                                                    <i class="fa fa-skype" aria-hidden="true"></i>
                                                </a>
                                                <a href="#" class="vk">
                                                    <i class="fa fa-vk" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <h3 class="team-name">Иван Бровкин</h3>
                                        <span class="team-position">Человек Оркестр</span>
                                        <p>
                                            Очень образованный и компетентный специалист,
                                            осуществляет работу по большинству направлений.
                                        </p>
                                    </div>
                                </div>
                                <div class="team-inner-wrap">
                                    <div class="team-inner">
                                        <div class="team-image">
                                            <img src="~/images/team-foto.jpg" alt="team" />
                                            <div class="social-bar">
                                                <a href="#" class="skype">
                                                    <i class="fa fa-skype" aria-hidden="true"></i>
                                                </a>
                                                <a href="#" class="vk">
                                                    <i class="fa fa-vk" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <h3 class="team-name">Иван Бровкин</h3>
                                        <span class="team-position">Человек Оркестр</span>
                                        <p>
                                            Очень образованный и компетентный специалист,
                                            осуществляет работу по большинству направлений.
                                        </p>
                                    </div>
                                </div>
                                <div class="team-inner-wrap">
                                    <div class="team-inner">
                                        <div class="team-image">
                                            <img src="~/images/team-foto.jpg" alt="team" />
                                            <div class="social-bar">
                                                <a href="#" class="skype">
                                                    <i class="fa fa-skype" aria-hidden="true"></i>
                                                </a>
                                                <a href="#" class="vk">
                                                    <i class="fa fa-vk" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <h3 class="team-name">Иван Бровкин</h3>
                                        <span class="team-position">Человек Оркестр</span>
                                        <p>
                                            Очень образованный и компетентный специалист,
                                            осуществляет работу по большинству направлений.
                                        </p>
                                    </div>
                                </div>
                                <div class="team-inner-wrap">
                                    <div class="team-inner">
                                        <div class="team-image">
                                            <img src="~/images/team-foto.jpg" alt="team" />
                                            <div class="social-bar">
                                                <a href="#" class="skype">
                                                    <i class="fa fa-skype" aria-hidden="true"></i>
                                                </a>
                                                <a href="#" class="vk">
                                                    <i class="fa fa-vk" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <h3 class="team-name">Иван Бровкин</h3>
                                        <span class="team-position">Человек Оркестр</span>
                                        <p>
                                            Очень образованный и компетентный специалист,
                                            осуществляет работу по большинству направлений.
                                        </p>
                                    </div>
                                </div>
                                <div class="team-inner-wrap">
                                    <div class="team-inner">
                                        <div class="team-image">
                                            <img src="~/images/team-foto.jpg" alt="team" />
                                            <div class="social-bar">
                                                <a href="#" class="skype">
                                                    <i class="fa fa-skype" aria-hidden="true"></i>
                                                </a>
                                                <a href="#" class="vk">
                                                    <i class="fa fa-vk" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <h3 class="team-name">Иван Бровкин</h3>
                                        <span class="team-position">Человек Оркестр</span>
                                        <p>
                                            Очень образованный и компетентный специалист,
                                            осуществляет работу по большинству направлений.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>*@
    <section class="contacts-wrapper" id="contacts">
        <div class="contacts">
            <div id="map"></div>
            <div class="info-wrap">
                <div class="info-inner-about">
                    <div class="about-company">
                        <h1>OlxaWeb</h1>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor,
                            luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                            vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>
                </div>
                <div class="info-inner-contact">
                    <table>
                        <tr>
                            <td>
                                <span>E-mail</span>
                            </td>
                            <td>
                                <a href="mailto:info@olxaweb.ru">info@olxaweb.ru</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Телефон</span>
                            </td>
                            <td>
                                <a href="#">8(919)965-50-70</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Skype</span>
                            </td>
                            <td>
                                <a href="skype:live:olxaweb?chat">OlxaWeb</a>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="info-inner-media">
                    <ul class="social">
                        <li>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                        </li>
                        <li>
                            <a href="https://vk.com/olxaweb"><i class="fa fa-vk" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://t.me/olxaweb" target="_blank"><i class="fa fa-send" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </section>

</div>