@{
    ViewData["Title"] = "About";
}
@*<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>*@
<div class="about-wrap">
    <section class="contacts-wrapper"></section>
    <section class="time-development-wrapper"></section>
    <section class="blog-wrapper"></section>

</div>