@{
    ViewData["Title"] = "About";
}
@*<h2>@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>

    <p>Use this area to provide additional information.</p>*@
<div class="about-wrap">
    <section class="about-wrapper">
        <div class="container">
            <div class="about-title">
                <h2>OlxaWeb</h2>
                <p>
                    Tincidunt integer eu augue augue nunc elit dolor,
                    luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                    vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </p>
            </div>

        </div>
    </section>
    <section class="contacts-wrapper">
        <div class="contacts">
            <div class="map">
                <img src="~/images/about/2017-07-04_20-51-36.png" alt="Москва" />
            </div>
            <div class="info">
                <p>
                    <span>E-mail</span>
                    <a href="#">тут мыло</a>
                </p>
                <p>
                    <span>Телефон</span>
                    <a href="#">555-555-336</a>
                </p>
                <p>
                    <span>Skype</span>
                    <a href="#">скайп</a>
                </p>

            </div>
        </div>

    </section>

</div>