@{
    ViewData["Title"] = "About";
}
@*<h2>@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>

    <p>Use this area to provide additional information.</p>*@
<div class="about-wrap">
   @* <section class="about-wrapper">
    <div class="about-title">
        <h2>OlxaWeb</h2>
        <p>
            Tincidunt integer eu augue augue nunc elit dolor,
            luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
            vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        </p>
    </div>
    </section>*@
    <section class="contacts-wrapper">
        <div class="contacts">
            <div class="map">
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae9b1ee52c7b0b88f9760a3ee948179eb467db70cff98be5527c6f66bab563ede&amp;width=800&amp;height=720&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
            <div class="info">
                <p>
                    <span>E-mail</span>
                    <a href="#">тут мыло</a>
                </p>
                <p>
                    <span>Телефон</span>
                    <a href="#">555-555-336</a>
                </p>
                <p>
                    <span>Skype</span>
                    <a href="#">скайп</a>
                </p>

            </div>
        </div>

    </section>

</div>