@{
    Layout = "_LayoutLibrary";
    ViewData["Title"] = "OlxaWeb-делаем сайты";
}

<link href="~/lib/fullpage.js/jquery.fullPage.css" type="text/css" rel="stylesheet" />


@section scripts{
    @*скрипты для прокрутки по секциям*@
    <script src="~/lib/fullpage.js/vendors/jquery.easings.min.js"></script>
    <script src="~/lib/fullpage.js/vendors/scrolloverflow.min.js"></script>
    <script src="~/lib/fullpage.js/jquery.fullPage.js"></script>
    <script>
        $(document).ready(function () {

            $('#fullpage').fullpage({
                scrollingSpeed: 2000,
                fitToSectionDelay: 0,
                responsiveWidth: 992 //отключение плагина при разрешении меньше 769px
            });
        });
    </script>
    <script src="~/js/PortfolioIndex.js"></script>
}

@Html.Partial("_HeaderPartialView")
<div class="index-wrap" id="fullpage">

    <section class="heading section">
        <div class="title">
            <svg viewBox="0 0 1280 720">
                <text text-anchor="middle" x="50%" y="30%">Olxa</text>
            </svg>
        </div>
        <div class="description-wrap">
            <div class="description">
                <p class="fade-in three text">
                    если нужен сайт...
                    <span class="rw-words rw-words-1">
                        <span>разработка</span>
                        <span>продажа</span>
                        <span>создание</span>
                        <span>разработка</span>
                        <span>продажа</span>
                        <span>создание</span>
                        @*  <span>продвижение</span>
                            <span>аренда</span>*@
                        @*<span></span>*@
                    </span>
                </p>
            </div>
        </div>

        @*<div class="wrap-title">
                <a href="#" class="title">ОЛЬХА</a>
            </div>
            <div class="wrap-description">
                <div class="content">
                    <div class="content__container">
                        <p class="content__container__text">
                            сайты
                        </p>
                        <ul class="content__container__list">
                            <li class="content__container__list__item">продаём !</li>
                            <li class="content__container__list__item">делаем !</li>
                            <li class="content__container__list__item">создаём !</li>
                            <li class="content__container__list__item">разрабатываем !</li>
                        </ul>

                    </div>
                </div>
            </div>*@
    </section>
    <section class="about section fp-auto-height">
        <div class="about__wrap">
            <div class="title-wrap">
                <h2>Наши предложения</h2>
                <div class="headline">Индивидуальный подход к каждому клиенту</div>
            </div>

            <div class="container">
                <div class="about__row">
                    <div class="about__col">
                        <div class="about__col__item">
                            <h3>Продажа</h3>
                            <p>
                                Готовый сайт, содержащий все необходимые модули для ведения бизнеса
                                (форма обратной связи, контакты и т.д.), идеальный вариант для
                                быстрого старта.
                                <a asp-controller="Product" asp-action="AllProducts">Подробнее...</a>
                            </p>
                        </div>
                    </div>
                    <div class="about__col">
                        <div class="about__col__item">

                            <h3>Создание</h3>
                            <p>
                                Сайт собирается из модулей и настраивается под нужды клиента,
                                оптимальное соотношение функциональности и стоимости
                                <a asp-controller="Web_sites" asp-action="Creation">Подробнее...</a>
                            </p>
                        </div>
                    </div>
                    <div class="about__col">
                        <div class="about__col__item">
                            <h3>Разработка</h3>
                            <p>
                                Сайт делается на фреймворке ASP.NET CORE с нуля исходя
                                из требований заказчика, проходя по всем этапам разработки
                                <a asp-controller="Web_sites" asp-action="Develop">Подробнее...</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="index-web-sites-wrap section fp-auto-height">                 
            @Html.Partial("_Index_WebSitesPartialView")        
    </section>
    <section class="portfolio-index section">
        <div class="portfolio-index-wrap">
            <h2>Сайты созданные OlxaWeb</h2>
            <div class="galery-wrap">
                @*<div class="small hidden">
                        @await Component.InvokeAsync("ExamplesSites", new { category = "Главная" })
                    </div>*@
                
                    @await Component.InvokeAsync("ExamplesSites", new { category = "Главная" })
            </div>
        </div>

    </section>
    <section class="form-index section">
        <div class="form-index-wrap">
            @await Component.InvokeAsync("OrderForm")
        </div>

    </section>
    <section class="footer section fp-auto-height">
        @Html.Partial("_FooterPartialView")
    </section>

</div>

