@{
    Layout = "_LayoutLibrary";
    ViewData["Title"] = "OlxaWeb-делаем сайты";
}

<link href="~/lib/fullpage.js/jquery.fullPage.css" type="text/css" rel="stylesheet" />


@section scripts{
    @*скрипты для прокрутки по секциям*@
    <script src="~/lib/fullpage.js/vendors/jquery.easings.min.js"></script>
    <script src="~/lib/fullpage.js/vendors/scrolloverflow.min.js"></script>
    <script src="~/lib/fullpage.js/jquery.fullPage.js"></script>
    <script>
        $(document).ready(function () {
            $('#fullpage').fullpage({
                scrollingSpeed: 2000,
                fitToSectionDelay: 0
            });
        });
    </script>
    <script src="~/js/PortfolioIndex.js"></script>
}

@Html.Partial("_HeaderPartialView")
<div class="index-wrap" id="fullpage">

    <section class="heading section">
        <div class="wrap-title">
            <a href="#" class="title">ОЛЬХА</a>
        </div>
        <div class="wrap-description">
            <div class="content">
                <div class="content__container">
                    <p class="content__container__text">
                        сайты
                    </p>
                    <ul class="content__container__list">
                        <li class="content__container__list__item">продаём !</li>
                        <li class="content__container__list__item">делаем !</li>
                        <li class="content__container__list__item">создаём !</li>
                        <li class="content__container__list__item">разрабатываем !</li>
                    </ul>

                </div>
            </div>
        </div>
    </section>
    <section class="about section fp-auto-height">
        <div class="about__wrap">
            <div class="title-wrap">
                <h2>Мы делаем сайты</h2>
                <div class="headline">Направления OlxaWeb</div>
            </div>

            <div class="container">
                <div class="about__row">
                    <div class="about__col">
                        <div class="about__col__item">
                            <h3>Продажа готовых сайтов</h3>
                            <p>
                                Он будет содержать основные модули для ведения бизнесса(форма обратной связи, контакты и т.д.)
                                Своей низкой ценой и отсутствием временных затрат на создание, идеально подходит для начинающих
                                бизнессменов.
                                <a asp-controller="Home" asp-action="Price">Подробнее...</a>
                            </p>
                        </div>
                    </div>
                    <div class="about__col">
                        <div class="about__col__item">

                            <h3>Создание</h3>
                            <p>
                                Сайт делается с использованием системы управления контентом(CMS).
                                Дизайн и модули которой настраиваются исходя из Ваших нужд.
                                @*Это золотая середина между готовыми решениями и разработкой сайта.
                                    Так как гораздо дешевле и быстрее разработки, но в тоже время довольно
                                    гибко настраивается под нужды заказчика*@
                                <a asp-controller="Home" asp-action="Price">Подробнее...</a>
                            </p>
                        </div>
                    </div>
                    <div class="about__col">
                        <div class="about__col__item">
                            <h3>Разработка</h3>
                            <p>
                                В этом случае сайт делается на фреймворке ASP.NET CORE.
                                Долго и дорого относительно остальных вариантов, все модули разрабатываются
                                @*исходя из нужд бизнесса клиента
                                    Проходит все стадии разработки начиная с написания ТЗ и заканчивая наполнением.*@
                                <a asp-controller="Home" asp-action="Price">Подробнее...</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="plus section">
        @Html.Partial("_Index_WebSitesPartialView")
    </section>
    @*<section class="steps-divelopment section fp-auto-height">
            <section class="tabs-all index-tabs" role="tab">
                <input id="tab__1" type="radio" name="tabs" checked="checked" />
                <input id="tab__2" type="radio" name="tabs" checked="checked" />
                <input id="tab__3" type="radio" name="tabs" />

                <div class="label-wrapper">
                    <label for="tab__1" id="tab__l1">Готовые решения</label>
                    <label for="tab__2" id="tab__l2">Создание сайта</label>
                    <label for="tab__3" id="tab__l3">Разработка сайта</label>
                </div>

                <div class="tabs_content">

                    <div id="tab__c1"> </div>

                    <div id="tab__c2">
                        @Html.Partial("_StepsCreatePartialView")
                    </div>
                    <div id="tab__c3">Это про третье</div>
                </div>
            </section>
        </section>*@
    <section class="portfolio-index section">
        <div class="portfolio-index-wrap">
            <h2>Сайты созданные OlxaWeb</h2>
            <div class="galery-wrap">
                @*<div class="small hidden">
                        @await Component.InvokeAsync("ExamplesSites", new { category = "Главная" })
                    </div>*@
                @await Component.InvokeAsync("ExamplesSites", new { category = "Главная" })
            </div>
        </div>

    </section>
    <section class="form-index section">
        <div class="form-index-wrap">
            @await Component.InvokeAsync("OrderForm")
        </div>

    </section>
    <section class="footer section fp-auto-height">
        @Html.Partial("_FooterPartialView")
    </section>

</div>

