@{
    ViewData["Title"] = "Цены на сайты в OlxaWeb";
    ViewData["Description"] = "Краткий перечень цен на создание, разработку и покупку сайтов в OlxaWeb";
    ViewBag.SelectedMenu = "HomePrice";
}
<div class="species-site-wrap">
    <div class="species-site-title">
        <h1>Сайты</h1>
        <small>Информация о сайтах, которые мы делаем</small>
    </div>

    <div class="container">
        <div class="species-site species-site-deck">
            <div id="faq-links">

                <div id="visit" class="faq-selected">Визитка</div>
                <div id="landung">Landing</div>
                <div id="corporate">Корпоративный</div>
                <div id="shop">Интернет магазин</div>
                <div id="information">Информационный</div>
            </div>

            <div id="faq-wrapper" class="about-visit ">

                <div class="faq-group">
                    <div class="slide-left">
                        <h2>Визитка</h2>
                        <p class="faq-description">
                            Содержит всю необходимую информацию о вас или вашей фирме,
                            как правило состоит из одной или нескольких страниц.
                            Имеет форму обратной связи и схему проезда, но при необходимости базовый функционал
                            можно расширить, например, добавить калькулятор, галерею, новости и пр.
                        </p>
                    </div>

                    <hr>
                </div>
                <div class="slide-left">
                    <div class="slides-row">
                        <div class="slide-left-inner-wrap">
                            <div class="slide-left-inner">
                                <h2>Готовые сайты</h2>
                                <p>
                                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                                    iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam.
                                </p>
                                <div class="price-time-wrap">
                                    <div class="price">
                                        <p>Цена</p>
                                        <span>15 000</span>
                                    </div>
                                    <div class="time">
                                        <p>Срок</p>
                                        <span>7 раб/дн.</span>
                                    </div>
                                </div>
                                <a href="#" class="link-more">Подробнее</a>
                            </div>
                        </div>
                        <div class="slide-left-inner-wrap">
                            <div class="slide-left-inner">
                                <h2>Создание</h2>
                                <p>
                                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                                    iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam.
                                </p>
                                <div class="price-time-wrap">
                                    <div class="price">
                                        <p>Цена</p>
                                        <span>15 000</span>
                                    </div>
                                    <div class="time">
                                        <p>Срок</p>
                                        <span>7 раб/дн.</span>
                                    </div>
                                </div>
                                <a href="#" class="link-more">Подробнее</a>
                            </div>
                        </div>
                        <div class="slide-left-inner-wrap">
                            <div class="slide-left-inner">
                                <h2>Разработка</h2>
                                <p>
                                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                                    iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam.
                                </p>
                                <div class="price-time-wrap">
                                    <div class="price">
                                        <p>Цена</p>
                                        <span>15 000</span>
                                    </div>
                                    <div class="time">
                                        <p>Срок</p>
                                        <span>7 раб/дн.</span>
                                    </div>
                                </div>
                                <a href="#" class="link-more">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about-landung faq-hide">

                <div class="faq-group">
                    <div class="slide-left">
                        <h2>Landing</h2>
                        <p class="faq-description">
                            Как правило это одна интернет страница, созданная для конкретного товара или
                            услуги побуждающая к действию целевую аудиторию (покупка или подписка).
                            Состоит из блоков, каждый из которых выполняет конкретную задачу.
                        </p>
                    </div>

                    <hr>
                </div>

                <div class="slide-left">
                    <div class="slides-row">
                        <div class="slide-left-inner-wrap">
                            <div class="slide-left-inner">
                                <h2>Готовые сайты</h2>
                                <p>
                                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                                    iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam.
                                </p>
                                <div class="price-time-wrap">
                                    <div class="price">
                                        <p>Цена</p>
                                        <span>15 000</span>
                                    </div>
                                    <div class="time">
                                        <p>Срок</p>
                                        <span>7 раб/дн.</span>
                                    </div>
                                </div>
                                <a href="#" class="link-more">Подробнее</a>
                            </div>
                        </div>
                        <div class="slide-left-inner-wrap">
                            <div class="slide-left-inner">
                                <h2>Создание</h2>
                                <p>
                                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                                    iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam.
                                </p>
                                <div class="price-time-wrap">
                                    <div class="price">
                                        <p>Цена</p>
                                        <span>15 000</span>
                                    </div>
                                    <div class="time">
                                        <p>Срок</p>
                                        <span>7 раб/дн.</span>
                                    </div>
                                </div>
                                <a href="#" class="link-more">Подробнее</a>
                            </div>
                        </div>
                        <div class="slide-left-inner-wrap">
                            <div class="slide-left-inner">
                                <h2>Разработка</h2>
                                <p>
                                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                                    iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam.
                                </p>
                                <div class="price-time-wrap">
                                    <div class="price">
                                        <p>Цена</p>
                                        <span>15 000</span>
                                    </div>
                                    <div class="time">
                                        <p>Срок</p>
                                        <span>7 раб/дн.</span>
                                    </div>
                                </div>
                                <a href="#" class="link-more">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about-corporate faq-hide">

                <div class="faq-group">
                    <div class="slide-left">
                        <h2>Корпоративный</h2>
                        <p class="faq-description">
                            Содержит исчерпывающую информацию о вашей фирме, в отличии от сайта визитки имеет
                            более сложную структуру за счет каталога продукции/услуг, галереи, деловой информации.
                        </p>
                    </div>

                    <hr>
                </div>
                <div class="slide-left">
                    <div class="slides-row">
                        <div class="slide-left-inner-wrap">
                            <div class="slide-left-inner">
                                <h2>Готовые сайты</h2>
                                <p>
                                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                                    iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam.
                                </p>
                                <div class="price-time-wrap">
                                    <div class="price">
                                        <p>Цена</p>
                                        <span>15 000</span>
                                    </div>
                                    <div class="time">
                                        <p>Срок</p>
                                        <span>7 раб/дн.</span>
                                    </div>
                                </div>
                                <a href="#" class="link-more">Подробнее</a>
                            </div>
                        </div>
                        <div class="slide-left-inner-wrap">
                            <div class="slide-left-inner">
                                <h2>Создание</h2>
                                <p>
                                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                                    iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam.
                                </p>
                                <div class="price-time-wrap">
                                    <div class="price">
                                        <p>Цена</p>
                                        <span>15 000</span>
                                    </div>
                                    <div class="time">
                                        <p>Срок</p>
                                        <span>7 раб/дн.</span>
                                    </div>
                                </div>
                                <a href="#" class="link-more">Подробнее</a>
                            </div>
                        </div>
                        <div class="slide-left-inner-wrap">
                            <div class="slide-left-inner">
                                <h2>Разработка</h2>
                                <p>
                                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                                    iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam.
                                </p>
                                <div class="price-time-wrap">
                                    <div class="price">
                                        <p>Цена</p>
                                        <span>15 000</span>
                                    </div>
                                    <div class="time">
                                        <p>Срок</p>
                                        <span>7 раб/дн.</span>
                                    </div>
                                </div>
                                <a href="#" class="link-more">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about-shop faq-hide">

                <div class="faq-group">
                    <div class="slide-left">
                        <h2>Интернет магазин</h2>
                        <p class="faq-description">
                            Позволяет принимать заказы в интернете 24 х 7, а удобная панель администратора легко и
                            быстро их обрабатывать. Гибкая структура позволяет расширить ассортимент
                            продукции и добавлять новые способы оплаты и доставки.
                        </p>
                    </div>

                    <hr>
                </div>
                <div class="slide-left">
                    <div class="slides-row">
                        <div class="slide-left-inner-wrap">
                            <div class="slide-left-inner">
                                <h2>Готовые сайты</h2>
                                <p>
                                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                                    iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam.
                                </p>
                                <div class="price-time-wrap">
                                    <div class="price">
                                        <p>Цена</p>
                                        <span>15 000</span>
                                    </div>
                                    <div class="time">
                                        <p>Срок</p>
                                        <span>7 раб/дн.</span>
                                    </div>
                                </div>
                                <a href="#" class="link-more">Подробнее</a>
                            </div>
                        </div>
                        <div class="slide-left-inner-wrap">
                            <div class="slide-left-inner">
                                <h2>Создание</h2>
                                <p>
                                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                                    iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam.
                                </p>
                                <div class="price-time-wrap">
                                    <div class="price">
                                        <p>Цена</p>
                                        <span>15 000</span>
                                    </div>
                                    <div class="time">
                                        <p>Срок</p>
                                        <span>7 раб/дн.</span>
                                    </div>
                                </div>
                                <a href="#" class="link-more">Подробнее</a>
                            </div>
                        </div>
                        <div class="slide-left-inner-wrap">
                            <div class="slide-left-inner">
                                <h2>Разработка</h2>
                                <p>
                                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                                    iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam.
                                </p>
                                <div class="price-time-wrap">
                                    <div class="price">
                                        <p>Цена</p>
                                        <span>15 000</span>
                                    </div>
                                    <div class="time">
                                        <p>Срок</p>
                                        <span>7 раб/дн.</span>
                                    </div>
                                </div>
                                <a href="#" class="link-more">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about-information faq-hide">

                <div class="faq-group">
                    <div class="slide-left">
                        <h2>Информационный</h2>
                        <p class="faq-description">
                            К этому виду можно отнести сайты, содержащие информацию по той или иной теме,
                            например: кулинарный, образовательный, развлекательный
                        </p>
                    </div>

                    <hr>
                </div>
                <div class="slide-left">
                    <div class="slides-row">
                        <div class="slide-left-inner-wrap">
                            <div class="slide-left-inner">
                                <h2>Готовые сайты</h2>
                                <p>
                                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                                    iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam.
                                </p>
                                <div class="price-time-wrap">
                                    <div class="price">
                                        <p>Цена</p>
                                        <span>15 000</span>
                                    </div>
                                    <div class="time">
                                        <p>Срок</p>
                                        <span>7 раб/дн.</span>
                                    </div>
                                </div>
                                <a href="#" class="link-more">Подробнее</a>
                            </div>
                        </div>
                        <div class="slide-left-inner-wrap">
                            <div class="slide-left-inner">
                                <h2>Создание</h2>
                                <p>
                                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                                    iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam.
                                </p>
                                <div class="price-time-wrap">
                                    <div class="price">
                                        <p>Цена</p>
                                        <span>15 000</span>
                                    </div>
                                    <div class="time">
                                        <p>Срок</p>
                                        <span>7 раб/дн.</span>
                                    </div>
                                </div>
                                <a href="#" class="link-more">Подробнее</a>
                            </div>
                        </div>
                        <div class="slide-left-inner-wrap">
                            <div class="slide-left-inner">
                                <h2>Разработка</h2>
                                <p>
                                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                                    iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam.
                                </p>
                                <div class="price-time-wrap">
                                    <div class="price">
                                        <p>Цена</p>
                                        <span>15 000</span>
                                    </div>
                                    <div class="time">
                                        <p>Срок</p>
                                        <span>7 раб/дн.</span>
                                    </div>
                                </div>
                                <a href="#" class="link-more">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>

        @*аккордион для мобильных*@
        <div class="species-site-mob">            
            <div class="accordion">
                <ul>
                    <li>
                        <input type="checkbox">
                        <i></i>
                        <h2 class="title_block">Сайт визитка</h2>
                        <div class="content">
                            <div class="list-wrap">
                                <div class="list-item">
                                    <h3>Готовые решения</h3>
                                    <p>
                                        Tincidunt integer eu augue augue nunc elit dolor,
                                        luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                                        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                    </p>
                                    <a href="#">Подробнее</a>
                                </div>
                                <div class="list-item">
                                    <h3>Создание сайта</h3>
                                    <p>
                                        Tincidunt integer eu augue augue nunc elit dolor,
                                        luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                                        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                    </p>
                                    <a href="#">Подробнее</a>
                                </div>
                                <div class="list-item">
                                    <h3>Разработка сайта</h3>
                                    <p>
                                        Tincidunt integer eu augue augue nunc elit dolor,
                                        luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                                        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                    </p>
                                    <a href="#">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" checked>
                        <i></i>
                        <h2 class="title_block">Лендинг</h2>
                        <div class="content">
                            <div class="list-wrap">
                                <div class="list-item">
                                    <h3>Готовые решения</h3>
                                    <p>
                                        Tincidunt integer eu augue augue nunc elit dolor,
                                        luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                                        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                    </p>
                                    <a href="#">Подробнее</a>
                                </div>
                                <div class="list-item">
                                    <h3>Создание сайта</h3>
                                    <p>
                                        Tincidunt integer eu augue augue nunc elit dolor,
                                        luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                                        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                    </p>
                                    <a href="#">Подробнее</a>
                                </div>
                                <div class="list-item">
                                    <h3>Разработка сайта</h3>
                                    <p>
                                        Tincidunt integer eu augue augue nunc elit dolor,
                                        luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                                        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                    </p>
                                    <a href="#">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" checked>
                        <i></i>
                        <h2 class="title_block">Корпоративный</h2>
                        <div class="content">
                            <div class="list-wrap">
                                <div class="list-item">
                                    <h3>Готовые решения</h3>
                                    <p>
                                        Tincidunt integer eu augue augue nunc elit dolor,
                                        luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                                        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                    </p>
                                    <a href="#">Подробнее</a>
                                </div>
                                <div class="list-item">
                                    <h3>Создание сайта</h3>
                                    <p>
                                        Tincidunt integer eu augue augue nunc elit dolor,
                                        luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                                        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                    </p>
                                    <a href="#">Подробнее</a>
                                </div>
                                <div class="list-item">
                                    <h3>Разработка сайта</h3>
                                    <p>
                                        Tincidunt integer eu augue augue nunc elit dolor,
                                        luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                                        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                    </p>
                                    <a href="#">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" checked>
                        <i></i>
                        <h2 class="title_block">Интернет-магазин</h2>
                        <div class="content">
                            <div class="list-wrap">
                                <div class="list-item">
                                    <h3>Готовые решения</h3>
                                    <p>
                                        Tincidunt integer eu augue augue nunc elit dolor,
                                        luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                                        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                    </p>
                                    <a href="#">Подробнее</a>
                                </div>
                                <div class="list-item">
                                    <h3>Создание сайта</h3>
                                    <p>
                                        Tincidunt integer eu augue augue nunc elit dolor,
                                        luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                                        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                    </p>
                                    <a href="#">Подробнее</a>
                                </div>
                                <div class="list-item">
                                    <h3>Разработка сайта</h3>
                                    <p>
                                        Tincidunt integer eu augue augue nunc elit dolor,
                                        luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                                        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                    </p>
                                    <a href="#">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" checked>
                        <i></i>
                        <h2 class="title_block">Информационный</h2>
                        <div class="content">
                            <div class="list-wrap">
                                <div class="list-item">
                                    <h3>Готовые решения</h3>
                                    <p>
                                        Tincidunt integer eu augue augue nunc elit dolor,
                                        luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                                        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                    </p>
                                    <a href="#">Подробнее</a>
                                </div>
                                <div class="list-item">
                                    <h3>Создание сайта</h3>
                                    <p>
                                        Tincidunt integer eu augue augue nunc elit dolor,
                                        luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                                        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                    </p>
                                    <a href="#">Подробнее</a>
                                </div>
                                <div class="list-item">
                                    <h3>Разработка сайта</h3>
                                    <p>
                                        Tincidunt integer eu augue augue nunc elit dolor,
                                        luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
                                        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                    </p>
                                    <a href="#">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        

    </div><!--container-->
</div>
