@{
    ViewData["Title"] = "Стоимость сайта";
}

<div class="container">
    <section class="price-solution">
        <div class="solution-row flex">
            <div class="solution-item">
                <a href="" class="solution-icon"><i class="fa fa-bug"></i></a>

                <a href="#" class="solution-title">
                    <h2>Сайт визиткa</h2>
                </a>
                <p>
                    Небольшой информационный сайт о компании. Быстрый и дешевый
                </p>
                <div class="solution-item-btn">
                    <div class="solution-price">6 000p</div>
                    <a href="" class="btn">Подробнее</a>
                </div>
            </div>
            <div class="solution-item">
                <a href="#" class="solution-title">
                    <i class="fa fa-bug"></i>
                    <h2>Лендинг</h2>
                </a>
                <p>
                    Cайт, который состоит из одной страницы, заточенный под одно действие: получить контакт или продать товар/услугу
                </p>
                <div class="solution-item-btn">
                    <div class="solution-price">6 000p</div>
                    <a href="" class="btn">Подробнее</a>
                </div>
            </div>
            <div class="solution-item">
                <a href="#" class="solution-title">
                    <i class="fa fa-bug"></i>
                    <h2>Корпоративный</h2>
                </a>
                <p>
                    Iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </p>

                <div class="solution-item-btn">
                    <div class="solution-price">6 000p</div>
                    <a href="" class="btn">Подробнее</a>
                </div>
            </div>
            <div class="solution-item">
                <a href="#" class="solution-title">
                    <i class="fa fa-bug"></i>
                    <h2>Интернет магазин</h2>
                </a>
                <p>
                    Торгует товарами в Интернете. Позволяет пользователям сформировать заказ на
                    покупку, выбрать способ оплаты и доставки заказа.<br/>
                    Работает круглосуточно, ему не нужны больничные и отпуск – информация
                    доступна посетителям 24 часа в сутки, 7 дней в неделю.
                </p>
                <div class="solution-item-btn">
                    <div class="solution-price">6 000p</div>
                    <a href="" class="btn">Подробнее</a>
                </div>
            </div>
            <div class="solution-item">
                <a href="#" class="solution-title">
                    <i class="fa fa-bug"></i>
                    <h2>Информационный</h2>
                </a>
                <p>
                    к ним относятся: развлекательный, позновательный
                </p>
                <div class="solution-item-btn">
                    <div class="solution-price">6 000p</div>
                    <a href="" class="btn">Подробнее</a>
                </div>
            </div>
            <div class="solution-item solution-item-question">
                <a href="#" class="solution-title">
                    <!--<i class="fa fa-bug"></i>-->
                    Не знаете что выбрать?
                </a>
                <p>
                    Деление сайтов на виды, носит весьма условный характер,
                </p>
                <div class="solution-item-btn">
                    <a href="" class="btn">Подробнее</a>
                </div>
            </div>
        </div> @*solution-row flex*@                
    </section>
</div> <!--container-->
@Html.Partial("_FormInSite_PartialView")
