@{
    ViewData["Title"] = "Стоимость сайта";
}

<div class="container">
    <section class="price-solution">
        <div class="solution-row flex">
            <div class="solution-item-wrap">
                <div class="solution-item">
                    @*<a href="" class="solution-icon"><i class="fa fa-bug"></i></a>*@
                    <div class="solution-title-wrap">
                        <a asp-controller="Web_sites" asp-action="Promosite" class="solution-title">
                            <h2>Сайт визиткa</h2>
                        </a>
                        <p>
                            Содержит всю необходимую информацию о вас или вашей фирме,
                            как правило состоит из одной или нескольких <br />страниц.
                        </p>

                    </div>
                    <ul>
                        <li>
                            Купить готовый: <strong>5000</strong>
                        </li>
                        <li>
                            Создание: <strong>5000</strong>
                        </li>
                        <li>
                            Разработка: <strong>5000</strong>
                        </li>
                    </ul>
                    <a asp-controller="Web_sites" asp-action="Promosite" class="btn btn-price-solution">Подробнее</a>
                </div>
            </div>
            <div class="solution-item-wrap">
                <div class="solution-item">
                    @*<a href="" class="solution-icon"><i class="fa fa-bug"></i></a>*@
                    <div class="solution-title-wrap">
                        <a asp-controller="Web_sites" asp-action="Landing" class="solution-title">
                            <h2>Лендинг</h2>
                        </a>
                        <p>
                            Как правило это одна интернет страница, созданная для конкретного товара или
                            услуги побуждающая к действию целевую аудиторию
                        </p>

                    </div>
                    <ul>
                        <li>
                            Купить готовый: <strong>5000</strong>
                        </li>
                        <li>
                            Создание: <strong>5000</strong>
                        </li>
                        <li>
                            Разработка: <strong>5000</strong>
                        </li>
                    </ul>
                    <a asp-controller="Web_sites" asp-action="Landing" class="btn btn-price-solution">Подробнее</a>
                </div>
            </div>
            <div class="solution-item-wrap">
                <div class="solution-item">
                    @*<a href="" class="solution-icon"><i class="fa fa-bug"></i></a>*@
                    <div class="solution-title-wrap">
                        <a asp-controller="Web_sites" asp-action="Corporate" class="solution-title">
                            <h2>Корпоративный</h2>
                        </a>
                        <p>
                            Содержит исчерпывающую информацию о вашей фирме, имеет каталог продукции/услуг,
                            галерею, раздел деловой информации.
                        </p>

                    </div>
                    <ul>
                        <li>
                            Купить готовый: <strong>5000</strong>
                        </li>
                        <li>
                            Создание: <strong>5000</strong>
                        </li>
                        <li>
                            Разработка: <strong>5000</strong>
                        </li>
                    </ul>
                    <a asp-controller="Web_sites" asp-action="Corporate" class="btn btn-price-solution">Подробнее</a>
                </div>
            </div>
            <div class="solution-item-wrap">
                <div class="solution-item">
                    @*<a href="" class="solution-icon"><i class="fa fa-bug"></i></a>*@
                    <div class="solution-title-wrap">
                        <a asp-controller="Web_sites" asp-action="Shop" class="solution-title">
                            <h2>Интернет магазин</h2>
                        </a>
                        <p>
                            Торгует товарами в Интернете. Позволяет пользователям сформировать заказ на
                            покупку, выбрать способ оплаты и доставки заказа.<br />
                            @*Позволяет принимать заказы в интернете 24 х 7, а удобная панель администратора легко и
                            быстро их обрабатывать.*@
                        </p>

                    </div>
                    <ul>
                        <li>
                            Купить готовый: <strong>5000</strong>
                        </li>
                        <li>
                            Создание: <strong>5000</strong>
                        </li>
                        <li>
                            Разработка: <strong>5000</strong>
                        </li>
                    </ul>
                    <a asp-controller="Web_sites" asp-action="Shop" class="btn btn-price-solution">Подробнее</a>
                </div>
            </div>
            <div class="solution-item-wrap">
                <div class="solution-item">
                    @*<a href="" class="solution-icon"><i class="fa fa-bug"></i></a>*@
                    <div class="solution-title-wrap">
                        <a asp-controller="Web_sites" asp-action="Information" class="solution-title">
                            <h2>Информационный</h2>
                        </a>
                        <p>
                            К этому виду можно отнести сайты, содержащие информацию по той или иной теме,
                            например: образовательный, развлекательный
                        </p>

                    </div>
                    <ul>
                        <li>
                            Купить готовый: <strong>5000</strong>
                        </li>
                        <li>
                            Создание: <strong>5000</strong>
                        </li>
                        <li>
                            Разработка: <strong>5000</strong>
                        </li>
                    </ul>
                    <a asp-controller="Web_sites" asp-action="Information" class="btn btn-price-solution">Подробнее</a>
                </div>
            </div>
            <div class="solution-item-wrap">
                <div class="solution-item">
                    @*<a href="" class="solution-icon"><i class="fa fa-bug"></i></a>*@
                    <div class="solution-title-wrap">
                        <a asp-controller="Web_sites" asp-action="Promosite" class="solution-title">
                            <h2> Не знаете что выбрать?</h2>
                        </a>
                        <p>
                            Деление сайтов на виды, носит весьма условный характер,
                        </p>

                    </div>
                    <a asp-controller="Web_sites" asp-action="Promosite" class="btn btn-price-solution">Подробнее</a>
                </div>
            </div>


        </div> @*solution-row flex*@
    </section>
</div> <!--container-->
 
@await Component.InvokeAsync("OrderForm")
