@{
    ViewData["Title"] = "Цены на сайты в OlxaWeb";
    ViewData["Description"] = "Краткий перечень цен на создание, разработку и покупку сайтов в OlxaWeb";
    ViewBag.SelectedMenu = "HomePrice";
}
<div class="species-site-wrap">
    <h1>Сайты</h1>
    <small>Каталог сайтов которые мы делаем</small>
    <div class="container">
        <div class="species-site">
            <div id="faq-links">

                <div id="visit" class="faq-selected">Визитка</div>
                <div id="landung">Landing</div>
                <div id="corporate">Корпоративный</div>
                <div id="shop">Интернет магазин</div>
                <div id="information">Информационный</div>
            </div>

            <div id="faq-wrapper" class="about-visit ">

                <div class="faq-group">
                    <div class="slide-left">
                        <h2>Визитка</h2>
                        <p class="faq-description">
                            Содержит всю необходимую информацию о вас или вашей фирме,
                            как правило состоит из одной или нескольких страниц.
                            Имеет форму обратной связи и схему проезда, но при необходимости базовый функционал
                            можно расширить, например, добавить калькулятор, галерею, новости и пр.
                        </p>
                    </div>

                    <hr>
                </div><!--faq-group-->
                <div class="slide-left">
                    <div class="faq">
                        <ul class="faq-accordion">
                            <li>
                                <i></i>
                                <a href="#">Готовые решения</a>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                <ul class="faq-content">
                                    <li>
                                        <div><p>Bacon ipsum dolor sit amet ham beef ribs pork, sirloin tail meatball filet mignon pancetta strip steak. T-bone swine turducken fatback beef ribs andouille meatball. Corned beef short ribs ribeye, hamburger brisket venison capicola boudin filet mignon drumstick shankle bacon beef. Shoulder shank filet k.</p></div>
                                    </li>
                                </ul>
                            </li>
                            <!--Bacon ipsum-->

                            <li>
                                <a href="#">Создание</a>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                <ul class="faq-content">
                                    <li>
                                        <div><p>ester saccharification mead lambic draft (draught), hand pump cask. brewing ale balthazar hops, " bitter becher craft beer keg alpha acid." crystal malt racking mouthfeel mash, barrel ale; malt! brewpub; biere de garde balthazar acid rest alcohol carbonation. wit beer krug brew mash hop back? shelf life, balthazar hand pump.</p></div>
                                    </li>
                                </ul>
                            </li>
                            <!--Beer ipsum-->

                            <li>
                                <a href="#">Разработка</a>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                <ul class="faq-content">
                                    <li>
                                        <div><p>Alrighty then it's because i'm green isn't it! here she comes to wreck the day. alrighty then kinda hot in these rhinos. i just heard about evans new position,good luck to you evan backstabber, bastard, i mean baxter. your entrance was good, his was better. we're going for a ride on the information super highway. we're going for a ride on the information super highway. look at that, it's exactly three seconds before i honk your nose and pull your underwear over your head. brain freeze. we got no food we got no money and our pets heads are falling off! haaaaaaarry.</p></div>
                                    </li>
                                </ul>
                            </li>
                            <!--Carey ipsum-->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="about-landung faq-hide">

                <div class="faq-group">
                    <div class="slide-left">
                        <h2>Landing</h2>
                        <p class="faq-description">
                            Как правило это одна интернет страница, созданная для конкретного товара или
                            услуги побуждающая к действию целевую аудиторию (покупка или подписка).
                            Состоит из блоков, каждый из которых выполняет конкретную задачу.
                        </p>
                    </div>

                    <hr>
                </div>

                <div class="slide-left">
                    <ul class="faq-accordion">

                        <li>
                            <a href="#">Готовые решения</a>
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            <ul class="faq-content">
                                <li>
                                    <div><p>Bacon ipsum dolor sit amet ham beef ribs pork, sirloin tail meatball filet mignon pancetta strip steak. T-bone swine turducken fatback beef ribs andouille meatball. Corned beef short ribs ribeye, hamburger brisket venison capicola boudin filet mignon drumstick shankle bacon beef. Shoulder shank filet mignon, kevin meatball beef ribs short loin shankle kielbasa jowl pancetta. Biltong shank tri-tip prosciutto sirloin pastrami. Turkey swine pork loin ground round pig chicken kielbasa sausage kevin ham hock.</p></div>
                                </li>
                            </ul>
                        </li>
                        <!--Bacon ipsum-->

                        <li>
                            <a href="#">Создание</a>
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            <ul class="faq-content">
                                <li>
                                    <div><p>ester saccharification mead lambic draft (draught), hand pump cask. brewing ale balthazar hops, " bitter becher craft beer keg alpha acid." crystal malt racking mouthfeel mash, barrel ale; malt! brewpub; biere de garde balthazar acid rest alcohol carbonation. wit beer krug brew mash hop back? shelf life, balthazar hand pump.</p></div>
                                </li>
                            </ul>
                        </li>
                        <!--Beer ipsum-->

                        <li>
                            <a href="#">Разработка</a>
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            <ul class="faq-content">
                                <li>
                                    <div><p>Alrighty then it's because i'm green isn't it! here she comes to wreck the day. alrighty then kinda hot in these rhinos. i just heard about evans new position,good luck to you evan backstabber, bastard, i mean baxter. your entrance was good, his was better. we're going for a ride on the information super highway. we're going for a ride on the information super highway. look at that, it's exactly three seconds before i honk your nose and pull your underwear over your head. brain freeze. we got no food we got no money and our pets heads are falling off! haaaaaaarry.</p></div>
                                </li>
                            </ul>
                        </li>
                        <!--Carey ipsum-->
                    </ul>

                </div><!--lide-left -->
            </div>

            <div class="about-corporate faq-hide">

                <div class="faq-group">
                    <div class="slide-left">
                        <h2>Корпоративный</h2>
                        <p class="faq-description">
                            Содержит исчерпывающую информацию о вашей фирме, в отличии от сайта визитки имеет
                            более сложную структуру за счет каталога продукции/услуг, галереи, деловой информации.
                        </p>
                    </div>

                    <hr>
                </div>
                <div class="slide-left">
                    <ul class="faq-accordion">

                        <li>
                            <a href="#">Готовые решения</a>
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            <ul class="faq-content">
                                <li>
                                    <div><p>Bacon ipsum dolor sit amet ham beef ribs pork, sirloin tail meatball filet mignon pancetta strip steak. T-bone swine turducken fatback beef ribs andouille meatball. Corned beef short ribs ribeye, hamburger brisket venison capicola boudin filet mignon drumstick shankle bacon beef. Shoulder shank filet mignon, kevin meatball beef ribs short loin shankle kielbasa jowl pancetta. Biltong shank tri-tip prosciutto sirloin pastrami. Turkey swine pork loin ground round pig chicken kielbasa sausage kevin ham hock.</p></div>
                                </li>
                            </ul>
                        </li>
                        <!--Bacon ipsum-->

                        <li>
                            <a href="#">Создание</a>
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            <ul class="faq-content">
                                <li>
                                    <div><p>ester saccharification mead lambic draft (draught), hand pump cask. brewing ale balthazar hops, " bitter becher craft beer keg alpha acid." crystal malt racking mouthfeel mash, barrel ale; malt! brewpub; biere de garde balthazar acid rest alcohol carbonation. wit beer krug brew mash hop back? shelf life, balthazar hand pump.</p></div>
                                </li>
                            </ul>
                        </li>
                        <!--Beer ipsum-->

                        <li>
                            <a href="#">Разработка</a>
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            <ul class="faq-content">
                                <li>
                                    <div><p>Alrighty then it's because i'm green isn't it! here she comes to wreck the day. alrighty then kinda hot in these rhinos. i just heard about evans new position,good luck to you evan backstabber, bastard, i mean baxter. your entrance was good, his was better. we're going for a ride on the information super highway. we're going for a ride on the information super highway. look at that, it's exactly three seconds before i honk your nose and pull your underwear over your head. brain freeze. we got no food we got no money and our pets heads are falling off! haaaaaaarry.</p></div>
                                </li>
                            </ul>
                        </li>
                        <!--Carey ipsum-->
                    </ul>
                </div><!--slide-left-->
            </div>

            <div class="about-shop faq-hide">

                <div class="faq-group">
                    <div class="slide-left">
                        <h2>Интернет магазин</h2>
                        <p class="faq-description">
                            Позволяет принимать заказы в интернете 24 х 7, а удобная панель администратора легко и
                            быстро их обрабатывать. Гибкая структура позволяет расширить ассортимент
                            продукции и добавлять новые способы оплаты и доставки.
                        </p>
                    </div>

                    <hr>
                </div>
                <div class="slide-left">
                    <ul class="faq-accordion">

                        <li>
                            <a href="#">Готовые решения</a>
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            <ul class="faq-content">
                                <li>
                                    <div><p>Bacon ipsum dolor sit amet ham beef ribs pork, sirloin tail meatball filet mignon pancetta strip steak. T-bone swine turducken fatback beef ribs andouille meatball. Corned beef short ribs ribeye, hamburger brisket venison capicola boudin filet mignon drumstick shankle bacon beef. Shoulder shank filet mignon, kevin meatball beef ribs short loin shankle kielbasa jowl pancetta. Biltong shank tri-tip prosciutto sirloin pastrami. Turkey swine pork loin ground round pig chicken kielbasa sausage kevin ham hock.</p></div>
                                </li>
                            </ul>
                        </li>
                        <!--Bacon ipsum-->

                        <li>
                            <a href="#">Создание</a>
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            <ul class="faq-content">
                                <li>
                                    <div><p>ester saccharification mead lambic draft (draught), hand pump cask. brewing ale balthazar hops, " bitter becher craft beer keg alpha acid." crystal malt racking mouthfeel mash, barrel ale; malt! brewpub; biere de garde balthazar acid rest alcohol carbonation. wit beer krug brew mash hop back? shelf life, balthazar hand pump.</p></div>
                                </li>
                            </ul>
                        </li>
                        <!--Beer ipsum-->

                        <li>
                            <a href="#">Разработка</a>
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            <ul class="faq-content">
                                <li>
                                    <div><p>Alrighty then it's because i'm green isn't it! here she comes to wreck the day. alrighty then kinda hot in these rhinos. i just heard about evans new position,good luck to you evan backstabber, bastard, i mean baxter. your entrance was good, his was better. we're going for a ride on the information super highway. we're going for a ride on the information super highway. look at that, it's exactly three seconds before i honk your nose and pull your underwear over your head. brain freeze. we got no food we got no money and our pets heads are falling off! haaaaaaarry.</p></div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div><!--slide-left-->
            </div>

            <div class="about-information faq-hide">

                <div class="faq-group">
                    <div class="slide-left">
                        <h2>Информационный</h2>
                        <p class="faq-description">
                            К этому виду можно отнести сайты, содержащие информацию по той или иной теме,
                            например: кулинарный, образовательный, развлекательный
                        </p>
                    </div>

                    <hr>
                </div>
                <div class="slide-left">
                    <ul class="faq-accordion">

                        <li>
                            <a href="#">Готовые решения</a>
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            <ul class="faq-content">
                                <li>
                                    <div><p>Bacon ipsum dolor sit amet ham beef ribs pork, sirloin tail meatball filet mignon pancetta strip steak. T-bone swine turducken fatback beef ribs andouille meatball. Corned beef short ribs ribeye, hamburger brisket venison capicola boudin filet mignon drumstick shankle bacon beef. Shoulder shank filet mignon, kevin meatball beef ribs short loin shankle kielbasa jowl pancetta. Biltong shank tri-tip prosciutto sirloin pastrami. Turkey swine pork loin ground round pig chicken kielbasa sausage kevin ham hock.</p></div>
                                </li>
                            </ul>
                        </li>
                        <!--Bacon ipsum-->

                        <li>
                            <a href="#">Создание</a>
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            <ul class="faq-content">
                                <li>
                                    <div><p>ester saccharification mead lambic draft (draught), hand pump cask. brewing ale balthazar hops, " bitter becher craft beer keg alpha acid." crystal malt racking mouthfeel mash, barrel ale; malt! brewpub; biere de garde balthazar acid rest alcohol carbonation. wit beer krug brew mash hop back? shelf life, balthazar hand pump.</p></div>
                                </li>
                            </ul>
                        </li>
                        <!--Beer ipsum-->

                        <li>
                            <a href="#">Разработка</a>
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            <ul class="faq-content">
                                <li>
                                    <div><p>Alrighty then it's because i'm green isn't it! here she comes to wreck the day. alrighty then kinda hot in these rhinos. i just heard about evans new position,good luck to you evan backstabber, bastard, i mean baxter. your entrance was good, his was better. we're going for a ride on the information super highway. we're going for a ride on the information super highway. look at that, it's exactly three seconds before i honk your nose and pull your underwear over your head. brain freeze. we got no food we got no money and our pets heads are falling off! haaaaaaarry.</p></div>
                                </li>
                            </ul>
                        </li>
                        <!--Carey ipsum-->
                    </ul>
                </div><!--slide-left-->
            </div>




        </div>
    </div><!--container-->
</div>
