@model IEnumerable<Service>

@{
    ViewData["Title"] = "Услуги и Цены";
}


<div class="all-service-wrap">
    <section class="catalog">
        <div class="container">
            <div class="accordion">
                <ul>
                    @foreach (string category in @ViewBag.CategoryService)
            {

                        <li>
                            <input type="checkbox">
                            <i></i>
                            <h2 class="title_block">  @category</h2>
                            <div class="content">
                                <table class="service">
                                    @foreach (var service in Model)
                                    {
                                        if (category == service.Category)
                                        {
                                            <tr>
                                                <td>@service.Title</td>
                                                <td>@service.Price</td>
                                                <td align="right">
                                                    <a href="#modal" class="btn btn-ghost">
                                                        Подробнее
                                                    </a>
                                                </td>
                                                @*<td class="add">+</td>*@

                                            </tr>

                                        }
                                    }
                                </table>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </section>


    <section>
        @await Component.InvokeAsync("OrderForm")
    </section>
</div>
@*модальное окно*@
<section class="modal-window-service">
    <a href="#" class="overlay_det" id="modal"></a>
    <div class="popup_det">
        cjlth;bvjt
        <a class="close_det" title="Закрыть" href="#close_det"></a>
    </div>
</section>








