@model IEnumerable<Service>

@{
    ViewData["Title"] = "Услуги и Цены";
}




<div class="container">
    
        <div class="accordion">
            <ul>
                @foreach (string category in @ViewBag.CategoryService)
                {

                    <li>
                        <input type="checkbox">
                        <i></i>
                        <h2 class="title_block">@category</h2>
                        <div class="content">
                            <table class="service">
                                @foreach (var service in Model)
                                {
                                    if (category == service.Category)
                                    {
                                        <tr>
                                            <td>@service.Title</td>
                                            <td>@service.Price</td>
                                            <td><a href="#">Пример</a></td>
                                            <td class="add">+</td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </li>

                }
            </ul>
        </div>
   

</div>









