@model IEnumerable<Service>

@{
    ViewData["Title"] = "Услуги и Цены";
}


<div class="all-service-wrap">
    <section class="catalog">
        <div class="container">
            <div class="accordion">
                <ul>
                    @foreach (string category in @ViewBag.CategoryService)
            {

                        <li>
                            <input type="checkbox">
                            <i></i>
                            <h2 class="title_block">  @category</h2>
                            <div class="content">
                                <table class="service">
                                    @foreach (var service in Model)
                                    {
                                        if (category == service.Category)
                                        {
                                            <tr>
                                                <td>@service.Title</td>
                                                <td>@service.Price</td>
                                                <td align="right"><a href="#" class="btn btn-ghost">Подробнее</a></td>
                                                @*<td class="add">+</td>*@

                                            </tr>
                                        }
                                    }
                                </table>
                            </div>
                        </li>
                    }
                </ul>                
            </div>
        </div>
    </section>

    <section>
        @await Component.InvokeAsync("OrderForm")
    </section>
</div>


<a href="#win4" class="button button-orange">Пример</a>
<a href="#x" class="overlay" id="win4"></a>
<div class="popup">
    <img class="is-image" src="ваша-картинка.jpg" alt="" />
    <a class="close" title="Закрыть" href="#close"></a>
</div>






