@model Service
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "  Услуга: " + @Model.Title;
    ViewData["Robots"] = "none";
}
<div class="content-navigation">
    <div class="admin-button-group">
        <div class="btn btn-add">Сохранить</div>
        <div class="btn dtn-del">Удалить</div>
        <a href="#" class="btn btn-see">Посмотреть</a>
    </div>
</div>
<form asp-action="EditService" class="service-form">

    <input type="hidden" asp-for="ServiceID" />

    <div class="service-wrap">
        <div class="title">
            <label asp-for="Title"></label>
            <input type="text" asp-for="Title">
        </div>

        <div class="category">
            <label asp-for="Category"></label>
            @*<select asp-for="Category" asp-items="ViewBag.Category"></select>*@
            @*<select name="Category">
                    <option value="Сайты">Сайты</option>
                    <option value="Дополнительные услуги">Дополнительные</option>
                    <option value="Продвижение">Продвижение</option>
                    <option value="Информационный">Информационный</option>
                    <option value="Копоративный">Копоративный</option>
                </select>*@
            <input type="text" asp-for="Category"id="categoryService">
        </div>

        <div class="price">
            <label asp-for="Price"></label>
            <input type="text" asp-for="Price">
        </div>

        <div class="price-client">
            <label asp-for="PriceForClient"></label>
            <input type="text" asp-for="PriceForClient">
        </div>
    </div>
    <div class="service-wrap">

        <div class="demo-site">
            <label asp-for="DemoSite"></label>
            <input type="text" asp-for="DemoSite" />
        </div>
        <div class="demo-admin">
            <label asp-for="DemoAdmin"></label>
            <input type="text" asp-for="DemoAdmin" />
        </div>
        <div class="time-develop">
            <label asp-for="TimeDevelopForClient"></label>
            <input type="text" asp-for="TimeDevelopForClient" />
        </div>
        <div class="sorting">
            <label asp-for="SortingWeight"></label>
            <input type="number" asp-for="SortingWeight" />
        </div>
    </div>


        <div class="description">
            <label asp-for="Description"></label>
            <textarea asp-for="Description"></textarea>
        </div>

        <div class="published">
            <label asp-for="Published"></label>
            <input type="checkbox" asp-for="Published">
        </div>
    


        <div class="option-service">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
            <a asp-controller="Service" asp-action="AllServiceAdmin">Вернуться</a>
        </div>
</form>


<form asp-action="DeleteService"class="btn-service-delete">
    <input type="hidden" asp-for="ServiceID" />    
    <input type="submit" value="X" class="btn-close" title="Удалить"/>
</form>


