@model IEnumerable<string>

<section class="categories">
    <h3 class="blog-categories">
        @*<i class="fa fa-cogs" aria-hidden="true"></i>*@
        Категории
    </h3>
    <ul>
        <li>
            <a asp-action="AllPosts" asp-controller="Blog" asp-route-category="" class=@(ViewBag.SelectedCategory==null ? "active":"") >Все посты</a>
        </li>
        @foreach (var category in Model)
        {
            <li>              
                <a class=@(category == ViewBag.SelectedCategory ? "active": "")
                   asp-action=AllPosts
                   asp-controller=Blog
                   asp-route-category=@category
                   asp-route-page=1 >

                    @category
                <span>10</span>
                </a>
            </li>
        }
    </ul>
</section>