@model  ProductListViewModel

@{
    ViewData["Title"] = "Готовые сайты";
}

<div class="products-wrapper">
    <div class="container">
        <div class="products-wrapper-title">
            <h2>Готовые Сайты</h2>
            <small>Просто выбирите понравившийся сайт и оформите заказ</small>
        </div>
        <div class="product-content">
            <div class="product-filter-wrap">
                <h3>
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    Категории
                </h3>
                <div class="filter">
                    <ul class="nav-filters">
                        <li class="active"><a href="#" data-filter="*">Все</a></li>
                        <li><a href="#" data-filter=".vis">Визитка</a></li>
                        <li><a href="#" data-filter=".lend">Лендинг</a></li>
                        <li><a href="#" data-filter=".corp">Корпоративный</a></li>
                        <li><a href="#" data-filter=".shop">Интернет-магазин</a></li>
                        <li><a href="#" data-filter=".inform">Информационный</a></li>
                    </ul>
                </div>
            </div>
            <div class="products-catalog-wrap grid isotope-grid filter-grid">
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>

                <div class="product-item grid-item view vis">

                    <div class="product">
                        <figure>
                            <img src="~/images/blog/post01.jpg" alt="Product Image" class="product-image">
                        </figure>

                        <div class="product-description">

                            <div class="info">
                                <h1>LOREM IPSUM</h1>
                            </div>

                            <div class="price">
                                12 000
                            </div>
                        </div>

                        <div class="product-sidebar">
                            <button class="buy">
                                <span>Купить</span>
                            </button>

                            <button class="info">
                                <span>Инфо</span>
                            </button>

                            <button class="demo">
                                <span>Демо</span>
                            </button>

                            @*<button class="colors">
                                    <span>
                                        <a href="" class="color black"></a>
                                        <a href="" class="color white"></a>
                                        <a href="" class="color red"></a>
                                    </span>
                                </button>*@
                        </div>
                    </div>
                </div>
                <div class="product-item grid-item view vis">

                    <div class="product">
                        <figure>
                            <img src="~/images/blog/post01.jpg" alt="Product Image" class="product-image">
                        </figure>

                        <div class="product-description">

                            <div class="info">
                                <h1>LOREM IPSUM</h1>
                            </div>

                            <div class="price">
                                12 000
                            </div>
                        </div>

                        <div class="product-sidebar">
                            <button class="buy">
                                <span>Купить</span>
                            </button>

                            <button class="info">
                                <span>Инфо</span>
                            </button>

                            <button class="demo">
                                <span>Демо</span>
                            </button>

                            @*<button class="colors">
                        <span>
                            <a href="" class="color black"></a>
                            <a href="" class="color white"></a>
                            <a href="" class="color red"></a>
                        </span>
                    </button>*@
                        </div>
                    </div>
                </div>
                <div class="product-item grid-item view lend">

                    <div class="product">
                        <figure>
                            <img src="~/images/blog/post01.jpg" alt="Product Image" class="product-image">
                        </figure>

                        <div class="product-description">

                            <div class="info">
                                <h1>LOREM IPSUM</h1>
                            </div>

                            <div class="price">
                                12 000
                            </div>
                        </div>

                        <div class="product-sidebar">
                            <button class="buy">
                                <span>Купить</span>
                            </button>

                            <button class="info">
                                <span>Инфо</span>
                            </button>

                            <button class="demo">
                                <span>Демо</span>
                            </button>

                            @*<button class="colors">
                        <span>
                            <a href="" class="color black"></a>
                            <a href="" class="color white"></a>
                            <a href="" class="color red"></a>
                        </span>
                    </button>*@
                        </div>
                    </div>
                </div>
                <div class="product-item grid-item view lend">

                    <div class="product">
                        <figure>
                            <img src="~/images/blog/post01.jpg" alt="Product Image" class="product-image">
                        </figure>

                        <div class="product-description">

                            <div class="info">
                                <h1>LOREM IPSUM</h1>
                            </div>

                            <div class="price">
                                12 000
                            </div>
                        </div>

                        <div class="product-sidebar">
                            <button class="buy">
                                <span>Купить</span>
                            </button>

                            <button class="info">
                                <span>Инфо</span>
                            </button>

                            <button class="demo">
                                <span>Демо</span>
                            </button>

                            @*<button class="colors">
                        <span>
                            <a href="" class="color black"></a>
                            <a href="" class="color white"></a>
                            <a href="" class="color red"></a>
                        </span>
                    </button>*@
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>


