@model  ProductListViewModel

@{
    ViewData["Title"] = "Магазин готовый сайтов OlxaWeb";
    ViewData["Description"] = "Здесь вы можете купить готовый сайт быстро и недорого, просто выберите свой сайт в каталоге готовых решений OlxaWeb и нажмите кнопку 'купить'";
}

<div class="products-wrapper">
    <div class="container">
        <div class="products-wrapper-title">
            <h1>Готовые Сайты</h1>
            <small>Просто выбирите понравившийся сайт и оформите заказ</small>
        </div>
        <div class="product-content">
            <div class="product-filter-wrap">
                <h3>
                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                    Категории
                </h3>
                <div class="filter">
                    <ul class="nav-filters">
                        <li class="active"><a href="#" data-filter="*">Все</a></li>
                        <li><a href="#" data-filter=".Визитка">Визитка</a></li>
                        <li><a href="#" data-filter=".Landing">Landing</a></li>
                        <li><a href="#" data-filter=".Корпоративный">Корпоративный</a></li>
                        <li><a href="#" data-filter=".Интернет-магазин">Интернет-магазин</a></li>
                        <li><a href="#" data-filter=".Информационный">Информационный</a></li>
                    </ul>
                </div>
            </div>
            <div class="products-catalog-wrap grid isotope-grid filter-grid">
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>


                @foreach (var site in Model.Products)
                {
                    <div class="product-item grid-item view @site.Category">

                        <div class="product">
                            <figure>
                                <img src="~/images/blog/post01.jpg" alt="Product Image" class="product-image">
                            </figure>

                            <div class="product-description">

                                <div class="info">
                                    <h1>@site.Name</h1>
                                </div>

                                <div class="price">
                                    @site.Price
                                </div>
                            </div>

                            <div class="product-sidebar">
                                <a href="#" class="buy" title="Купить">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </a>

                                <a class="info" title="Подробнее" asp-controller="Product" asp-action="Product" asp-route-productID="@site.ProductID">
                                    <i class="fa fa-info" aria-hidden="true"></i>
                                </a>

                                <a href="#" class="demo" title="Демо">
                                    <i class="fa fa-object-group" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

