@model  ProductListViewModel

@{
    ViewData["Title"] = "Готовые сайты";
}

<div class="products-wrapper">
    <div class="products-wrapper-title">
        <h2>Готовые Сайты</h2>
        <small>Просто выбирите понравившийся сайт и оформите заказ</small>
    </div>
    <div class="filter">
        <ul class="nav-filters">
            <li class="activa"><a href="#"data-filter="*">Все</a></li>
            <li><a href="#" data-filter=".vis">Визитка</a></li>
            <li><a href="#" data-filter=".lend">Лендинг</a></li>
            <li><a href="#" data-filter=".corp">Корпоративный</a></li>
            <li><a href="#" data-filter=".shop">Интернет-магазин</a></li>
            <li><a href="#" data-filter=".inform">Информационный</a></li>
        </ul>
    </div>
    <div class="products-catalog-wrap grid isotope-grid filter-grid">

    </div>
</div>