@model Product

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = " Редактирование продукта: " + @Model.Name;
    ViewData["Robots"] = "none";
}

<h2>@Model.Name</h2>

<form asp-action="EditProduct" class="edit-product">

    <input type="hidden" asp-for="ProductID" />

    <div class="priduct-group-meta">
        <div class="product-inner-name">
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" required />
        </div>
        <div class="product-inner-price">
            <label asp-for="Price"></label>
            <input type="text" asp-for="Price" />
        </div>
        <div class="product-inner-time">
            <label asp-for="TimeDevelop"></label>
            <input type="text" asp-for="TimeDevelop" />
        </div>
        <div class="product-inner-category">
            <label asp-for="Category"></label>
            <select name="Category" required>
                <option value="@Model.Category">@Model.Category</option>
                <option value="Визитка">Визитка</option>
                <option value="Landing">Landing</option>
                <option value="Корпоративный">Копоративный</option>
                <option value="Интернет-магазин">Интернет-магазин</option>
                <option value="Информационный">Информационный</option>               
                
            </select>
        </div>
        <div class="product-inner-demo">
            <label asp-for="DemoLink"></label>
            <input type="text" asp-for="DemoLink" />
        </div>
        <div class="product-inner-preview">
            <label asp-for="Preview"></label>
                <input type="text" asp-for="Preview" />
            @*<a href="#modal" class="btn btn-ghost">
                Подробнее
            </a>
            <section class="modal-window-service">
                <a href="#" class="overlay_det" id="modal"></a>
                <div class="popup_det">                    
                    <a href="~/lib/rich-filemanager/index.html">gg</a>
                    <a class="close_det" title="Закрыть" href="#close_det"></a>
                </div>
            </section>*@
        </div>
    </div>
    <div class="product-description-wrap">
        <div class="product-description">
            <label asp-for="Description"></label>
            <textarea asp-for="Description"></textarea>
        </div>
        <div class="product-short-description">
            <label asp-for="ShortDescription"></label>
            <textarea asp-for="ShortDescription"></textarea>
        </div>
    </div>

    <div class="product-published">
        <input type="checkbox" asp-for="Published">
        <label asp-for="Published"></label>
    </div>


    <div class="product-sort">
        <input type="number" asp-for="SortingWeight">
        <label asp-for="SortingWeight"></label>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
    </div>
</form>

<div class="btn-control-product">
    <a asp-controller="Product" asp-action="AllProductsAdmin">Назад</a>

    <form asp-action="DeletePortfolio" class="btn-portfolio-delete">
        <input type="hidden" asp-for="ProductID" />
        <input type="submit" value="Удалить" class="btn btn-bad" />
    </form>

</div>