/*РАЗМЕРЫ*/
/*ЦВЕТА*/
html,
body {
  height: 100%;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* ul,
*:before ul,
*:after ul {
  list-style-type: none;
}
img {
  vertical-align: middle;
  display: block;
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
}
.video embed,
.video object,
.video iframe {
  width: 100%;
  height: auto;
}
body {
  font-size: 16px;
  font-family: 'Istok Web', sans-serif;
}
a {
  color: #333;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wrapper .container {
  margin: 0 auto;
}
.wrapper main {
  flex: 1 0 auto;
}
.wrapper .header {
  height: 9em;
  width: 100%;
}
.wrapper .header .toolbar {
  display: flex;
  justify-content: flex-end;
}
.wrapper .header .toolbar a {
  text-decoration: none;
  margin-left: 1em;
  padding: .7em 1.5em;
  color: #0094ff;
}
.wrapper .header .toolbar a:hover {
  color: #0087cc;
  text-shadow: -1px 0 1px white, 0 -1px 1px white, 0 1px 1px white, 1px 0 1px white, 0 0 8px white, 0 0 8px white, 0 0 8px white, 2px 2px 3px black;
}
.wrapper .header .toolbar .btn {
  user-select: none;
  /* убирать выделение текста */
  background: #0094ff;
  /* фон кнопки */
  padding: .7em 1.5em;
  /* отступ от текста */
  outline: none;
  /* убирать контур в Mozilla */
  color: #ecf0f1;
}
.wrapper .header .toolbar .btn:hover {
  background: #99bbff;
  text-shadow: -1px 0 1px white, 0 -1px 1px white, 0 1px 1px white, 1px 0 1px white, 0 0 8px white, 0 0 8px white, 0 0 8px white, 2px 2px 3px black;
}
.wrapper .header .toolbar .btn:active {
  background: #0087cc;
}
.wrapper .navigation {
  width: 100%;
  border-bottom: 1px solid #d1cdcd;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
  background: #fff;
  top: 100px;
  /*высота шапки*/
  position: fixed;
  z-index: 950;
  transition: all 20ms linear;
}
.wrapper .navigation nav {
  display: flex;
  justify-content: space-between;
}
.wrapper .navigation nav .main-menu {
  display: flex;
  list-style: none;
}
.wrapper .navigation nav .main-menu li:hover > a {
  /*при выделении подменю сохраняется стиль*/
  background-color: #0094ff;
  color: #ecf0f1;
}
.wrapper .navigation nav .main-menu .main-menu__item {
  position: relative;
  text-align: center;
  flex: auto;
  transition: all 0.3s;
}
.wrapper .navigation nav .main-menu .main-menu__item:hover > .submenu {
  display: block;
  width: 300%;
}
.wrapper .navigation nav .main-menu .main-menu__item a {
  color: #333;
}
.wrapper .navigation nav .main-menu .main-menu__item a.active {
  background-color: #0094ff;
  color: #ecf0f1;
}
.wrapper .navigation nav .main-menu .main-menu__item a.active::after {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #0094ff;
  left: 50%;
  bottom: -6px;
  margin-left: -6px;
}
.wrapper .navigation nav .main-menu .main-menu__item a.link {
  text-decoration: none;
  line-height: 2;
  padding: 1em;
  display: block;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s;
}
.wrapper .navigation nav .main-menu .main-menu__item a.link:hover {
  background-color: #0094ff;
  color: #ecf0f1;
}
.wrapper .navigation nav .submenu {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding: 1em 0;
  list-style: none;
  background-color: #0094ff;
  color: #ecf0f1;
  position: absolute;
  top: 100%;
  display: none;
}
.wrapper .navigation nav .submenu .submenu__item {
  position: relative;
  text-align: center;
  flex: auto;
  transition: all 0.3s;
  line-height: 1.5;
}
.wrapper .navigation nav .submenu .submenu__item a {
  display: inline-block;
  color: #ecf0f1;
  text-decoration: none;
  text-align: left;
  padding-left: 0.5em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  width: 85%;
  border: 1px solid #00e43c;
}
.wrapper .navigation nav .submenu .submenu__item a:hover {
  background: #00e43c;
}
.wrapper .inner {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 2em;
}
.wrapper .inner .title {
  display: inline-block;
  position: relative;
  padding: 0.5em 2.25em 0.5em 0.875em;
  background-color: #0094ff;
  overflow: hidden;
}
.wrapper .inner .title::before {
  top: -3.6875em;
  border-left: 3.75em solid transparent;
  border-right: 3.75em solid transparent;
  border-top: 7.625em solid #fff;
}
.wrapper .inner .title::after {
  bottom: -3.8125em;
  border-left: 3.75em solid transparent;
  border-right: 3.75em solid transparent;
  border-bottom: 122px solid #fff;
}
.wrapper .inner .title::before,
.wrapper .inner .title::after {
  display: block;
  position: absolute;
  content: "";
  right: -4em;
  width: 0;
  height: 0;
}
.wrapper .inner .title h1 {
  font-size: 1.5em;
  font-weight: normal;
  color: #ecf0f1;
  margin-bottom: 0;
}
.wrapper .inner .breadcrumbs {
  display: inline-block;
  border: 1px solid #d1cdcd;
  padding: 0.562em 1.5em 0.687em 1.5em;
}
.wrapper .inner .breadcrumbs a {
  text-decoration: none;
  border-bottom: 1px dotted #333;
  transition: all 0.25s;
  font-size: 14px;
  font-weight: 600;
  color: #99bbff;
}
.wrapper .inner .breadcrumbs a:hover {
  color: #0094ff;
  border-color: #0094ff;
}
.wrapper .inner .breadcrumbs span {
  font-size: 14px;
  font-weight: 600;
  color: #0094ff;
}
.wrapper .inner .breadcrumbs .delimiter {
  /* стрелка переход*/
  font-weight: 100;
  font-size: 14px;
  color: #99bbff;
}
.wrapper .inner .breadcrumbs > * {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.25em;
}
.wrapper .inner .breadcrumbs > *:last-child {
  margin-right: 0;
}
footer {
  flex: 0 0 auto;
  padding-bottom: 2em;
  margin-top: 5.25em;
}
footer .top-footer {
  width: 100%;
  border-bottom: 1px solid #d1cdcd;
  border-top: 1px solid #d1cdcd;
}
footer .top-footer .tools {
  display: flex;
  justify-content: space-between;
}
footer .top-footer .tools .tools-item {
  padding: 1em 0;
}
footer .top-footer .tools form {
  position: relative;
  border: none;
}
footer .top-footer .tools form input[type=email] {
  height: 100%;
  background: rgba(0, 38, 255, 0.1);
  padding-left: 15px;
  border: none;
}
footer .top-footer .tools form input[type=email]:focus {
  outline: none;
  /*убираем подсветку при фокусе*/
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
footer .top-footer .tools form input[type=email]::-webkit-input-placeholder {
  font-style: italic;
}
footer .top-footer .tools form input[type=email]:-ms-input-placeholder {
  font-style: italic;
}
footer .top-footer .tools form input[type=email]:-moz-placeholder {
  font-style: italic;
}
footer .top-footer .tools form button {
  position: absolute;
  top: 0;
  right: 0;
  width: 3em;
  height: 100%;
  background: #0094ff;
  cursor: pointer;
  border: none;
}
footer .top-footer .tools form button::before {
  content: "\f105";
  font-family: FontAwesome;
  color: #ecf0f1;
  font-size: 20px;
  font-weight: bold;
}
footer .bottom-footer .footer-info {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}
footer .bottom-footer .footer-info .info-item {
  width: 25%;
  padding: 2em;
}
footer .bottom-footer .footer-info .info-item:first-child {
  padding-left: 0;
}
footer .bottom-footer .footer-info .info-item:last-child {
  padding-right: 0;
}
footer .bottom-footer .footer-info .info-item img {
  margin-bottom: 1.5em;
}
footer .bottom-footer .footer-info .info-item p {
  text-align: justify;
  margin-bottom: 1.5em;
}
footer .bottom-footer .footer-info .info-item h3 {
  font-size: 14px;
  color: #d1cdcd;
  margin-bottom: 1.25em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #d9d9d9;
}
footer .bottom-footer .footer-info .info-item ul {
  list-style: none;
  font-size: 14px;
  line-height: 1.8;
}
footer .bottom-footer .footer-info .info-item ul li {
  margin-bottom: 0.687em;
}
footer .bottom-footer .footer-info .info-item ul a {
  position: relative;
  display: block;
  text-decoration: none;
  color: #333;
  padding: 0 1.75em 0 0.75em;
  border: 1px solid #00e43c;
  transition: all 0.3s;
}
footer .bottom-footer .footer-info .info-item ul a:hover {
  background: #00e43c;
  color: #ecf0f1;
}
/*footer*/
/*-------------------promo-site-----------сайт визитка*/
section.content {
  margin: 2em 0;
}
section.content h2 {
  margin-bottom: 1em;
}
section.tabs {
  position: relative;
  width: 100%;
  margin-bottom: 2em;
}
section.tabs .label-wrap {
  display: flex;
  justify-content: space-between;
  background: #0094ff;
}
section.tabs label {
  color: #333;
  cursor: pointer;
  display: block;
  line-height: 45px;
  position: relative;
  top: 0.125em;
  text-align: center;
  width: 100%;
}
section.tabs input {
  display: none;
}
section.tabs #tab_1:checked ~ .label-wrap #tab_l1,
section.tabs #tab_2:checked ~ .label-wrap #tab_l2,
section.tabs #tab_3:checked ~ .label-wrap #tab_l3 {
  background: #ecf0f1;
  border-color: #fff;
  top: 0;
  z-index: 3;
}
section.tabs .tabs_cont {
  background: #ecf0f1;
  position: relative;
  padding-top: 2em;
  z-index: 2;
  height: 15em;
}
section.tabs .tabs_cont > div {
  position: absolute;
  left: -9999px;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
section.tabs #tab_1:checked ~ .tabs_cont #tab_c1,
section.tabs #tab_2:checked ~ .tabs_cont #tab_c2,
section.tabs #tab_3:checked ~ .tabs_cont #tab_c3 {
  position: static;
  left: 0;
  opacity: 1;
}
#toTop {
  width: 1.5em;
  position: fixed;
  background: #333;
  text-align: center;
  color: #ecf0f1;
  opacity: .2;
  height: 100%;
  font-size: 1.5em;
  cursor: pointer;
  display: none;
  bottom: 0;
  z-index: 1000;
}
#toTop:hover {
  transition: all .3s ease;
  opacity: .7;
}
#toTop i {
  position: relative;
  top: 45%;
}
/*-----------------------------------------------------блог*/
.blog {
  display: flex;
}
.blog i {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.687em;
  color: #0094ff;
  margin-top: -0.312em;
  margin-right: 0.05em;
}
.blog .post {
  width: 70%;
  position: relative;
  padding-right: 1.5em;
}
.blog .post .post__item {
  display: block;
  width: 100%;
  border: 1px solid #d1cdcd;
  margin-bottom: 1.87em;
}
.blog .post .post__item .post_img {
  display: block;
  padding-bottom: 0;
  border: none;
}
.blog .post .post__item .post-body {
  text-align: center;
  padding: 1.06em 1.5em 2.25em 1.5em;
}
.blog .post .post__item .post-body .post-meta {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.562em;
  border-bottom: 1px solid #d1cdcd;
  width: 100%;
  margin-bottom: 1.5em;
}
.blog .post .post__item .post-body .post-meta span {
  color: #d1cdcd;
  margin-right: 0.31em;
  margin-bottom: 0.37em;
}
.blog .post .post__item .post-body .post-meta a {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  border-bottom: 1px dashed #0094ff;
}
.blog .post .post__item .post-body .post-meta .post-comments {
  border-bottom: none;
}
.blog .post .post__item .post-body .post-title {
  display: block;
  color: #333;
  padding-bottom: 0;
  padding-top: 0.312em;
  margin-bottom: 4.5em;
}
.blog .post .pagination {
  padding-top: 1em;
  border-top: 1px solid #d1cdcd;
  margin-top: 2em;
}
.blog .post .pagination .nav-links a,
.blog .post .pagination .nav-links span {
  padding: 0.5em 0.9em;
  margin: 0 0 0.62em -0.125em;
  transition: color 0.3s;
}
.blog .post .pagination .nav-links .current {
  cursor: default;
  color: #fff;
  background: #0094ff;
}
.blog .sidebar {
  position: relative;
  padding: 0 1.2em;
  width: 30%;
}
.blog .sidebar .widget-sidebar {
  padding: 1.125em 1.5em 1.5em 1.5em;
  margin-bottom: 1.5em;
  border: 1px solid #d1cdcd;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.blog .sidebar h3 {
  font-size: 14px;
  color: #d1cdcd;
  margin-bottom: 1.2em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #d1cdcd;
}
.blog .sidebar .blog-search-wrap {
  margin-bottom: 1.5em;
}
.blog .sidebar .blog-search-wrap form.blog-search {
  position: relative;
  display: block;
  width: 100%;
}
.blog .sidebar .blog-search-wrap form.blog-search input {
  display: block;
  width: 100%;
  line-height: 1.5;
  color: #333;
  font-size: 14px;
  height: 4.31em;
  padding-left: 2.8em;
  margin-bottom: 0;
  background: #e5eaff;
  transition: all 0.3s;
  border: none;
}
.blog .sidebar .blog-search-wrap form.blog-search input:focus {
  outline: none;
}
.blog .sidebar .blog-search-wrap form.blog-search button[type=submit] {
  position: absolute;
  top: 50%;
  left: 1.5em;
  background: none;
  border: none;
  font-size: 11px;
  color: #0094ff;
  padding: 0;
  margin-top: -0.5em;
}
.blog .sidebar .categories ul {
  font-size: 14px;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.8;
}
.blog .sidebar .categories ul li {
  padding-bottom: 11px;
}
.blog .sidebar .categories ul li a {
  position: relative;
  display: block;
  color: #333;
  padding: 0 1.75em 0 0.75em;
  border: 1px solid #00e43c;
  transition: all 0.3s;
}
.blog .sidebar .categories ul li a span {
  display: block;
  position: absolute;
  right: 0.625em;
  top: 0;
  color: #d1cdcd;
  transition: color 0.3s;
}
.blog .sidebar .categories ul li :hover {
  background: #00e43c;
  color: #ecf0f1;
}
.blog .sidebar .categories ul li :hover > span {
  color: #ecf0f1;
}
.blog .sidebar .best .item {
  display: table;
  width: 100%;
  margin-bottom: 1.5em;
}
.blog .sidebar .best .view {
  width: 3.75em;
  height: 3.75em;
  display: table-cell;
  vertical-align: top;
}
.blog .sidebar .best .info {
  padding-left: 0.75em;
  display: table-cell;
  vertical-align: top;
}
.blog .sidebar .best h4 {
  font-size: 14px;
  margin-bottom: 0;
}
.blog .sidebar .best h4 a {
  line-height: 1.7;
}
.blog .sidebar .featured-tags a {
  position: relative;
  display: inline-block;
  font-size: 14px !important;
  height: 1.5em;
  color: #fff;
  font-weight: normal;
  line-height: 1.5em;
  text-decoration: none;
  padding: 0 0.8em;
  background-color: #0094ff;
  margin: 0.312em 0.5em 0.312em 0;
  white-space: nowrap;
  transition: background-color 0.3s;
}
.blog .sidebar .featured-tags a:before {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 0;
  top: 0;
  right: -0.5em;
  border-top: 0.75em solid transparent;
  border-left: 0.5em solid #0094ff;
  border-bottom: 0.75em solid transparent;
  transition: border-color 0.3s;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
  .container {
    width: 73.125em;
  }
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 60em;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 45em;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .container {
    width: 30em;
  }
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
  html {
    text-size-adjust: none;
  }
  main-menu a {
    font-size: 90%;
    padding: 10px 8px;
  }
  .container {
    width: 100%;
  }
}
/*@media screen and (max-width: 991px) {
    header{
        background:#fff;
    }
     .topbar {
        padding-bottom: 1.1em;
    }
     .nav-toggle {
        display: block;
    }

    .toolbar {
        position: relative;
        top: auto;
        right: auto;
        text-align: center;
        margin-top: 0;
        overflow: hidden;
        max-height: 0;
        transform: none;
        transition: all 0.3s;
    }

    .navigation {
        position: relative;
        overflow: hidden;
        max-height: 0;
        border-color: transparent !important;
        top: auto;
        transition: all 0.5s;
    }

    .navigation .main-menu {
        display: block;
        width: 100%;
    }

    .navigation .main-menu > li {
        position: static;
        width: 100%;
        margin-bottom: 5px;
    }

    .navigation .main-menu > li:last-child {
        margin-bottom: 0;
    }

    .navigation .main-menu > li .submenu,
    .navigation .main-menu > li .submenu {
        display: block;
        position: relative;
        width: 100%;
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 0;
        max-height: 0;
        transition: all 0.4s;
    }

    .navigation .main-menu > li.active > a {
        color: #fff;
        background-color: #2895f1;
    }

    .navigation .main-menu > li.active  > a > i {
        color: #fff;
    }
   
}*/
